.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #605950;
  position: relative;
}

.rangeslider--horizontal {
  height: 1px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: transparent;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: @white;
  border: 5px solid #b0b11b;
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  .rounded(50%);
  .box-shadow(0 0 7px rgba(0,0,0,0.3));
  z-index: 2;
  .transition(background 0.15s);

  &:active {
    .opacity(0.8);
  }
}

.rangeslider--horizontal .rangeslider__handle {
  top: -17px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background: #b0b11b;
}