{# Grant Step - 2 #}

{% for block in entry.step2WhatWeFund.all() %}

	{% switch block.type %}

		{# Intro #}

		{% case "intro" %}

			<div class="section--column-text style--grey block--step-2--intro">

				{# Lines #}

				<div class="effect--lines uk-visible@l">

					{% set vars = {'style': 'lines--' ~ entry.styling, 'totalLines': 51} %}

					{% include "_inc/_effects/_lines" with vars %}
				
				</div>

				<div class="uk-container">

					{# Column Content #}

					<div class="grid--column-text" uk-grid>
						
						{# Column Left #}

						{% if block.leftColumn|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-1-3@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.leftColumn }}
								
								</div>
							
							</div>

						{% endif %}

						{# Column Right #}

						{% if block.rightColumn|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-2-5@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.rightColumn }}
								
								</div>
							
							</div>

						{% endif %}
					
					</div>

				</div>

			</div>

		{# Copy #}

		{% case "copy" %}

			<div class="section--column-text style--grey block--step-2--copy">

				<div class="uk-container">

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1">

								<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
								
									<div class="inner--column-text--heading">

										<h2>{{ block.heading }}</h2>

									</div>
								
								</div>

							</div>

						{% endif %}
						
						{# Column Left #}

						{% if block.copy|length %}

							<div class="uk-width-1-1 hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols uk-column-1-2@s uk-column-1-3@m" style="max-width: none;">
								
									{{ block.copy }}
								
								</div>
							
							</div>

						{% endif %}

					</div>

				</div>

			</div>

		{% default %}

	{% endswitch %}

{% endfor %}

{# Switcher Button #}

{% include "grant/_switcherButton" %}