{# Grant Step - 1 #}

{% for block in entry.step1Eligibility.all() %}
	
	<div class="section--column-text style--grey block--step-1--intro">

		{# Lines #}

		<div class="effect--lines uk-visible@l">

			{% set vars = {'style': 'lines--' ~ entry.styling, 'totalLines': 51} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

		<div class="uk-container">

			{# Column Content #}

			<div class="grid--column-text" uk-grid>
			
				{# Heading #}

				{% if block.heading|length %}

					<div class="uk-width-1-1">

						<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
						
							<div class="inner--column-text--heading">

								<h2>{{ block.heading }}</h2>

							</div>
						
						</div>

					</div>

				{% endif %}
				
				{# Column Left #}

				{% if block.columnLeft|length %}

					<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-1-3@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

						<div class="block--copy-cols">
						
							{{ block.columnLeft }}
						
						</div>
					
					</div>

				{% endif %}

				{# Column Right #}

				{% if block.columnRight|length %}

					<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-1-3@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

						<div class="block--copy-cols">
						
							{{ block.columnRight }}
						
						</div>
					
					</div>

				{% endif %}
			
			</div>

		</div>

	</div>

{% endfor %}

{# Switcher Button #}

{% include "grant/_switcherButton" %}