{# Grant Step - 3 #}

{% for block in entry.step3Statistics.all() %}

	{% switch block.type %}

		{# Application Breakdown #}

		{% case "applicationBreakdown" %}

			<div class="section--column-text style--grey block--step-3--app-breakdown">

				<div class="uk-container">

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1">

								<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
								
									<div class="inner--column-text--heading">

										<h2>{{ block.heading }}</h2>

									</div>
								
								</div>

							</div>

						{% endif %}

						{# Subheading #}

						{% if block.subheading|length %}

							<div class="uk-width-1-1 hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">

									<h3><strong>{{ block.subheading }}</strong></h3>

								</div>
							
							</div>

						{% endif %}

						{# Graphs #}

						{% if block.graphs|length %}

							{% set graphs = block.graphs.all() %}

							<div class="uk-width-1-1">
							
								<div class="block--graphs" id="block--graphs">
								
									<div class="grid--graphs" uk-grid uk-height-match=".graph-chart">
									
										{% for graph in graphs %}
											
											<div class="block--graph uk-width-1-3">

												{% set heightTotal = 300 %}

												{% if graph.total|length %}

													{% set heightTotal = (graph.total * 3)|number_format(0) %}

												{% endif %}
											
												<div class="inner-graph">

													{% css %}
														
														#graph-chart-{{ loop.index }}.uk-active .outer-graph {
															height: {{ heightTotal }}px;
														}

													{% endcss %}

												
													<div class="graph-chart" id="graph-chart-{{ loop.index }}" style="height: {{ heightTotal }}px;" uk-scrollspy="cls: uk-active; delay: 250;">

														<div class="outer-graph">
														
															<div class="graph"></div>
														
														</div>

													</div>

													<div class="graph-info">
													
														{% if graph.label|length %}

															<p>{{ graph.label }}</p>

														{% endif %}

														{% if graph.total|length %}

															<p class="total" data-count="{{ graph.total }}">0</p>

														{% endif %}
													
													</div>
												
												</div>
											
											</div>

										{% endfor %}
									
									</div>
								
								</div>
							
							</div>

							{# JavaScript #}

							{% js %}

							    UIkit.util.on('#block--graphs', 'inview', function () {

							    	setTimeout(function(){

								        $('#block--graphs .total').each(function() {

								            var $this = $(this),
					                        countTo = $this.attr('data-count');

					                        $({ countNum: $this.text()}).animate({
					                            countNum: countTo
					                        },

					                            {
					                                duration: 1500,
					                                easing:'linear',
					                                step: function() {
					                                $this.text(Math.floor(this.countNum));
					                            },
					                                complete: function() {
					                                $this.text(this.countNum);
					                            }

					                        });

								        });

									}, 0);

							    });

							{% endjs %}

						{% endif %}

					</div>

				</div>

			</div>

		{# Grant Amounts #}

		{% case "grantAmounts" %}

			<div class="section--column-text style--grey block--step-3--grant-amounts">

				<div class="uk-container">

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1 hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">

									<h3><strong>{{ block.heading }}</strong></h3>

								</div>
							
							</div>

						{% endif %}

						{# Charts #}

						{% if block.charts|length %}

							{% set charts = block.charts.all() %}

							<div class="uk-width-1-1">
							
								<div class="block--charts">
								
									<div class="grid--charts" uk-grid uk-height-match=".outer--chart">
									
										{% for chart in charts %}

											{% if chart.amount|length %}

												<div class="block--chart uk-width-1-1 uk-width-1-3@m">
												
													<div class="inner--chart">

														<div class="outer--chart uk-flex uk-flex-middle">
														
															<div class="chart chart-{{ chart.size }} hide-element" uk-scrollspy="cls: show-element animated zoomIn; delay: 250;">
															
																<div class="chart--amount">
																
																	{{ chart.amount }}
																
																</div>
															
															</div>
														
														</div>
															
														{% if chart.label|length %}

															<div class="chart--label hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
															
																<p>{{ chart.label }}</p>
															
															</div>

														{% endif %}
													
													</div>
												
												</div>

											{% endif %}

										{% endfor %}
									
									</div>
								
								</div>
							
							</div>

						{% endif %}

					</div>

				</div>

			</div>

		{% default %}

	{% endswitch %}

{% endfor %}

{# Switcher Button #}

{% include "grant/_switcherButton" %}