{# Grant Step - 4 #}

{% for block in entry.step4MakingTheApplication.all() %}

	{% switch block.type %}

		{# Intro #}

		{% case "intro" %}

			<div class="section--column-text style--grey block--step-4--intro">

				{# Lines #}

				<div class="effect--lines uk-visible@l">

					{% set vars = {'style': 'lines--' ~ entry.styling, 'totalLines': 51} %}

					{% include "_inc/_effects/_lines" with vars %}
				
				</div>

				<div class="uk-container">

					{# Column Content #}

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1">

								<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
								
									<div class="inner--column-text--heading">

										<h2>{{ block.heading }}</h2>

									</div>
								
								</div>

							</div>

						{% endif %}

						{# Subheading #}

						{% if block.subheading|length %}

							<div class="uk-width-1-1 hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols uk-width-1-2@m uk-width-1-3@l">

									<h3>{{ block.subheading }}</h3>

								</div>
							
							</div>

						{% endif %}
						
						{# Column Left #}

						{% if block.leftColumn|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-1-3@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.leftColumn }}
								
								</div>
							
							</div>

						{% endif %}

						{# Column Right #}

						{% if block.rightColumn|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-5@l uk-width-1-3@xl hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.rightColumn }}
								
								</div>
							
							</div>

						{% endif %}
					
					</div>

				</div>

			</div>

		{# Copy #}

		{% case "copy" %}

			<div class="section--column-text style--grey block--step-4--copy">

				<div class="uk-container">

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1">

								<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
								
									<div class="inner--column-text--heading">

										<h2>{{ block.heading }}</h2>

									</div>
								
								</div>

							</div>

						{% endif %}

						{# Intro #}

						{% if block.intro|length %}

							<div class="uk-width-1-1 uk-width-1-1@m uk-width-1-3@l hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy uk-width-2-3@m uk-width-1-1@l">
								
									{{ block.intro }}
								
								</div>
							
							</div>

						{% endif %}
						
						{# Column Left #}

						{% if block.columnLeft|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-1-3@l hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.columnLeft }}
								
								</div>
							
							</div>

						{% endif %}

						{# Column Right #}

						{% if block.columnRight|length %}

							<div class="uk-width-1-1 uk-width-1-2@m uk-width-1-3@l hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy-cols">
								
									{{ block.columnRight }}
								
								</div>
							
							</div>

						{% endif %}

					</div>

				</div>

			</div>

			<div class="uk-padding"></div>

		{# Deadlines #}

		{% case "deadlines" %}

			<div class="section--column-text style--grey block--step-4--deadlines">

				{# Lines #}

				<div class="effect--lines uk-visible@l">

					{% set vars = {'style': 'lines--' ~ entry.styling, 'totalLines': 16} %}

					{% include "_inc/_effects/_lines" with vars %}
				
				</div>

				<div class="uk-container">

					<div class="grid--column-text" uk-grid>

						{# Heading #}

						{% if block.heading|length %}

							<div class="uk-width-1-1">

								<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
								
									<div class="inner--column-text--heading">

										<h2>{{ block.heading }}</h2>

									</div>
								
								</div>

							</div>

						{% endif %}

						{# Intro #}

						{% if block.intro|length %}

							<div class="uk-width-1-1 uk-width-1-1@m uk-width-1-3@l hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--copy uk-width-4-5@m uk-width-1-1@l">
								
									{{ block.intro }}
								
								</div>
							
							</div>

						{% endif %}
						
						{# Deadlines #}

						{% if block.deadlines|length %}

							{% set deadlines = block.deadlines.all() %}

							<div class="uk-width-1-1 uk-width-2-3@l hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--deadlines">
								
									<div class="grid--deadlines uk-grid-small" uk-grid>
									
										{# Heading #}

										{% if block.deadlinesHeading|length %}

											<div class="block--deadlines--heading uk-width-1-1">
											
												<h3>{{ block.deadlinesHeading }}</h3>
											
											</div>

										{% endif %}

										{% for deadline in deadlines %}

											<div class="block--deadline uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
											
												{% if deadline.deadlineDate|length %}

													<h4>{{ deadline.deadlineDate }}</h4>

												{% endif %}

												{% if deadline.label|length %}

													<p>{{ deadline.label }}</p>

												{% endif %}
											
											</div>
											
										{% endfor %}
									
									</div>
								
								</div>

							</div>

						{% endif %}										

					</div>

				</div>

			</div>

		{# Apply Button #}

		{% case "applyButton" %}

			{% if block.button|length %}

				<div class="block--step-next uk-text-center uk-padding-large">

					{% set attributes = {
						class: "uk-button uk-button-apply uk-button-" ~ entry.styling,
						"uk-icon": 'icon: chevron-right'
		            } %}

					{{ block.button.link(attributes) }}

				</div>

			{% endif %}

		{% default %}

	{% endswitch %}

{% endfor %}