{# Banner - Background Image #}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	<section class="section--banner--bg hide-element font--increase" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
	
		<div class="uk-container">
		
			<div id="section--banner--bg" uk-slideshow="animation: push; finite: false; ratio: 5:2; autoplay: true; autoplay-interval: 4000; pause-on-hover: false;">

			    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

			        <ul class="uk-slideshow-items">

			        	{% for slide in slides %}

			        		<li>	

			        			{% if slide.img|length %}

			        				{% set asset = slide.img.one() %}

			        				<div class="uk-cover-container block--img">
				        			
				        				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
				        			
				        			</div>

			        			{% endif %}

			        			{% if slide.heading|length %}

			        				<h2>{{ slide.heading }}</h2>

			        			{% endif %}

			        		</li>
			        		
			        	{% endfor %}

			        </ul>

			        {# <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
			    	<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> #}

			    </div>

			    <div class="block--controls uk-flex uk-flex-right">
			    
			    	<div class="block--captions">

			    		<ul>
			    	
				    		{% for slide in slides %}

				    			{% if slide.caption|length %}

				    				<li class="block--caption" id="block--caption--{{ loop.index0 }}">

				    					{{ slide.caption }}

				    				</li>

				    			{% endif %}

				    		{% endfor %}

				    	</ul>
			    	
			    	</div>

			    	<div class="block--pagination">
			    	
			    		<ul class="slider--nav uk-slideshow-nav uk-dotnav uk-flex-right uk-margin"></ul>
			    	
			    	</div>
			    
			    </div>

			</div>
		
		</div>
	
	</section>

{% endif %}

{% js %}

	UIkit.util.on('#section--banner--bg', 'itemshown' , function(e){

		console.log(e.detail[0].index);

		$('.block--caption').removeClass('uk-active');

		$('#block--caption--' + e.detail[0].index).addClass('uk-active');

	});

{% endjs %}
