{# Block - Banner #}

{# Chart Heights #}

{% set chartHeight = null %}

{% if block.graphs|length %}

	{% set graphs = block.graphs.all() %}

	{% for graph in graphs %}

		{% if graph.graphs|length %}

			{% set charts = graph.graphs.all() %}

			{% for chart in charts %}

				{% if chart.total|length %}

					{% set heightTotal = chart.total|number_format(0) %}

					{% if heightTotal > chartHeight %}

						{% set chartHeight = heightTotal %}

					{% endif %}

				{% endif %}

			{% endfor %}

		{% endif %}

	{% endfor %}

{% endif %}

{% if chartHeight != null %}

	{% css %}

		@media only screen and (min-width: 960px) {

			.section--banner--graphs {
				min-height: {{ chartHeight + 50 }}px !important; 
			}

		}

		@media only screen and (min-width: 1200px) {

			.section--banner--graphs {
				min-height: {{ chartHeight + 10 }}px !important; 
			}

		}

	{% endcss %}

{% endif %}

<section class="section--banner {% if block.backgroundColour|length %} section--banner--{{ block.backgroundColour }}{% endif %}{% if block.clipLines is defined and block.clipLines == 1 %} section--banner--clip-lines{% endif %}{% if block.graphs|length %} section--banner--graphs{% endif %}">

	{# Lines #}

	{% if not block.graphs|length %}

		<div class="effect--lines">

			{% set styleGreen = "lines--green" %}
			{% set stylePurple = "lines--purple" %}
			{% set styleBlue = "lines--blue" %}

			{% if block.lines is defined and block.lines == "grey" %}

				{% set styleGreen = "lines--normalgrey" %}
				{% set stylePurple = "lines--normalgrey" %}
				{% set styleBlue = "lines--normalgrey" %}

			{% endif %}

			{# Green Lines #}

			{% set vars = {'style': styleGreen, 'totalLines': 16, 'loopLines': '01'} %}

			{% include "_inc/_effects/_lines" with vars %}

			{# Purple Lines #}

			{% set vars = {'style': stylePurple, 'totalLines': 16, 'loopLines': '02'} %}

			{% include "_inc/_effects/_lines" with vars %}

			{# Blue Lines #}

			{% set vars = {'style': styleBlue, 'totalLines': 16, 'loopLines': '03'} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

	{% endif %}

	<div class="uk-container">

		{# Back Button #}

		{% if block.addBackButton|length %}

			<div class="block--banner--back-button hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				{# {% set attributes = {
					class: 'uk-button--back',
					"uk-icon": 'icon: chevron-left'
                } %}

                {{ block.addBackButton.link(attributes) }} #}

                <a href="javascript:history.back()" class="uk-button--back" uk-icon="icon: chevron-left">Back</a>
			
			</div>

		{% endif %}

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--banner--heading font--increase hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				<h1>{{ block.heading }}</h1>
			
			</div>

		{% endif %}
	
		{# Copy #}

		{% if block.copy|length %}

			{% set wordcount = wordcount(block.copy) %}

			<div class="block--banner--copy font--increase {% if wordcount > 30 %} extend-block{% endif %} hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				{{ block.copy }}
			
			</div>

		{% endif %}

		{# Button #}

		{% if block.button|length %}

			{% set attributes = {
				class: 'uk-button',
				"uk-icon": 'icon: chevron-right'
            } %}

			<div class="block--banner--button font--increase" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                {{ block.button.link(attributes) }}
			
			</div>

		{% endif %}

		{# Graphs #}

		{% if block.graphs|length %}

			{% set graphs = block.graphs.all() %}

			{% for graph in graphs %}

				<div class="block--banner--graphs hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
				
					{% if graph.heading|length %}

						<div class="graph--heading">
						
							<h4>{{ graph.heading }}</h4>
						
						</div>

					{% endif %}

					{% if graph.graphs|length %}

						{% set charts = graph.graphs.all() %}

						<div class="block--graphs" id="block--graphs" uk-height-match=".graph-info">
								
							<div class="grid--graphs uk-grid-small" uk-grid uk-height-match=".graph-chart">

								{% for chart in charts %}
											
									<div class="block--graph uk-width-1-3 style--{{ chart.style }}" style="background-color: transparent;">

										{% set heightTotal = 300 %}

										{% if chart.total|length %}

											{% set heightTotal = (chart.total * 1)|number_format(0) %}

										{% endif %}
									
										<div class="inner-graph">

											{% css %}
												
												#graph-chart-{{ loop.index }}.uk-active .outer-graph {
													height: {{ heightTotal }}px;
												}

											{% endcss %}
										
											<div class="graph-chart" id="graph-chart-{{ loop.index }}" style="height: {{ heightTotal }}px;" uk-scrollspy="cls: uk-active; delay: 500;">

												<div class="outer-graph">
												
													<div class="graph">

														{% if chart.total|length %}

															<p class="total" data-count="{{ chart.total }}">0</p>

														{% endif %}

													</div>
												
												</div>

											</div>

											<div class="graph-info">
											
												{% if chart.label|length %}

													<p>{{ chart.label }}</p>

												{% endif %}
											
											</div>
										
										</div>
									
									</div>

								{% endfor %}
									
							</div>
								
						</div>

					{% endif %}
				
				</div>
				
			{% endfor %}

			{# JavaScript #}

			{% js %}

			    UIkit.util.on('#block--graphs', 'inview', function () {

			    	setTimeout(function(){

				        $('#block--graphs .total').each(function() {

				            var $this = $(this),
	                        countTo = $this.attr('data-count');

	                        $({ countNum: $this.text()}).animate({
	                            countNum: countTo
	                        },

	                            {
	                                duration: 1000,
	                                easing:'linear',
	                                step: function() {
	                                $this.text(Math.floor(this.countNum));
	                            },
	                                complete: function() {
	                                $this.text(this.countNum);
	                            }

	                        });

				        });

					}, 500);

			    });

			{% endjs %}

		{% endif %}
	
	</div>

</section>