{# Entry Page: What's New #}

{% extends "_layout" %}

{% set templateName = "temp-whats-new-detail" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set metaTitleOveride = entry.title ~ " - The A B Charitable Trust" %}
{% set metaDescOveride = entry.intro|default('') %}

{% block content %}

	<section class="section--whats-new font--increase">

		<div class="uk-container">

			{% if entry.img|length %}

			<div class="backing-lines">

				{# Lines #}

	            <div class="effect--lines">

	                {% set lineStyle = "lines--green" %}

	                {# Lines #}

	                {% set vars = {'style': lineStyle, 'totalLines': 16, 'loopLines': '01'} %}

	                {% include "_inc/_effects/_lines" with vars %}
	            
	            </div>

			{% endif %}

			{# Heading #}

			<div class="block--heading uk-width-1-1 hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				<div class="inner--heading font--increase">

					<p class="link"><a href="{{ url('whats-new') }}">&lt; Back</a></p>

					<p class="date">{{ entry.postDate|date('d / M / Y') }}</p>
				
					<h2>{{ entry.title }}</h2>
				
				</div>
			
			</div>

			{# Image #}

			{% if entry.img|length %}

				{% set asset = entry.img.one() %}

				<div class="block-img hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
				
					<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
				
				</div>

			</div>

			{% endif %}
			
			{# Content #}

			<div class="block-content">

				{% if entry.intro|length %}

					<div class="block-intro hide-element font--increase" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
					
						{{ entry.intro }}
					
					</div>

				{% endif %}

				{% if entry.copy|length %}

					<div class="block-copy hide-element font--increase" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
					
						{{ entry.copy }}
					
					</div>

				{% endif %}

			</div>
			
		</div>

	</section>

{% endblock %}