{# Footer #}

<footer class="footer hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

	<div class="uk-container">

		<div class="footer-menu" uk-grid>

			{# Footer Menu #}

			{% include '_inc/_menus/_footer' %}

			{% if footer.footer|length %}

				{% for footer in footer.footer.all() %}

					{# Address #}

					{% if footer.address|length %}

						<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
						
							<div class="footer-menu-list footer-menu-list--address">

								{{ footer.address }}

							</div>
						
						</div>

					{% endif %}

					{# Contact & Copyright #}

					{% if footer.contact|length %}

						<div class="uk-width-1-1 uk-width-2-5@m">

							<div class="footer-menu-list footer-menu-list--copyright uk-column-1-2@s">

								{{ footer.contact }}

							</div>

						</div>

					{% endif %}
					
				{% endfor %}

			{% endif %}

		</div>

	</div>

</footer>