{# Header #}

<header class="header hide-element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 0;">

	<div class="uk-container">

		<div class="header-elements uk-flex uk-flex-between">

			{# Logo #}

			<div class="logo">

				<a href="{{ url() }}">

					<img src="{{ url('assets/img/logo.svg') }}" alt="{{ siteName }} logo">

				</a>

			</div>

			{# Font Increase/Decrease

			{% do view.registerJsFile("/assets/js/vendor/fontsize/fontsize.min.js") %}

			{% js %}
				
				$('.font--increase').FontSize({
					increaseTimes: 5,
					reduceTimes: 2
				});

			{% endjs %}

			<div class="text-height--desktop uk-visible@m">
			
				<button class="zoomout"><img src="{{ url('assets/img/icon-minus.svg') }}" alt="Decrease the font size"></button>

				<button class="zoomin"><img src="{{ url('assets/img/icon-plus.svg') }}" alt="Increase the font size"></button>

				<img src="{{ url('assets/img/icon-Tt.svg') }}" alt="">
			
			</div> #}

			{# Main Menu #}

			{% include '_inc/_menus/_main' %}

			{# Burger Menu Icon #}

			<div class="hamburger uk-hidden@m" uk-toggle="target: #navigation--mobile;">

				<span></span>

				<span></span>

				<span></span>

			</div>

		</div>

	</div>

</header>