{# Grant - Apply Page Template #}

{% extends "_layout" %}

{% set templateName = "temp-apply" %}

{% if craft.app.request.getSegment(1) is defined and craft.app.request.getSegment(1) == 'grant' and craft.app.request.getSegment(3)|length %}

    {% set entry = craft.entries()
    .section('grants')
    .slug(craft.app.request.getSegment(2))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	{# Banner #}

    {% if entry.bannerPriority|length %}

        {% set block = entry.bannerPriority.one() %}

        <section class="section--banner section--banner--priorty style--{{ entry.styling }} section--banner--clip-lines section--banner--apply font--increase">

            {# Back Button #}

            <div class="block--banner--back-button hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                {# <a href="{{ entry.getUrl() }}" class="uk-button--back" uk-icon="icon: chevron-left">Back</a> #}

                <a href="javascript:history.back()" class="uk-button--back" uk-icon="icon: chevron-left">Back</a>
            
            </div>

            <div class="uk-container">

                {# Heading #}

                <div class="block--banner--heading hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
                
                    <h1>Apply</h1>

                    {# Subheading #}

                    {% if entry.children|length < 1 %}
                        <h2>{{ entry.title }}</h2>
                    {% endif %}

                </div>
            
            </div>

        </section>

    {% endif %}

    {# Step Switcher #}

    {% if entry.children|length > 0 %}

        {% set grants = entry.children.all() %}

        <section class="section--priority-areas section--priority-areas__children font--increase{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">

            <div class="uk-container" uk-height-match="target: .block--intro">

                <div class="grid--priority-areas--grants uk-grid-small hide--element" uk-grid uk-height-match="target: .block--heading" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

                    {% for grant in grants %}

                        <div class="grid--block uk-width-1-1 uk-width-1-2@s">
                    
                            <div class="block--grant style--{{ grant.styling }}{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">
                        
                                <div class="inner--grant">

                                    <div class="block--heading">
                                    
                                        <h3>{{ grant.title }}</h3>
                                    
                                    </div>

                                    {% if grant.intro|length and block.normalOrShort != "short" %}

                                        <div class="block--intro uk-visible@s">
                                        
                                            {{ grant.intro }}
                                        
                                        </div>

                                    {% endif %}

                                    <div class="block--button block--button-priority-areas">

                                        {% set buttonLink = grant.getUrl() ~ "/apply" %}
                                    
                                        <a href="{{ buttonLink }}" class="uk-button" uk-icon="chevron-right"><span>Apply</span></a>
                                    
                                    </div>
                                
                                </div>
                        
                            </div>
                        
                        </div>
                        
                    {% endfor %}

                </div>

            </div>

        </section>

        <div class="uk-padding"></div>

    {% else %}

        <section class="section--grant-steps style--{{ entry.styling }}" id="section--grant-steps">
        
    		{# Steps Nav #}

    		<div class="block--grant-switcher--nav">

    			<div class="inner--grant-switcher--nav">
    			
    				<ul class="uk-grid-collapse uk-grid-match uk-child-width-1-1 uk-child-width-1-4@s" uk-switcher="connect: .block--steps" uk-grid uk-height-match=".step--nav">

    					{# Step 1 #}

    					{% if entry.step1Eligibility|length %}

    						<li>

                                <a href="#section--grant-steps" class="step--nav uk-flex uk-flex-middle uk-flex-center" uk-scroll>

                                    <span>

                                        <span class="nav--number">1<span>.</span></span>

                                        <span class="nav--label">Eligibility</span>

                                    </span>  

                                </a>

                            </li>

    					{% endif %}

    					{# Step 2 #}

    					{% if entry.step2WhatWeFund|length %}

    						<li>

                                <a href="#section--grant-steps" class="step--nav uk-flex uk-flex-middle uk-flex-center" uk-scroll>

                                    <span>

                                        <span class="nav--number">2<span>.</span></span>

                                        <span class="nav--label">What we fund</span>

                                    </span>

                                </a>

                            </li>

    					{% endif %}

    					{# Step 3 #}

    					{% if entry.step3Statistics|length %}

    						<li>

                                <a href="#section--grant-steps" class="step--nav uk-flex uk-flex-middle uk-flex-center" uk-scroll>

                                    <span>

                                        <span class="nav--number">3<span>.</span></span>

                                        <span class="nav--label">Statistics</span>

                                    </span>

                                </a>

                            </li>

    					{% endif %}

    					{# Step 4 #}

    					{% if entry.step4MakingTheApplication|length %}

    						<li>

                                <a href="#section--grant-steps" class="step--nav uk-flex uk-flex-middle uk-flex-center" uk-scroll>

                                    <span>

                                        <span class="nav--number">4<span>.</span></span>

                                        <span class="nav--label">Making the application</span>

                                    </span>

                                </a>

                            </li>

    					{% endif %}
    			    
    			    </ul>
    			
    			</div>
    		
    		</div>

    		{# Steps Content #}

    		<div class="block--steps uk-switcher" id="block--steps">
    		
    			{# Step 1 #}

    			{% if entry.step1Eligibility|length %}

        			<div class="block--step block--step-1">
        			
        				{% include "grant/_steps/_step-1" %}
        			
        			</div>

        		{% endif %}

    			{# Step 2 #}

    			{% if entry.step2WhatWeFund|length %}

        			<div class="block--step block--step-2">
        			
        				{% include "grant/_steps/_step-2" %}
        			
        			</div>

        		{% endif %}

    			{# Step 3 #}

    			{% if entry.step3Statistics|length %}

        			<div class="block--step block--step-3">
        			
        				{% include "grant/_steps/_step-3" %}
        			
        			</div>

        		{% endif %}

    			{# Step 4 #}

    			{% if entry.step4MakingTheApplication|length %}

        			<div class="block--step block--step-4">
        			
        				{% include "grant/_steps/_step-4" %}
        			
        			</div>

        		{% endif %}
    		
    		</div>
        
        </section>

    {% endif %}

{% endblock %}