{# Grant - Priority Page Template #}

{% extends "_layout" %}

{% set templateName = "temp-priority" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# Banner #}

    {% if entry.bannerPriority|length %}

        {% set block = entry.bannerPriority.one() %}

        <section class="section--banner section--banner--priorty style--{{ entry.styling }} section--banner--clip-lines font--increase">

            {# Lines #}

            <div class="effect--lines">

                {% set lineStyle = "lines--" ~ entry.styling %}

                {# Lines #}

                {% set vars = {'style': lineStyle, 'totalLines': 16, 'loopLines': '01'} %}

                {% include "_inc/_effects/_lines" with vars %}
            
            </div>

            {# Back Button #}

            {% if block.backButton|length %}

                {% set backButton = block.backButton.one() %}

                <div class="block--banner--back-button hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                    {# <a href="{{ backButton.getUrl() }}" class="uk-button--back" uk-icon="icon: chevron-left">Back</a> #}

                    <a href="javascript:history.back()" class="uk-button--back" uk-icon="icon: chevron-left">Back</a>
                
                </div>

            {% endif %}

            <div class="uk-container">

                {# Heading #}

                <div class="block--banner--heading hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                    {% if block.heading|length %}
                
                        <h1>{{ block.heading }}</h1>

                    {% endif %}

                    {# Subheading #}

                    {% if block.subheading|length %}
                        
                        <h2>{{ block.subheading }}</h2>

                    {% endif %}
                
                </div>

                {# Button #}

                {% if block.button|length %}

                    {% set buttonStyle = "uk-button uk-button-" ~ entry.styling %}

                    {% set attributes = {
                        class: buttonStyle,
                        "uk-icon": 'icon: chevron-right'
                    } %}

                    <div class="block--banner--button" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                        {{ block.button.link(attributes) }}
                    
                    </div>

                {% endif %}
            
            </div>

        </section>

    {% endif %}

    {# Children Grants #}

    {% set grants = entry.children.status('live').all() %}

    {% if grants|length %}

        {% set grants = entry.children.all() %}

        <section class="section--priority-areas section--priority-areas__children font--increase{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">

            <div class="uk-container" uk-height-match="target: .block--intro">

                <div class="grid--priority-areas--grants uk-grid-small hide--element" uk-grid uk-height-match="target: .block--heading" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

                    {% for grant in grants %}

                        <div class="grid--block uk-width-1-1 uk-width-1-2@s">
                    
                            <div class="block--grant style--{{ grant.styling }}{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">
                        
                                <div class="inner--grant">

                                    <div class="block--heading">
                                    
                                        <h3>{{ grant.title }}</h3>
                                    
                                    </div>

                                    {% if grant.intro|length and block.normalOrShort != "short" %}

                                        <div class="block--intro uk-visible@s">
                                        
                                            {{ grant.intro }}
                                        
                                        </div>

                                    {% endif %}

                                    <div class="block--button block--button-priority-areas">

                                        {% set buttonLabel = grantItem.buttonLabel|default("More information") %}

                                        {% set buttonLink = grant.getUrl() %}

                                        {% if block.linkToApplyPage == 1 %}

                                            {% set buttonLink = grant.getUrl() ~ "/apply" %}

                                        {% endif %}
                                    
                                        <a href="{{ buttonLink }}" class="uk-button" uk-icon="chevron-right"><span>{{ buttonLabel }}</span></a>
                                    
                                    </div>
                                
                                </div>
                        
                            </div>
                        
                        </div>
                        
                    {% endfor %}

                </div>

            </div>

        </section>

	{# Column Text #}

    {% elseif entry.columnTextPriority|length %}

        {% set block = entry.columnTextPriority.one() %}

        <section class="section--column-text section--column-text--priority bg--grey">

            <div class="uk-container">

                <div class="grid--column-text" uk-grid>
                
                    {# Heading #}

                    {% if block.heading|length %}

                        <div class="uk-width-1-1">

                            <div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
                            
                                <div class="inner--column-text--heading">

                                    <h2>{{ block.heading }}</h2>

                                </div>
                            
                            </div>

                        </div>

                    {% endif %}
                    
                    {# Copy #}

                    {% if block.intro|length %}

                        <div class="uk-width-1-1 uk-width-1-3@m hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

                            {% if block.intro|length %}

                                <div class="block--copy">
                                
                                    {{ block.intro }}
                                
                                </div>

                            {% endif %}
                        
                        </div>

                    {% endif %}
                    
                    {# Columns #}

                    {% if block.columnCopyLeft|length or block.columnCopyRight|length %}

                        {% set parentCols = "uk-width-2-3@m" %}

                        {% if block.columnCopyLeft|length and block.columnCopyRight|length %}

                            {% set parentCols = "uk-width-1-3@m" %}

                        {% endif %}

                        {# Left Column #}

                        {% if block.columnCopyLeft|length %}

                            <div class="uk-width-1-1 {{ parentCols }} hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

                                <div class="block--copy-cols">
                                
                                    {{ block.columnCopyLeft }}
                                
                                </div>

                            </div>

                        {% endif %}

                        {# Right Column #}

                        {% if block.columnCopyRight|length %}

                            <div class="uk-width-1-1 {{ parentCols }} hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

                                <div class="block--copy-cols">
                                
                                    {{ block.columnCopyRight }}
                                
                                </div>

                            </div>

                        {% endif %}

                    {% endif %}
                
                </div>
            
            </div>

        </section>

    {% endif %}

    {# Application Deadline #}

    {% if entry.applicationDeadline|length %}

        {# Padding #}

        <div class="uk-padding"></div>

        {% set block = entry.applicationDeadline.one() %}

        <section class="section--application-deadline style--{{ entry.styling }}">

            {# Lines #}

            <div class="effect--lines uk-visible@s">

                {% set vars = {'style': 'lines--' ~ entry.styling, 'totalLines': 16} %}

                {% include "_inc/_effects/_lines" with vars %}
            
            </div>
        
            <div class="uk-container">
            
                <div class="block--copy uk-text-center">

                    {# Heading #}
                
                    {% if block.heading|length %}

                        <h2>{{ block.heading }}</h2>

                    {% endif %}

                    {# Deadline #}
                
                    {% if block.deadline|length %}

                        <h3>{{ block.deadline }}</h3>

                    {% endif %}

                    {# Copy #}

                    {{ block.copy }}

                    {# Button #}

                    <div class="block--button">
                        
                        {% if block.button|length %}
                        
                            {% set buttonStyle = "uk-button uk-button-" ~ entry.styling %}

                            {% set attributes = {
                                class: buttonStyle,
                                "uk-icon": 'icon: chevron-right'
                            } %}
                            
                            {{ block.button.link(attributes) }}
                            
                        {% else %}
                            
                            <a href="{{ craft.app.request.absoluteUrl }}/apply" class="uk-button uk-button-{{ entry.styling }}" uk-icon="icon: chevron-right">Apply</a>

                        {% endif %}
                    
                    </div>  
        
                </div>
            
            </div>
        
        </section>

    {% endif %}

    {# Padding #}

    <div class="uk-padding"></div>

{% endblock %}