{# Grant Steps - Switcher Button #}

<div class="block--step-next uk-text-center uk-padding-large">

	<a href="#section--grant-steps" uk-switcher-item="next" class="uk-button uk-button-{{ entry.styling }}" uk-icon="icon: chevron-right;" uk-scroll>Next</a>

</div>