{# Effect - Lines #}

{# Set line styling #}

{% set lineStyle = "lines--default" %}

{% if style is defined %}

	{% set lineStyle = style %}

{% endif %}

{# Set total amount of lines #}

{% set lineTotal = 16 %}

{% if totalLines is defined %}

	{% set lineTotal = totalLines %}

{% endif %}

{% set linesNumber = "01" %}

{% if loopLines is defined %}

	{% set linesNumber = loopLines %}

{% endif %}

{# Lines #}

<div class="lines {{ lineStyle }} lines--number--{{ linesNumber }}" uk-scrollspy="cls: active; delay: 1000;">

	{% for i in 1..lineTotal %}

		{% set currentLoop = i %}

		{% if currentLoop < 10 %}

			{% set currentLoop = '0' ~ currentLoop %}

		{% endif %}

		<span class="line--{{ currentLoop }} line--{{ cycle(['down', 'up'], loop.index0) }}"></span>

	{% endfor %}

</div>