{# Content Blocks #}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{# {% if currentUser %}
			{{ block.type }}
		{% endif %} #}

		{% include '_inc/_blocks/_' ~ block.type with blockVars %}

	{% endfor %}

{% endif %}