{#:::: Freeform Template: UIKit ::::#}

{{ form.renderTag }}

{# {% if form.pages|length > 1 %}

    <ul class="menu pagemenu">
        {% for page in form.pages %}
            <li class="{{ form.currentPage.index == page.index ? "active" : "" }}">
                {% if form.currentPage.index == page.index %}
                    <a href="javascript:;" class="is-active">{{ page.label }}</a>
                {% else %}
                    <a href="javascript:;">{{ page.label }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %} #}

{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

{% js %}

    $.validate({
        modules : 'file'
    });

{% endjs %}

{% if form.hasErrors %}

    {% js %}

        UIkit.notification({
            message: 'There was an error submitting this form.',
            status: 'danger',
            pos: 'top-center',
            timeout: 5000
        });

    {% endjs %}

{% endif %}

<div uk-grid class="uk-grid-medium {{ form.customAttributes.rowClass }}">

    {% for row in form %}

        {# <div class="uk-width-1-2@m "> #}

            {% for field in row %}

                {% set validation = "" %}

                {% if field.required == 1 %}

                    {% set validation = "required" %}

                {% endif %}

                {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}

                {% set columnClass = "uk-width-1-2@m" %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                {% if field.type == "submit" %}

                    {% set columnClass = columnClass ~ " submit submit-align-" ~ field.position %}

                {% endif %}

                {% if field.type == "checkbox_group" %}

                    <div class="uk-width-1-1">
                    
                        {{ field.renderLabel({
                            labelClass: (field.required ? " required" : ""),
                            instructionsClass: "help-text",
                        }) }}

                        {% for option in field.options %}

                           <div class="g-form-el">

                                <label>

                                    <input type="checkbox"
                                        name="{{ field.handle }}[]"
                                        value="{{ option.value }}"
                                        class="uk-checkbox" 
                                        {{ option.checked ? "checked" : "" }}
                                        data-validation="{{ validation }}"
                                    />

                                    <span>{{ option.label }}</span>

                                </label>

                            </div>

                        {% endfor %}

                        {{ field.renderInstructions() }}
                        {{ field.renderErrors() }}

                    </div>

                {% elseif field.type == "radio_group" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">

                            {{ field.renderLabel({
                                labelClass: (field.required ? " required" : ""),
                                instructionsClass: "help-text",
                            }) }}

                            {% for option in field.options %}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                            name="{{ field.handle }}"
                                            value="{{ option.value }}"
                                            {{ option.checked ? "checked" : "" }}
                                            data-validation="{{ validation }}"
                                        />
                                        {{ option.label }}
                                    </label>
                                </div>
                            {% endfor %}

                            {{ field.renderInstructions() }}
                            {{ field.renderErrors() }}

                        </div>

                    </div>

                {% elseif field.type == "dynamic_recipients" and field.showAsRadio %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">

                            {{ field.renderLabel({
                                labelClass: (field.required ? " required" : ""),
                                instructionsClass: "help-text",
                            }) }}

                            {% for option in field.options %}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                            name="{{ field.handle }}"
                                            value="{{ loop.index0 }}"
                                            {{ option.checked ? "checked" : "" }}
                                            data-validation="{{ validation }}"
                                        />
                                        {{ option.label }}
                                    </label>
                                </div>
                            {% endfor %}

                            {{ field.renderInstructions() }}
                            {{ field.renderErrors() }}

                        </div>

                    </div>

                {% elseif field.type == "file" %}

                    {% if field.label|length %}

                        <div class="title uk-visible@s uk-width-1-1 uk-text-center uk-margin-remove-bottom ">
                        
                            <p>{{ field.label }}</p>

                        </div>

                    {% endif %}

                    <div class="uk-width-1-1 uk-grid-margin" data-type="{{ field.label }} - {{ field.id }} - {{ field.handle }}">

                        <div class="g-form-el">

                            <div class="uk-margin" uk-margin>

                                <div class="uk-width-1-1" uk-form-custom="target: true">

                                    <input type="file" data-validation="required" id="{{ field.id }}" name="{{ field.handle }}">

                                    <input class="uk-input uk-file" type="text" placeholder="{{ field.instructions }}" disabled>

                                </div>

                            </div>
                                                        
                            {#{{ field.render({
                                class: isCheckbox ? "checkbox" : "uk-input",
                                instructionsClass: "help-text",
                                instructionsBelowField: true,
                                labelClass: (field.required ? " required" : ""),
                                inputAttributes: { "data-validation": validation }
                            }) }}

                            <span class="val"></span> #}

                        </div>

                    </div>

                {% elseif field.type == "checkbox" %}

                    <div class="uk-width-1-1">

                       <div class="g-form-el">

                            <label>

                                <input type="checkbox"
                                    name="{{ field.handle }}"
                                    value="yes"
                                    class="uk-checkbox" 
                                    {{ field.checked ? "checked" : "" }}
                                    data-validation="{{ validation }}"
                                >

                                <span>{{ field.label }}</span>

                                <span class="val"></span>

                                {% if field.renderErrors()|length %}

                                    <span class="help-block form-error">{{ field.renderErrors() }}</span>

                                {% endif %}

                            </label>

                        </div>

                    </div>

                {% elseif field.type == "submit" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">

                            {{ field.render({ class: "submit-btn" }) }}

                        </div>

                    </div>

                {% else %}

                    {% if field.type == "textarea" %}

                        {% set columnClass = "uk-width-1-1" %}
                        {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
                        
                    {% endif %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">
                            
                            {{ field.render({
                                class: isCheckbox ? "checkbox" : "uk-input",
                                instructionsClass: "help-text",
                                instructionsBelowField: true,
                                labelClass: (field.required ? " required" : ""),
                                inputAttributes: { "data-validation": validation }
                            }) }}

                            <span class="val"></span>

                        </div>

                    </div>

                {% endif %}

            {% endfor %}
        
    {% endfor %}

</div>

{{ form.renderClosingTag }}