{# Menu - Footer #}

{% set nodes = craft.navigation.nodes()
    .handle('footer')
    .all()
%}

{% if nodes|length %}

	<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-5@m font--increase">
	
		<div class="footer-menu-list footer-menu-list--nav">

			<ul>

				{% nav node in nodes %}

					<li{% if node.active %} class="uk-active"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a></li>

				{% endnav %}

			</ul>

		</div>
	
	</div>

{% endif %}