{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('mobile')
    .all()
%}

<div id="navigation--mobile" class="uk-hidden@m" uk-offcanvas="flip: true; overlay: true;">

	<div class="uk-offcanvas-bar">

		<div class="navigation--mobile">

			<button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

			<nav class="font--increase">

		        <ul>

		        	{% nav node in nodes %}

					    <li class="{% if node.classes %}{{ node.classes }}{% endif %}{% if node.active %} uk-active{% endif %}">

					        <a href="{{ node.url }}" {% if node.type == null %} uk-toggle{% endif %}>{{ node.title }}</a>

					    </li>

					{% endnav %}

		        </ul>

			</nav>

			{# <div class="text-height--mobile">
						
							<button class="zoomout"><img src="{{ url('assets/img/icon-minus-white.svg') }}" alt="Decrease the font size"></button>
			
							<button class="zoomin"><img src="{{ url('assets/img/icon-plus-white.svg') }}" alt="Increase the font size"></button>
			
							<img src="{{ url('assets/img/icon-Tt-white.svg') }}" alt="">
						
						</div> #}

		</div>

	</div>

</div>