// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1200 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

p, blockquote {
	.font-size(22);
}

ul, ol {

	li {
		.font-size(22);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.uk-container {
	padding-left: 40px;
	padding-right: 40px;
}

// 6. LAYOUT 				==============================

/* Header */

.header {
	padding: 30px 0 50px;

	.logo {
		max-width: 315px;
	}

	.navigation {

		.uk-navbar-nav {

			li {

				a {
					.font-size(20);
					padding: 0 16px;
				}
			}
		}
	}
}

/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {
	padding: 45px 0 100px;
	margin-bottom: 65px;

	.uk-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--banner--back-button {

		.uk-button--back {
			.font-size(22);
		}
	}

	.block--banner--heading {
		margin-bottom: 25px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(60);
		}
	}

	.block--banner--copy {

		&.extend-block {
			max-width: 630px;
		}
	}

	.block--banner--button {
		margin-top: 35px;
	}

	// Lines

	.effect--lines {
		padding-bottom: 65px;

		.lines {
			top: -10%;

			&.lines--number--01 {
				right: 69px;
			}

			&.lines--number--02 {
				right: -150px;
			}

			&.lines--number--03 {
				right: -369px;
			}
		}
	}

	// Graphs

	.block--banner--graphs {
		right: 40px;
		max-width: 37%;
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {

					.outer-graph {

						.graph {

							.total {
								.font-size(50);
							}
						}
					}
				}

				.graph-info {
					
					p {
						.font-size(18);
					}
				}
			}
		}
	}

	&.section--banner--clip-lines {
		margin-bottom: 0;

		.effect--lines {
			padding-bottom: 0;
		}
	}

	// Priority Banner

	&.section--banner--priorty {

		.block--banner--back-button {
			padding-bottom: 30px;
			padding-left: 40px;
		}

		.block--banner--heading {
			max-width: 100%;

			h2 {
				.font-size(38);
			}
		}

		// Lines

		.effect--lines {
			right: -11%;
		}
	}

	&.section--banner--apply {

		.block--banner--back-button {
			padding-bottom: 0;
		}
	}
}

.section--banner--bg {
	margin-bottom: 30px;

	.uk-slideshow-items {

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
				top: 50px;
				left: 40px;
			}

			.block--img {
				height: 525px;
			}
		}
	}

	.block--controls {
		margin: 12px 40px 12px 0;

		.block--captions {

			ul {

				.block--caption {

					p {
						.font-size(20);
					}
				}
			}
		}
	}

	.slider--nav {
		margin: 8px 0 0;
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {
	padding: 40px 0 100px;
	overflow: hidden;
	max-width: 1360px;
	margin: 0 auto;

	&.type--short {
		padding-bottom: 60px;
	}

	.uk-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--priority-areas--heading {
		margin-bottom: 35px;

		.inner--priority-areas--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
			}
		}
	}

	.block--priority-areas--copy {
		margin-bottom: 35px;
	}

	.grid--priority-areas--grants {
		margin-left: -16px;

		.grid--block {
			padding-left: 16px;

			&:nth-child(1) {
				.block--grant {
					&::before, &::after {
						z-index: -1;
					}
				}
			}

			&:nth-child(2) {
				.block--grant {
					&::before, &::after {
						z-index: -2;
					}
				}
			}

			&:nth-child(3) {
				.block--grant {
					&::before, &::after {
						z-index: -3;
					}
				}
			}

			&:nth-child(4) {
				.block--grant {
					&::before, &::after {
						z-index: -4;
					}
				}
			}
		}

		.block--grant {
			position: relative;

			.inner--grant {
				padding: 20px 17px;

				h1, h2, h3, h4, h5, h6 {
					.font-size(32);
					letter-spacing: -0.38px;
				}

				p, li {
					.font-size(22);
					letter-spacing: -0.38px;
				}

				.block--subheading {

					p {
						.font-size(30);
					}
				}

				.block--intro {
					margin-bottom: 40px;
				}
			}

			/*&:before {
				content: '';
				position: absolute;
				width: 159%;
				height: 118%;
				.rotate(49deg);
				z-index: -1;
				left: -75%;
				top: 25%;
			}*/

			&::after {
				content: '';
				position: absolute;
				top: 0.5%;
				//left: -100%;
				//width: 200%;
				//height: 122%;
				//clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0 100%);
				left: -97%;
				height: 121%;
				width: 162%;
				clip-path: polygon(60% 0, 100% 0%, 60% 100%, 0 100%);
			}

			&::before {
				content: '';
				position: absolute;
				top: 99.5%;
				left: -100%;
				width: 200%;
				height: 70%;
				//clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0 100%);
				clip-path: polygon(55% 0, 100% 0%, 55% 100%, 0 100%);
			}

			&.style--green {

				&::before, &::after {
					background: #d8e6e3;
				}
			}

			&.style--purple {
				
				&::before, &::after {
					background: #e0dae3;
				}
			}

			&.style--blue {
				
				&::before, &::after {
					background: #c8dae4;
				}
			}

			&.style--red {

				&::before, &::after {
					background: #e5e6ef;
				}
			}

			&.type--short {

				.inner--grant {

					h1, h2, h3, h4, h5, h6 {
						.font-size(28);
					}
				}

				&::after {
					height: 150%;
				}
			}
		}
	}

	&__children {
		padding: 40px 0;

		.grid--priority-areas--grants {
			
			.block--grant {

				&::after {
					display: none;
				}

				&::before {
					display: none;
				}
			}
		}
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {
	padding: 40px 0 65px;

	.uk-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--funding-programmes--heading {

		.inner--funding-programmes--heading {
			margin-bottom: 15px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
			}
		}
	}

	.block--copy {
		max-width: 310px;

		p, li {
			.font-size(28);
			line-height: 1.25em;
			font-weight: 300;
		}
	}

	.block--button {
		margin-top: 50px;
	}

	.grid--programmes {

		.block--programme {
			max-width: 270px;
			padding-left: 15px;

			.programme--heading {
				border-bottom: 2px solid @white;
				padding: 0 0 18px;
				margin: 0 0 12px;

				h3 {
					.font-size(28);
					font-weight: 500;
					margin-bottom: 5px;
					text-transform: none;
					max-width: 60%;
				}

				h4 {
					.font-size(20);
					font-weight: 300;
				}
			}

			.programme--copy {

				p, li {
					.font-size(20);
					color: @white;
					line-height: 1.1;
					margin: 0 0 25px;
					font-weight: 300;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: 140px;
			top: 0;

			&.active {

				span {

					&::before {
						height: 375%;
					}

					&.line--down {

						&::before {
							top: -100%;
						}
					}
				}
			}
		}
	}
}

/* Column Text */

.section--column-text {
	padding: 40px 0 65px;

	&.style--grey {
		//margin-top: 70px;
	}

	.uk-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--column-text--heading {

		.inner--column-text--heading {
			margin-bottom: 15px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
			}
		}
	}

	.block--copy {
		max-width: 375px;

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(28);
		}
	}

	.block--copy-cols {

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(22);

		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: 140px;
			top: 0;

			&.active {

				span {

					&::before {
						height: 375%;
					}

					&.line--down {

						&::before {
							top: -100%;
						}
					}
				}
			}
		}
	}

	&.section--column-text--priority {

		.block--column-text--heading {

			.inner--column-text--heading {
				margin-bottom: 0;

				h1, h2, h3, h4, h5, h6 {
					.font-size(28);
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {

	.uk-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--heading {
		
		h2 {
			.font-size(60);
		}
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(28);
			}

			h3 {
				.font-size(55);
			}
		}

		.diagram {

			.diagram-info {

				p {
					.font-size(20);

					strong {
						font-weight: 500;
					}
				}
			}
		}
	}

	.awarded-list {

		.grid--awarded-list {
			margin-left: -30px;

			.grid--block {
				padding-left: 30px;
			}
		}
	}

	// Outro

	.block--outro {

		.intro--outro {
			max-width: 560px;

			p {
				.font-size(28);
			}

			.block--button {
				margin-top: 45px;

				.uk-button {
					.font-size(22);
				}
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {
	max-width: 1360px;
	margin: 0 auto;

	.grid--apply-cta--grants {
		margin-left: -40px;

		.grid--block {
			padding-left: 40px;
		}
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			max-width: 390px;

			span {

				&.label {

					&.alpha {
						max-width: 290px;
					}

					&.beta {
						max-width: 290px;
					}

					&.gamma {
						max-width: 290px;
					}
				}
			}
		}
	}
}

/* Section: Quote */

.section--quote {
	padding: 75px 0;
}

/* Section: Plain Text */

.section--plain-text {

	.block--plain-text {
		padding: 50px 0;

		h1, h2 {
			.font-size(38);
		}

		h3 {
			.font-size(28);
		}

		h4 {
			.font-size(24);
		}

		h5, h6 {
			.font-size(24);
		}
	}

	// FAQs

	&.section--faqs {

		.block--faqs {

			ul {

				li {

					a.uk-accordion-title {
						padding: 0 160px 0 0;
						.font-size(22);
					}

					div {
						max-width: 1090px;
					}
				}
			}
		}
	}
}

/* Section: Staff & Trustees */

.section--staff {
	padding: 60px 0;

	.block--heading {
		margin-bottom: 50px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(55);
		}
	}

	.grid--staff {

		.block--staff {

			.staff--img {
				margin-bottom: 30px;
			}

			.staff--headings {

				h3, h4 {
					.font-size(28);
				}
			}

			.staff--read-more {
				margin-top: 25px;

				a {
					.font-size(20);
				}
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {
	padding: 50px 0 70px;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
			}
		}
	}

	.block--intro-cta {

		.block--copy {
			margin-bottom: 30px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(28);
			}

			p {
				.font-size(28);
			}
		}

		.block--button {

			.uk-button {
				.font-size(22);
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: 140px;
			top: 0;

			&.active {

				span {

					&::before {
						height: 375%;
					}

					&.line--down {

						&::before {
							top: -150%;
						}
					}
				}
			}
		}
	}
}

/* Section: What's New */

.section--whats-new {
	padding: 50px 0 70px;

	.block--heading {
		margin-bottom: 50px;

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(60);
			}
		}
	}

	.block-articles {
		column-count: 3;
		column-gap: 50px;
	}

	.paginate {
		margin-top: 100px;
	}
}

.temp-whats-new-detail {

	.section--whats-new {

		.block--heading {

			p {

				&.link {
					.font-size(22);
				}
			}

			.inner--heading {
				max-width: 856px;

				h1, h2, h3, h4, h5, h6 {
					.font-size(60);
				}
			}
		}

		.block-img {
			margin-bottom: 50px;

			img {
				//opacity: 0.2;
			}
		}

		.block-content {
			margin-top: 40px;
			max-width: 750px;
			padding-left: 100px;
		}

		.block-copy {

			p {
				.font-size(22);
			}
		}

		// Lines

		.effect--lines {

			.lines {
				right: 580px;
				top: 0;

				&.active {

					span {

						&::before {
							height: 375%;
						}

						&.line--down {

							&::before {
								top: -150%;
							}
						}
					}
				}
			}
		}
	}

	.backing-lines {
		display: block;
		position: relative;
		overflow: hidden;
	}
}

/* Section: Application Deadline */

.section--application-deadline {
	padding: 50px 0;

	.block--copy {
		max-width: 620px;

		h1, h2 {
			.font-size(28);
		}

		h3 {
			.font-size(38);
		}

		h4, h5, h6, p {
			.font-size(24);
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: 80px;
			top: -50%;

			&.active {

				span {

					&::before {
						height: 375%;
					}

					&.line--down {

						&::before {
							top: -100%;
						}
					}
				}
			}
		}
	}
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(60);
		}
	}

	// Charts

	.block--stats {
		padding: 50px 0 25px;

		.block--stat {

			.inner--stat {

				.stat {
					width: 235px;
					height: 235px;

					.stat--amount {
						.font-size(50);

						.stat--label {
							.font-size(28);
							max-width: 170px;
							margin: 50px auto 0;
							line-height: 1.25em;
						}
					}

					&.stat-small {
						width: 190px;
						height: 190px;

						.stat--amount {
							.font-size(45);
						}
					}

					&.stat-medium {
						width: 235px;
						height: 235px;

						.stat--amount {
							.font-size(50);
						}
					}

					&.stat-large {
						width: 520px;
						height: 520px;
						top: -120px;

						.stat--amount {
							.font-size(110);
						}
					}
				}

				.stat--label {

					p {
						.font-size(24);
						max-width: 140px;
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 40px 0 0;
	overflow: hidden;

	.block--heading {
		margin-bottom: 40px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(60);
		}
	}

	.grid--values {
		position: relative;
		z-index: 2;

		.grid--block {

			.block--value {
				position: relative;

				.inner--value {
					padding: 25px;
					position: relative;
					z-index: 2;
					
					h3 {
						.font-size(28);
					}

					p {
						.font-size(22);
					}
				}

				&::after {
					content: '';
					position: absolute;
					top: 0.5%;
					left: -97%;
					height: 140%;
					width: 162%;
					clip-path: polygon(60% 0, 100% 0%, 60% 100%, 0 100%);
					z-index: -1;
				}

				&::before {
					content: '';
					position: absolute;
					top: 99.5%;
					left: -100%;
					width: 200%;
					height: 70%;
					clip-path: polygon(55% 0, 100% 0%, 55% 100%, 0 100%);
					z-index: -1;
				}
			}

			&.grid--block--green {

				.block--value {
					
					&::before, &::after {
						background: #d8e6e3;
						z-index: -1;
					}
				}
			}

			&.grid--block--purple {
				
				.block--value {
					
					&::before, &::after {
						background: #e0dae3;
						z-index: -2;
					}
				}
			}

			&.grid--block--blue {
				
				.block--value {
					
					&::before, &::after {
						background: #c8dae4;
						z-index: -3;
					}
				}
			}
		}
	}

	.values--spacer {
		width: 100%;
		height: 70px;
		background: white;
		position: relative;
		z-index: 1;
	}
}

/* Block: Deadlines */

.block--deadlines {

	.block--deadlines--heading {

		h3 {
			.font-size(28);
			margin-bottom: 20px;
		}
	}

	.block--deadline {

		h4 {
			.font-size(24);
		}

		p {
			.font-size(20);
		}
	}
}

.block--next-app {

	.inner--next-app {

		h3 {
			.font-size(28);
			margin-bottom: 20px;
		}

		p {
			.font-size(30);
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.block--grant-switcher--nav {
		padding: 0 0 65px;

		.inner--grant-switcher--nav {

			ul {

				li {

					a {
						.font-size(24);
						padding: 45px 0;

						span {
							padding-right: 6%;
						}

						.nav--number {
							.font-size(40);
						}
					}

					&.uk-active {

						a {

							&:before {
								height: 142%;
								left: -28px;
							}
						}

						&:last-child {

							a {

								&:after {
									height: 142%;
								}
							}
						}
					}
				}
			}
		}
	}

	.section--column-text {

		.effect--lines {

			.lines {
				right: -100px;
			}
		}

		.block--copy-cols {
			background: rgba(247, 247, 247, 0.8);

			h3 {
				.font-size(28);
			}
		}

		&.block--step-2--intro {
			margin-bottom: 70px;

			.effect--lines {
				padding-bottom: 70px;
			}
		}

		&.block--step-3--grant-amounts {

			.block--copy-cols {
				padding-top: 50px;
			}
		}

		&.block--step-4--intro {
			margin-bottom: 70px;

			.effect--lines {
				padding-bottom: 70px;
			}
		}
	}

	// Deadlines

	.block--step-4--deadlines {

		
	}

	// Graphs

	.block--graphs {

		.grid--graphs {
			margin-left: -30px;
		}

		.block--graph {
			padding-left: 30px;

			.inner-graph {

				.graph-info {

					p {
						.font-size(28);

						&.total {
							.font-size(55);
						}
					}
				}
			}
		}
	}

	// Charts

	.block--charts {

		.block--chart {

			.inner--chart {

				.chart {
					width: 300px;
					height: 300px;

					.chart--amount {
						.font-size(64);
					}

					&.chart-small {
						width: 240px;
						height: 240px;

						.chart--amount {
							.font-size(55);
						}
					}

					&.chart-medium {
						width: 300px;
						height: 300px;

						.chart--amount {
							.font-size(64);
						}
					}

					&.chart-large {
						width: 360px;
						height: 360px;

						.chart--amount {
							.font-size(55);
						}
					}
				}

				.chart--label {

					p {
						.font-size(28);
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {

	.uk-container {
		max-width: 1290px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.block--intro {
		padding-left: 0;
		padding-right: 0;
	}

	.block--filters {
		padding: 20px 25px;
	}

	.block--results-sort-by {
		padding: 25px 0 0;
	}

	.block--grants-results {
		padding: 30px 0 0;

		.grid--results--headings {

			&:before {
				left: 15px;
				width: calc(100% - 15px);
			}
		}

		.block--heading {
			padding-bottom: 8px;

			h4 {
				.font-size(18);
			}
		}

		.block--body {

			span {
				.font-size(18);

				em {

					&.uk-text-small {
						.font-size(14);
					}
				}

				&.website {
					.font-size(14);
				}
			}

			&.block--body--desc {

				span {
					.font-size(17);
				}
			}
		}
	}

	.block--pagination {
		padding: 20px 0;
	}
}


// Staff/Trustee Modal

.modal--staff {

	.modal--heading {

		h3, h4 {
			.font-size(28);
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {

	.block--grants-results {

		.block--heading {

			&.block--heading--award-date {
				width: 11%;
			}
		}

		.block--body {

			&.block--body--award-date {
				width: 11%;
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================