// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1400 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================

/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {

	// Graphs

	.block--banner--graphs {
		max-width: 620px;
		width: 100%;
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {

					.outer-graph {

						.graph {

							.total {
								.font-size(71);
								font-weight: 500;
							}
						}
					}
				}

				.graph-info {
					padding: 12px 0 30px 12px;
					
					p {
						.font-size(20);
					}
				}
			}
		}
	}

	// Priority Banner

	&.section--banner--priorty {

		// Lines

		.effect--lines {
			right: -140px;
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {

	.grid--apply-cta--grants {
		margin-left: -30px;

		.grid--block {
			padding-left: 30px;
		}
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			padding: 15px 18px;

			span {

				&.label {

					&.alpha {
						max-width: 320px;
					}

					&.beta {
						max-width: 320px;
					}

					&.gamma {
						max-width: 320px;
					}
				}
			}
		}
	}
}

/* Section: Quote */

.section--quote {
	padding: 85px 0;
}

/* Section: Staff & Trustees */

.section--staff {

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(60);
		}
	}
}

/* Section: Statistics */

.section--statistics {

	// Charts

	.block--stats {
		padding: 70px 0 30px;

		.block--stat {

			.inner--stat {

				.stat {

					.stat--amount {

						.stat--label {
							margin: 60px auto 0;
						}
					}

					&.stat-large {
						width: 610px;
						height: 610px;
						top: -170px;

						.stat--amount {
							.font-size(130);
						}
					}
				}

				.stat--label {

					p {
						.font-size(28);
						max-width: 165px;
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {

	.grid--values {

		.grid--block {

			.block--value {

				.inner--value {
					padding: 25px 30px;
					
					h3 {
						.font-size(30);
					}
				}
			}
		}
	}
}

/* Block: Deadlines */

.block--deadlines {

	.block--deadlines--heading {

		h3 {
			.font-size(30);
		}
	}

	.block--deadline {

		h4 {
			.font-size(28);
		}

		p {
			.font-size(22);
			max-width: 140px;
		}
	}
}

.block--next-app {

	.inner--next-app {

		h3 {
			.font-size(30);
		}

		p {
			.font-size(38);
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.section--column-text {

		&.block--step-4--deadlines {

			.effect--lines {

				.lines {
					right: 200px;
				}
			}
		}
	}

	.block--grant-switcher--nav {

		.inner--grant-switcher--nav {

			ul {

				li {

					a {
						.font-size(26);

						.nav--number {
							.font-size(44);
						}
					}
				}
			}
		}
	}

	// Deadlines

	.block--step-4--deadlines {

		
	}

	// Charts

	.block--charts {

		.block--chart {

			.inner--chart {

				.chart {
					width: 362px;
					height: 362px;

					.chart--amount {
						.font-size(64);
					}

					&.chart-small {
						width: 294px;
						height: 294px;

						.chart--amount {
							.font-size(55);
						}
					}

					&.chart-medium {
						width: 362px;
						height: 362px;

						.chart--amount {
							.font-size(64);
						}
					}

					&.chart-large {
						width: 412px;
						height: 412px;

						.chart--amount {
							.font-size(71);
						}
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {

	.block--grants-results {

		.block--heading {

			&.block--heading--priority-area {
				width: 13%;
			}

			&.block--heading--programme {
				width: 11%;
			}

			&.block--heading--award-date {
				width: 10%;
			}

			&.block--heading--amount-awarded {
				width: 8%;
			}

			&.block--heading--description {
				width: 33%;
			}
		}

		.block--body {

			&.block--body--priority-area {
				width: 13%;
			}

			&.block--body--programme {
				width: 11%;
			}

			&.block--body--award-date {
				width: 10%;
			}

			&.block--body--amount-awarded {
				width: 8%;
			}

			&.block--body--description {
				width: 33%;
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================