// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Container */

.uk-container {
	padding-left: 25px;
	padding-right: 25px;
}

// 6. LAYOUT 				==============================

/* Header */

.header {

	.logo {
		width: 310px;
	}
}

/* Mobile Navigation */

#navigation--mobile {

	.navigation--mobile {
		padding: 40px 10px;

		ul {

			li {
				.font-size(22);
			}
		}
	}
}


/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {
	padding: 25px 0 100px;

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.block--banner--heading {
		max-width: 300px;
	}

	.block--banner--copy {
		max-width: 300px;
	}

	.block--banner--button {
		max-width: 300px;
	}

	// Lines

	.effect--lines {

		.lines {

			&.lines--number--01 {
				right: -200px;
			}

			&.lines--number--02 {
				right: -356px;
			}
		}
	}

	// Graphs

	.graph--heading {
		margin: 20px 0 25px;

		h4 {
			.font-size(22);
		}
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {

					.outer-graph {

						.graph {

							.total {
								top: 10px;
								left: 10px;
								.font-size(50);
							}
						}
					}
				}

				.graph-info {

					p {
						.font-size(16);
					}
				}
			}
		}
	}

	// Priority Banner

	&.section--banner--priorty {

		.block--banner--back-button {
			padding-bottom: 20px;
			padding-left: 20px;
			padding-top: 20px;
		}

		.block--banner--heading {
			max-width: 70%;
			margin-top: 20px;

			h2 {
				.font-size(30);
			}
		}

		.block--banner--button {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&.section--banner--apply {

		.block--banner--back-button {
			padding-bottom: 0;
		}
	}
}

.section--banner--bg {
	margin-bottom: 15px;

	.uk-slideshow-items {

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(30);
				top: 25px;
				left: 25px;
			}

			.block--img {
				height: 380px;
			}
		}
	}

	.block--controls {
		margin: 12px 25px 12px 0;
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
		max-width: 380px;
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Column Text */

.section--column-text {

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {
	padding: 40px 0 50px;

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.block--heading {

		h2 {
			.font-size(40);
		}
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(18);
			}

			h3 {
				.font-size(24);
			}
		}
	}

	// Outro

	.block--outro {
		padding: 40px 0 0;

		.intro--outro {

			p {
				.font-size(20);
			}

			.block--button {
				margin-top: 30px;
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Section: Quote */

.section--quote {
	padding: 35px 0;
}

/* Section: Plain Text */

.section--plain-text {

	.block--plain-text {
		padding: 35px 0;
	}
}

/* Section: Staff & Trustees */

.section--staff {
	padding: 35px 0;

	.block--heading {
		//margin-bottom: 30px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(34);
		}
	}

	.grid--staff {

		.block--staff {
			//padding-bottom: 30px;

			.staff--img {
				margin-bottom: 30px;
			}

			.staff--headings {

				h3, h4 {
					.font-size(24);
				}
			}

			.staff--read-more {
				margin-top: 30px;
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {
	padding: 35px 0;

	.block--intro-cta {

		.block--copy {

			h1, h2, h3, h4, h5, h6 {
				.font-size(22);
			}

			p {
				.font-size(20);
			}
		}
	}
}

/* Section: Application Deadline */

.section--application-deadline {
	padding: 35px 0;
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}

	// Charts

	.block--stats {

		.block--stat {

			.inner--stat {

				.stat {
					width: 220px;
					height: 220px;

					.stat--amount {
						.font-size(38);
					}

					&.stat-small {
						width: 200px;
						height: 200px;

						.stat--amount {
							.font-size(36);
						}
					}

					&.stat-medium {
						width: 220px;
						height: 220px;

						.stat--amount {
							.font-size(38);
						}
					}

					&.stat-large {
						width: 400px;
						height: 400px;

						.stat--amount {
							.font-size(71);
						}
					}
				}

				.stat--label {

					p {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 35px 0;

	.grid--values {

		.grid--block {

			.block--value {

				.inner--value {
					padding: 20px;

					h3 {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Block: Deadlines */

.block--deadlines {

	.block--deadlines--heading {

		h3 {
			.font-size(26);
		}
	}

	.block--deadline {

		h4 {
			.font-size(26);
		}

		p {
			.font-size(18);
		}
	}
}

.block--next-app {

	.inner--next-app {

		h3 {
			.font-size(26);
		}

		p {
			.font-size(30);
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.block--grant-switcher--nav {

		.inner--grant-switcher--nav {

			ul {

				li {

					a {
						padding: 30px;
						.font-size(22);

						.nav--number {
							.font-size(22);
						}
					}
				}
			}
		}
	}

	.section--column-text {

		.block--copy-cols {

			h3 {
				.font-size(24);
			}
		}

		&.block--step-2--intro {
			margin-bottom: 45px;
		}

		&.block--step-4--intro {
			margin-bottom: 45px;
		}

		&.block--step-3--grant-amounts {

			.block--copy-cols {
				padding-top: 35px;
			}
		}
	}

	// Deadlines

	.block--step-4--deadlines {

		
	}

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-info {

					p {
						.font-size(16);

						&.total {
							.font-size(40);
						}
					}
				}
			}
		}
	}

	// Charts

	.block--charts {

		.block--chart {

			.inner--chart {

				.chart {
					width: 300px;
					height: 300px;

					.chart--amount {
						.font-size(50);
					}

					&.chart-small {
						width: 200px;
						height: 200px;

						.chart--amount {
							.font-size(36);
						}
					}

					&.chart-medium {
						width: 300px;
						height: 300px;

						.chart--amount {
							.font-size(54);
						}
					}

					&.chart-large {
						width: 400px;
						height: 400px;

						.chart--amount {
							.font-size(71);
						}
					}
				}

				.chart--label {

					p {
						.font-size(28);
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {

	.block--intro {
		padding-left: 25px;
		padding-right: 25px;
	}

	.block--filters {
		padding: 25px;
	}

	.block--results-sort-by {
		padding: 25px 25px 0;
	}

	.block--grants-results-m {

		.block--result-m {
			padding: 10px 25px;

			&::before {
				width: calc(100% - 50px);
			}
		}
	}

	.block--pagination {
		padding-left: 25px;
		padding-right: 25px;
	}
}

// Staff/Trustee Modal

.modal--staff {

	.modal--heading {

		h3, h4 {
			.font-size(24);
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================