// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

p, blockquote {
	.font-size(18);
}

ul, ol {

	li {
		.font-size(18);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Container */

.uk-container {
	padding-left: 30px;
	padding-right: 30px;
}

// Lines

.effect--lines {

	span {
		margin-right: 6px;
	}

	.lines {
		.rotate(40deg);
	}
}

// 6. LAYOUT 				==============================

/* Header */

.header {

	/*.navigation {
		width: 260px;

		.uk-navbar-nav {

			li {

				a {
					padding: 0 25px;

					&:after {
						left: 25px;
					}
				}
			}
		}
	}*/
}

/* Mobile Navigation */

#navigation--mobile {

	.navigation--mobile {
		padding: 40px 10px;

		ul {

			li {
				.font-size(24);
			}
		}
	}
}


/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {
	padding: 40px 0;
	margin-bottom: 55px;

	&.section--banner--white {
		background: @white;
	}	

	&.section--banner--grey {
		background: @sitelightgrey;
	}

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block--banner--back-button {

		.uk-button--back {
			.font-size(18);
		}
	}

	.block--banner--heading {
		max-width: 300px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}

	.block--banner--copy {
		max-width: 340px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(24);
		}

		p {
			.font-size(24);
			margin: 0 0 25px;
		}
	}

	.block--banner--button {
		max-width: 480px;
	}
	
	// Lines

	.effect--lines {
		padding-bottom: 55px;

		.lines {

			&.lines--green {
				right: -150px;
			}

			&.lines--purple {
				right: -369px;
			}
		}
	}

	// Graphs

	.graph--heading {
		margin: 20px 0 25px;

		h4 {
			.font-size(24);
		}
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {

					.outer-graph {

						.graph {

							.total {
								.font-size(60);
							}
						}
					}
				}

				.graph-info {

					p {
						.font-size(18);
					}
				}
			}
		}
	}

	&.section--banner--clip-lines {
		margin-bottom: 0;

		.effect--lines {
			padding-bottom: 0;
		}
	}

	// Priority Banner

	&.section--banner--priorty {

		.block--banner--back-button {
			padding-bottom: 25px;
			padding-top: 0;
			padding-left: 30px;
		}

		.block--banner--heading {
			max-width: 70%;
			margin-top: 25px;

			h2 {
				.font-size(32);
			}
		}

		.block--banner--button {
			margin-top: 50px;
		}
	}

	&.section--banner--apply {

		.block--banner--back-button {
			padding-bottom: 0;
		}
	}
}

.section--banner--bg {

	.uk-slideshow-items {

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(42);
				top: 30px;
				left: 30px;
			}

			.block--img {
				height: 420px;
			}
		}
	}

	.block--controls {
		margin: 12px 30px 12px 0;

		.block--captions {

			ul {

				.block--caption {

					p {
						.font-size(16);
					}
				}
			}
		}
	}

	.slider--nav {
		margin: 5px 0 0;
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {
	padding: 25px 0 40px;

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
		max-width: 1290px;
	}

	.block--priority-areas--heading {
		margin-bottom: 25px;

		.inner--priority-areas--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(45);
			}

			p {
				.font-size(24);
			}
		}
	}

	.block--priority-areas--copy {
		margin-bottom: 25px;
	}

	.grid--priority-areas--grants {

		.block--grant {

			.inner--grant {

				h1, h2, h3, h4, h5, h6 {
						.font-size(20);
						max-width: none;
						margin: 0;
					}

				p, li {
					.font-size(18);
				}

				.block--heading {
					margin-bottom: 25px;
				}

				.block--subheading {

					p, li {
						.font-size(22);
					}
				}

				.block--intro {
					margin-bottom: 60px;
				}

				.block--button {

					.uk-button {
						border: 1px solid @white;
						background: @white;
						.font-size(14);
					}
				}

				.block--buttons {
					display: block;

					.block--button {
						margin-bottom: 15px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}

			&.style--green {
				background: @sitegreen;

				.inner--grant {

					.block--button {

						.uk-button {
							color: @sitegreen;

							&:hover {
								border: 1px solid @white;
								background: @sitegreen;
								color: @white;
							}
						}
					}
				}
			}

			&.style--red {
				background: @sitered;

				.inner--grant {

					.block--button {

						.uk-button {
							color: @sitered;

							&:hover {
								border: 1px solid @white;
								background: @sitered;
								color: @white;
							}
						}
					}
				}
			}

			&.style--purple {
				background: @sitepurple;

				.inner--grant {

					.block--button {

						.uk-button {
							color: @sitepurple;

							&:hover {
								border: 1px solid @white;
								background: @sitepurple;
								color: @white;
							}
						}
					}
				}
			}

			&.style--blue {
				background: @siteblue;

				.inner--grant {

					.block--button {

						.uk-button {
							color: @siteblue;

							&:hover {
								border: 1px solid @white;
								background: @siteblue;
								color: @white;
							}
						}
					}
				}
			}
		}
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {
	padding: 30px 0;

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.block--funding-programmes--heading {

		.inner--funding-programmes--heading {
			max-width: none;

			h1, h2, h3, h4, h5, h6 {
				.font-size(40);
			}
		}
	}

	.block--copy {

		p, li {
			.font-size(20);
			color: @white;
			line-height: 1.2em;
			letter-spacing: -0.2px;
			margin: 0 0 25px;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.block--button {
		margin-top: 30px;

		.uk-button {
			background: @white;
			color: @sitedarkgrey;
			border: 1px solid @white;

			&:hover {
				border: 1px solid @white;
				background: @sitedarkgrey;
				color: @white;
			}
		}
	}

	.grid--programmes {

		.block--programme {

			.programme--heading {

				h3 {
					.font-size(20);
					color: @white;
					line-height: 1.1em;
					letter-spacing: -0.2px;
					margin: 0;
					text-transform: uppercase;
				}

				h4 {
					.font-size(16);
					color: @white;
					line-height: 1.1em;
					letter-spacing: -0.2px;
					margin: 0;
				}
			}

			.programme--copy {

				p, li {

				}
			}
		}
	}

	// Lines

	.effect--lines {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;

		.lines {
			position: absolute;
			right: -40%;
			top: 10%;
			height: 100%;
			width: 100%;

			span {
				float: right;
			}
		}
	}
}

/* Column Text */

.section--column-text {
	padding: 30px 0;

	&.style--grey {
		//margin-top: 40px;
	}

	.block--column-text--heading {
		position: relative;
		z-index: 2;

		.inner--column-text--heading {
			max-width: none;

			h1, h2, h3, h4, h5, h6 {
				.font-size(40);
			}
		}
	}

	.block--copy {
		max-width: none;
		position: relative;
		z-index: 2;

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(22);
		}
	}

	.block--copy-cols {
		position: relative;
		z-index: 2;

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(18);

		}
	}

	// Lines

	.effect--lines {
		//position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;
		//z-index: 0;

		.lines {
			position: absolute;
			right: -40%;
			top: 10%;
			height: 100%;
			width: 100%;

			span {
				float: right;
			}
		}
	}

	/*&.style--grey {
		
		.effect--lines {

			.lines {

				span {

					&::before {
						background: #e8e8e8;
					}
				}
			}
		}
	}

	&.style--white {
		
		.effect--lines {

			.lines {

				span {

					&::before {
						background: @sitelightgrey;
					}
				}
			}
		}
	}*/

	&.section--column-text--priority {

		.block--column-text--heading {

			.inner--column-text--heading {

				h1, h2, h3, h4, h5, h6 {
					.font-size(22);
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {
	padding: 50px 0 60px;

	.block--heading {

		h2 {
			.font-size(45);
		}
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(20);
			}

			h3 {
				.font-size(42);
			}
		}
	}

	// Outro

	.block--outro {
		padding: 40px 0 0;
		width: 100%;

		.intro--outro {
			max-width: 400px;

			p {
				.font-size(20);
			}

			.block--button {
				margin-top: 30px;
			}
		}
	}

	// Awarded Details

	.block--awarded-details {
		margin: 25px 0 0;
		border-top: 1px solid @textdark;
		border-bottom: 1px solid @textdark;
		padding: 25px 0;

		.block--funding-totals, .block--plan-give {

			h4 {
				.font-size(18);
				margin: 0;
				font-weight: 400;
			}

			p {
				.font-size(45);
				font-weight: 400;
			}
		}

		.block--funding-totals {

			.inner--funding-totals {
				border-top: none;
				border-bottom: none;
				padding: 10px 0;
				position: relative;
				text-align: center;

				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					width: 1px;
					height: 100%;
					background: @textdark;
				}
			}
		}

		.block--plan-give {

			.inner--plan-give {
				border-bottom: none;
				padding: 10px 0;
				text-align: center;
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {
	padding: 30px 0 35px;

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block--apply-cta--copy {
		max-width: 540px;
		text-align: center;
		margin: 0 auto 30px;

		p, li {
			.font-size(25);
		}
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			.font-size(18);
			max-width: none;

			span {

				&.label {

					&.alpha {
						max-width: 130px;
					}

					&.beta {
						max-width: 130px;
					}

					&.gamma {
						max-width: 150px;
					}
				}

				&.icon {
					right: 2px;

					svg {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}

	.block--apply-cta--button {
		margin-top: 38px;
		text-align: center;

		.uk-button {
			min-width: 205px;
			text-align: left;
			position: relative;
			.font-size(22);

			svg {
				position: absolute;
				right: 5px;
				top: 50%;
				.translate(0,-50%);
				width: 25px;
				height: 25px;

				polyline {
					stroke-width: 1.5px;
				}
			}
		}
	}
}

/* Section: Quote */

.section--quote {
	padding: 40px 0;
}

/* Section: Plain Text & FAQs */

.section--plain-text {

	.block--plain-text {
		padding: 40px 0;

		h1, h2 {
			.font-size(28);
			margin: 0 0 25px;
		}

		h3 {
			.font-size(24);
			margin: 0 0 25px;
		}

		h4 {
			.font-size(18);
		}

		h5, h6 {
			.font-size(18);
			margin: 0 0 25px;
		}

		p {
			margin: 0 0 25px;
		}

		ul, ol {
			margin-bottom: 25px;
		}
	}

	// FAQs

	&.section--faqs {

		.block--faqs {

			ul {

				li {
					padding: 20px 0;

					a.uk-accordion-title {
						padding: 0 80px 0 0;
						.font-size(18);
					}

					div {
						max-width: 80%;
					}
				}
			}
		}
	}
}

/* Section: Staff & Trustees */

.section--staff {
	padding: 40px 0;

	.block--heading {
		margin-bottom: 40px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}

	.grid--staff {

		.block--staff {

			.staff--img {
				margin-bottom: 20px;
			}

			.staff--headings {

				h3, h4 {
					.font-size(20);
				}
			}

			.staff--read-more {
				margin-top: 20px;

				a {
					.font-size(18);
				}
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {
	margin: 0 auto 20px;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(40);
			}
		}
	}

	.block--intro-cta {

		.block--copy {
			margin-bottom: 30px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(24);
			}

			p {
				.font-size(24);
			}
		}
	}

	// Lines

	.effect--lines {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;

		.lines {
			position: absolute;
			right: -40%;
			top: 10%;
			height: 100%;
			width: 100%;

			span {
				float: right;
			}
		}
	}
}

/* Section: What's New */

.section--whats-new {
	margin: 0 auto 20px;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(40);
			}
		}
	}

	.block--intro-cta {

		.block--copy {
			margin-bottom: 30px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(24);
			}

			p {
				.font-size(24);
			}
		}
	}

	// Lines

	.effect--lines {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;

		.lines {
			position: absolute;
			right: -40%;
			top: 10%;
			height: 100%;
			width: 100%;

			span {
				float: right;
			}
		}
	}
}

/* Section: Application Deadline */

.section--application-deadline {
	padding: 40px 0;
	position: relative;

	.block--copy {
		position: relative;
		z-index: 3;

		h1, h2 {
			.font-size(22);
			margin-bottom: 20px;
		}

		h3 {
			.font-size(32);
			margin-bottom: 25px;
		}

		h4, h5, h6, p {
			.font-size(20);
		}
	}

	// Lines

	.effect--lines {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;

		.lines {
			position: absolute;
			right: 0;
			top: -13%;
			height: 100%;
			width: 100%;

			span {
				float: right;
			}
		}
	}
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}
}

/* Section: Values */

.section--values {
	padding: 35px 0;

	.uk-container {
		max-width: 1290px;
	}

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}

	.grid--values {

		.grid--block {

			.block--value {

				.inner--value {

					p {
						.font-size(20);
					}
				}
			}
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.block--grant-switcher--nav {

		.inner--grant-switcher--nav {

			ul {

				li {
					padding-right: 5px;

					a {
						.font-size(20);
						display: flex;
						padding: 30px 5px;

						.nav--number {
							display: block;
							.font-size(30);
							margin-bottom: 5px;

							span {
								display: none;
							}
						}

						.nav--label {
							display: block;
						}
					}

					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}

	.section--column-text {

		.block--copy-cols {
			max-width: 640px;

			h3 {
				.font-size(24);
			}
		}

		&.block--step-2--intro {
			margin-bottom: 55px;

			.effect--lines {
				padding-bottom: 55px;
			}
		}

		&.block--step-3--grant-amounts {

			.block--copy-cols {
				padding-top: 40px;
			}
		}

		&.block--step-4--intro {
			margin-bottom: 55px;

			.effect--lines {
				padding-bottom: 55px;
			}
		}

		&.block--step-4--deadlines {

			.effect--lines {

				.lines {
					right: 200px;
					top: -10%;
				}
			}
		}
	}

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-info {

					p {
						.font-size(18);

						&.total {
							.font-size(50);
						}
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {

	.block--intro {

		p {
			.font-size(20);
		}
	}

	.block--filters {

		.filter {

			label {
				.font-size(20);
				margin: 0 0 7px;
			}

			.uk-select {
				.font-size(20);
			}
		}

		.block--controls {

			.uk-button {
				min-width: 175px;
				margin-right: 20px;
			}
		}
	}

	.block--results-sort-by {

		.block--results {

			p {
				.font-size(20);
			}
		}

		.block--sort-by {
			text-align: right;

			label {
				.font-size(20);
			}

			.uk-select {
				.font-size(20);
			}
		}
	}
}

// Staff/Trustee Modal

.modal--staff {

	.modal--img {
		margin-bottom: 30px;
	}

	.modal--heading {

		h3, h4 {
			.font-size(26);
		}
	}

	.modal--copy {
		margin-top: 30px;
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================