// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.uk-container {
	padding-left: 35px;
	padding-right: 35px;
}

// 6. LAYOUT 				==============================

/* Header */

/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-info {

					p {
						.font-size(22);

						&.total {
							.font-size(56);
						}
					}
				}
			}
		}
	}
}

/* Section: Banner */

.section--banner--bg {

	.uk-slideshow-items {

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
			}

			.block--img {
				height: 440px;
			}
		}
	}

	.block--controls {
		margin: 12px 30px 12px 0;
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--priority-areas--heading {

		.inner--priority-areas--heading {

			p {

				br {
					display: block;
				}
			}
		}
	}

	.grid--priority-areas--grants {

		.block--grant {

			.inner--grant {

				h1, h2, h3, h4, h5, h6 {
					.font-size(23);
				}

				p, li {
					.font-size(20);
				}

				.block--subheading {

					p, li {
						.font-size(24);
					}
				}

				.block--button {

					.uk-button {
						.font-size(16);
					}
				}
			}
		}
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {
	padding: 35px 0;

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block--funding-programmes--heading {

		.inner--funding-programmes--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(45);
			}
		}
	}

	.block--copy {

		p, li {
			.font-size(22);
		}
	}

	.block--button {
		margin-top: 80px;
	}

	.grid--programmes {

		.block--programme {

			.programme--heading {

				h3 {
					.font-size(24);
				}

				h4 {
					.font-size(18);
				}
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -179px;
		}
	}
}

/* Column Text */

.section--column-text {
	padding: 35px 0;

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.block--column-text--heading {

		.inner--column-text--heading {
			h1, h2, h3, h4, h5, h6 {
				.font-size(45);
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {

	.uk-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(22);
			}

			h3 {
				.font-size(45);
			}
		}
	}

	// Awarded Details

	.block--awarded-details {
		padding: 30px 0;

		.block--funding-totals, .block--plan-give {

			h4 {
				.font-size(20);
			}

			p {
				.font-size(55);
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {
	padding: 35px 0 40px;

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--apply-cta--copy {
		margin: 0 auto 35px;
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			.font-size(22);

			span {

				&.label {

					&.alpha {
						max-width: 160px;
					}

					&.beta {
						max-width: 150px;
					}

					&.gamma {
						max-width: 180px;
					}
				}
			}
		}
	}
}

/* Section: Quote */

.section--quote {
	padding: 45px 0;
}

/* Section: Staff & Trustees */

.section--staff {

	.grid--staff {

		.block--staff {

			.staff--img {
				margin-bottom: 25px;
			}

			.staff--headings {

				h3, h4 {
					.font-size(24);
				}
			}

			.staff--read-more {
				margin-top: 25px;

				a {
					.font-size(20);
				}
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(45);
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -179px;
		}
	}
}

/* Section: What's New */

.section--whats-new {

	.block--heading {
		margin-bottom: 20px;

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(55);
			}
		}
	}

	.block-articles {
		column-count: 2;
		column-gap: 20px;
	}

	.block-article {

		img {
			margin-bottom: 15px;
		}

		h3 {
			.font-size(22); 
			line-height: 1.1;
		}

		p {
			.font-size(18);
		}
	}

	.paginate {
		margin-top: 40px;
		border-top: none;
		padding-top: 0;

		.prev {
			position: relative;
			left: auto;
			top: auto;
			.font-size(18);
		}

		.next {
			.font-size(18);
			margin-left: 60px;
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -179px;
		}
	}
}


.temp-whats-new-detail {

	.section--whats-new {

		.block--heading {
			margin-bottom: 20px;

			p {

				&.link {
					.font-size(22);
					margin-bottom: 20px;
				}
			}

			.inner--heading {

				h1, h2, h3, h4, h5, h6 {
					.font-size(45);
				}
			}
		}

		.block-img {
			margin-bottom: 20px;
		}

		.block-content { 
			max-width: 580px;
		}

		.block-intro {

			p {
				.font-size(28); 
			}
		}

		.block-copy {

			p {
				.font-size(18);
			}
		}
	}
}

/* Section: Application Deadline */

.section--application-deadline {

	// Lines

	.effect--lines {

		.lines {
			//right: -179px;
		}
	}
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(45);
		}
	}
}

/* Section: Values */

.section--values {
	padding: 35px 0;

	.block--heading {

		h1, h2, h3, h4, h5, h6 {
			.font-size(45);
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.section--column-text {

		&.block--step-4--deadlines {

			.effect--lines {

				.lines {
					right: 150px;
					top: -50%;
				}
			}
		}
	}

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-info {

					p {
						.font-size(22);

						&.total {
							.font-size(56);
						}
					}
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================