// ==========================================================

// Jordan Craft Limited
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 960 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

p, blockquote {
	.font-size(20);
}

ul, ol {

	li {
		.font-size(20);
	}
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.uk-container {
	padding-left: 35px;
	padding-right: 35px;
}

// 6. LAYOUT 				==============================

/* Header */

.header {
	padding: 35px 0 45px;
	margin-bottom: 0;

	.logo {
		max-width: 300px;
	}

	.navigation {
		margin-top: 5px;

		.uk-navbar-nav {

			li {
				color: @textdark;

				a {
					.font-size(17);
					color: @textdark;
					padding: 0 10px;

					&:hover {
						color: @textlight;
					}
				}

				&.uk-active {

					a {
						color: @textdark;
						font-weight: 500;

						&:hover {
							color: @textdark;
						}
					}
				}
			}
		}
	}
}

/* Navigation */

.text-height--desktop {
	position: absolute;
	top: 8px;
	right: 35px;

	button {
		display: inline-block;

		img {
			margin-left: 0;
		}
	}

	img {
		display: inline-block;
		margin-left: 4px;
	}
}

/* Content Blocks */

/* Section:  */

/* Section: Banner */

.section--banner {
	padding: 40px 0 65px;
	margin-bottom: 55px;

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--banner--back-button {
		margin-bottom: 25px;

		.uk-button--back {
			.font-size(20);
			padding-left: 15px;

			svg {
				width: 25px;
				height: 25px;
				left: -8px;
			}
		}
	}

	.block--banner--heading {
		max-width: 580px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(55);
		}
	}

	.block--banner--copy {
		max-width: 480px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(28);
		}

		p {
			.font-size(28);
			margin: 0 0 30px;
		}
	}

	// Lines

	.effect--lines {
		padding-bottom: 55px;
		top: 0;
		right: 0;

		.lines {
			top: 0;

			&.lines--number--01 {
				right: 20px;
			}

			&.lines--number--02 {
				right: -190px;
			}

			&.lines--number--03 {
				right: -400px;
				display: block;
			}
		}
	}

	// Graphs

	&.section--banner--graphs {
		min-height: 440px;
	}

	.graph--heading {
		margin: 20px 0 25px;

		h4 {
			.font-size(28);
		}
	}

	.block--banner--graphs {
		position: absolute;
		bottom: 0;
		right: 35px;
		max-width: 40%;
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {

					.outer-graph {

						.graph {

							.total {
								.font-size(40);
							}
						}
					}
				}

				.graph-info {
					padding: 10px 10px 20px;

					p {
						.font-size(16);
					}
				}
			}
		}
	}

	&.section--banner--clip-lines {
		margin-bottom: 0;

		.effect--lines {
			padding-bottom: 0;
		}
	}

	// Priority Banner

	&.section--banner--priorty {
		overflow: hidden;

		.block--banner--back-button {
			padding-bottom: 25px;
			padding-left: 35px;
		}

		.block--banner--heading {
			max-width: 75%;
			width: 100%;
			margin-top: 30px;

			h2 {
				.font-size(34);
			}
		}

		.block--banner--button {
			margin-top: 55px;
		}

		// Lines

		.effect--lines {
			right: -15%;
		}
	}

	// Apply Banner

	&.section--banner--apply {

		.block--banner--back-button {
			padding-bottom: 0;
		}
	}

	// Graphs Banner

	&.section--banner--graphs {

		.block--banner--heading {
			max-width: 580px;
		}

		.block--banner--copy {
			max-width: 480px;
		}
	}
}

.section--banner--bg {
	margin-bottom: 25px;

	.uk-slideshow-items {

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
				top: 35px;
				left: 35px;
			}

			.block--img {
				height: 480px;
			}
		}
	}

	.block--controls {
		margin: 12px 35px 12px 0;

		.block--captions {
			padding-right: 20px;

			ul {

				.block--caption {

					p {
						.font-size(18);
					}
				}
			}
		}
	}

	.slider--nav {
		margin: 7px 0 0;
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {

	.block--priority-areas--heading {

		.inner--priority-areas--heading {
			//max-width: 530px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
			}

			p {
				.font-size(28);
			}
		}
	}

	.grid--priority-areas--grants {

		.block--grant {

			.inner--grant {
				padding: 15px 17px;

				h1, h2, h3, h4, h5, h6 {
					.font-size(32);
				}

				p, li {
					.font-size(20);
				}

				.block--subheading {

					p, li {
						.font-size(24);
					}
				}

				.block--button {

					.uk-button {
						.font-size(22);
					}
				}

				.block--buttons {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;

					.block--button {
						margin-bottom: 0;

						&:last-child {

							.uk-button {
								margin-right: 0 !important;
							}
						}
					}
				}
			}

			&.type--short {

				.inner--grant {

					h1, h2, h3, h4, h5, h6 {
						.font-size(26);
					}
				}
			}
		}
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {
	padding: 35px 0 80px;

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--funding-programmes--heading {

		.inner--funding-programmes--heading {
			margin-bottom: 10px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
			}
		}
	}

	.block--copy {
		max-width: 380px;

		p, li {
			.font-size(24);
			line-height: 1.25em;
		}
	}

	.block--button {
		margin-top: 50px;
	}

	.grid--programmes {

		.block--programme {

			.programme--heading {

				h3 {
					.font-size(30);
				}

				h4 {
					.font-size(22);
				}
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -80px;
		}
	}
}

/* Column Text */

.section--column-text {
	padding: 35px 0 80px;

	&.style--grey {
		//margin-top: 50px;
	}

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--column-text--heading {

		.inner--column-text--heading {
			margin-bottom: 10px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
			}
		}
	}

	.block--copy {

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(24);
		}
	}

	.block--copy-cols {

		h1, h2, h3, h4, h5, h6, p, li {
			.font-size(20);

		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -80px;
		}
	}

	&.section--column-text--priority {

		.block--column-text--heading {

			.inner--column-text--heading {

				h1, h2, h3, h4, h5, h6 {
					.font-size(24);
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	.block--heading {

		h2 {
			.font-size(55);
		}
	}

	.awarded-list {
		margin-bottom: 60px;

		.awarded-el {

			.diagram {

				.diagram-info-wrapper {
					display: block;
				}
			}
		}
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(26);
			}

			h3 {
				.font-size(55);
			}
		}
	}

	// Outro

	.block--outro {
		padding: 0;

		.intro--outro {
			max-width: 500px;

			p {
				.font-size(24);
			}

			.block--button {
				margin-top: 35px;

				.uk-button {
					.font-size(20);
				}
			}
		}
	}

	// Awarded Details

	.block--awarded-details {

		.block--funding-totals, .block--plan-give {

			h4 {
				.font-size(28);
			}

			p {
				.font-size(70);
			}
		}

		.block--funding-totals {

			.inner--funding-totals {
				padding: 20px 0;
			}
		}

		.block--plan-give {

			.inner--plan-give {
				padding: 20px 0;
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {
	padding: 65px 0;

	.block--apply-cta--copy {
		margin: 0 auto 45px;
		max-width: 640px;

		p, li {
			.font-size(28);
		}
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			.font-size(28);
			padding: 15px;

			span {

				&.label {

					&.alpha {
						max-width: 190px;
					}

					&.beta {
						max-width: 190px;
					}

					&.gamma {
						max-width: 230px;
					}
				}

				&.icon {
					right: 5px;

					svg {
						width: 45px;
						height: 45px;

						polyline {
							stroke-width: 2px;
						}
					}
				}
			}
		}
	}

	.block--apply-cta--button {
		margin-top: 45px;
	}
}

/* Section: Quote */

.section--quote {
	padding: 60px 0;
}

/* Section: Plain Text & FAQs */

.section--plain-text {

	.block--plain-text {
		padding: 45px 0;

		h1, h2 {
			.font-size(34);
			margin: 0 0 30px;
		}

		h3 {
			.font-size(26);
			margin: 0 0 30px;
		}

		h4 {
			.font-size(22);
		}

		h5, h6 {
			.font-size(22);
			margin: 0 0 30px;
		}

		p {
			margin: 0 0 30px;
		}

		ul, ol {
			margin-bottom: 30px;
		}
	}

	// FAQs

	&.section--faqs {

		.block--faqs {

			ul {

				li {

					a.uk-accordion-title {
						padding: 0 100px 0 0;
						.font-size(20);
					}
				}
			}
		}
	}
}

/* Section: Staff & Trustees */

.section--staff {
	padding: 50px 0;

	.block--heading {
		margin-bottom: 45px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}

	.grid--staff {

		.block--staff {
			border-bottom: none;
			padding-bottom: 30px;

			.staff--headings {

				h3, h4 {
					.font-size(22);
				}
			}

			.staff--read-more {

				a {
					.font-size(18);
				}
			}
		}

		.grid--block {
			border-bottom: 1px solid @textdark;

			&.uk-first-column {
				border-bottom: none;

				.block--staff {
					border-bottom: 1px solid @textdark;
				}
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {
	padding: 40px 0 60px;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
			}
		}
	}

	.block--intro-cta {

		.block--copy {
			margin-bottom: 30px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(24);
			}

			p {
				.font-size(24);
			}
		}

		.block--button {

			.uk-button {
				.font-size(20);
			}
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -80px;

			&.active {

				span {

					&.line-down {

						&::before {
							top: -150%;
						}
					}
				}
			}
		}
	}
}

/* Section: What's New */

.section--whats-new {
	padding: 40px 0 60px;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(50);
			}
		}
	}

	.block-articles {
		column-count: 3;
		column-gap: 20px;
	}

	.block-article {

		h3 {
			.font-size(28);
			margin-bottom: 10px;
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: -80px;

			&.active {

				span {

					&.line-down {

						&::before {
							top: -150%;
						}
					}
				}
			}
		}
	}
}

.temp-whats-new-detail {

	.section--whats-new {

		.block--heading {

			p {

				&.link {
					.font-size(28);
				}
			}

			.inner--heading {

				h1, h2, h3, h4, h5, h6 {
					.font-size(55);
				}
			}
		}

		.block-img {
			margin-bottom: 40px;
		}

		.block-content {
			max-width: 630px;
			padding-left: 80px;
		}
	}
}

/* Section: Application Deadline */

.section--application-deadline {
	padding: 45px 0;

	.block--copy {
		max-width: 580px;

		h1, h2 {
			.font-size(24);
		}

		h3 {
			.font-size(34);
		}

		h4, h5, h6, p {
			.font-size(22);
		}
	}

	// Lines

	.effect--lines {

		.lines {
			right: 60px;
			top: -50%;
		}
	}
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}

	// Charts

	.block--stats {
		padding: 50px 0;

		.block--stat {
			position: relative;

			.inner--stat {

				.stat {
					width: 180px;
					height: 180px;

					.stat--amount {
						.font-size(40);

						.stat--label {
							display: block;
							.font-size(22);
							font-weight: 300;
							max-width: 135px;
							margin: 40px auto 0;
							position: absolute;
							left: 0;
							right: 0;
						}
					}

					&.stat-small {
						width: 160px;
						height: 160px;

						.stat--amount {
							.font-size(35);
						}
					}

					&.stat-medium {
						width: 180px;
						height: 180px;

						.stat--amount {
							.font-size(40);
						}
					}

					&.stat-large {
						width: 420px;
						height: 420px;
						position: absolute;
						top: -70px;
						left: 0;
						right: 0;
						margin: 0 auto;

						.stat--amount {
							.font-size(80);
						}
					}
				}

				.stat--label {

					p {
						.font-size(20);
						margin: 0 auto;
						max-width: 110px;
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 35px 0;

	.block--heading {
		margin-bottom: 35px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(50);
		}
	}

	.grid--values {

		.grid--block {

			.block--value {

				.inner--value {
					padding: 18px;
					
					h3 {
						.font-size(22);
					}

					p {
						.font-size(18);
					}
				}
			}
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.block--grant-switcher--nav {
		padding: 0 0 40px;
		overflow: hidden;

		.inner--grant-switcher--nav {

			ul {

				li {

					a {
						.font-size(20);
						padding: 40px 5px;
						background: none;
						position: relative;

						span {
							position: relative;
							z-index: 2;
							width: 100%;
							.box-sizing();
							padding-right: 5%;
						}

						.nav--number {
							.font-size(34);
						}

						&:before {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							background: @sitelightgrey;
							.skew(-40deg);
							display: block;
							z-index: 1;
							.transition(all 0.3s);
						}
					}

					&:first-child {

						a {

							&:after {
								content: "";
								position: absolute;
								width: 50%;
								height: 50%;
								top: 0;
								left: 0;
								background: @sitelightgrey;
								display: block;
								z-index: 1;
								.transition(all 0.3s);
							}
						}
					}

					&:last-child {

						a {

							span {
								padding-right: 0;
							}

							&:after {
								content: "";
								position: absolute;
								width: 50%;
								height: 100%;
								top: 0;
								right: 0;
								background: @sitelightgrey;
								display: block;
								z-index: 1;
								.transition(all 0.3s);
							}
						}
					}

					&.uk-active {

						a {

							&:before {
								height: 130%;
								left: -17px;
							}
						}

						&:last-child {

							a {

								&:after {
									height: 130%;
								}
							}
						}
					}
				}
			}
		}
	}

	.section--column-text {

		.block--copy-cols {
			max-width: none;

			h3 {
				.font-size(26);
			}
		}

		&.block--step-3--grant-amounts {

			.block--copy-cols {
				padding-top: 45px;
			}
		}
	}

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-info {
					padding: 18px 18px 10px;

					p {
						.font-size(24);
						margin: 0;

						&.total {
							.font-size(60);
						}
					}
				}
			}
		}
	}

	// Charts

	.block--charts {

		.block--chart {

			.inner--chart {

				.chart {
					width: 240px;
					height: 240px;

					.chart--amount {
						.font-size(44);
					}

					&.chart-small {
						width: 200px;
						height: 200px;

						.chart--amount {
							.font-size(35);
						}
					}

					&.chart-medium {
						width: 240px;
						height: 240px;

						.chart--amount {
							.font-size(44);
						}
					}

					&.chart-large {
						width: 280px;
						height: 280px;

						.chart--amount {
							.font-size(50);
						}
					}
				}

				.chart--label {

					p {
						.font-size(20);
						margin: 0 auto;
						max-width: 60%;
					}
				}
			}
		}
	}

	// Green

	&.style--green {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: none;

							&:before {
								background: #DFEDEA;
							}

							&:hover {
								background: none;
								color: @white;

								&:before {
									background: @sitegreen;
								}
							}
						}

						&:first-child, &:last-child {

							a {

								&:after {
									background: #DFEDEA;
								}

								&:hover {

									&:after {
										background: @sitegreen;
									}
								}
							}
						}

						&.uk-active {

							a {
								background: none;
								color: @white;

								&:before {
									background: @sitegreen;
								}
							}

							&:first-child, &:last-child {

								a {

									&:after {
										background: @sitegreen;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Red

	&.style--red {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: none;

							&:before {
								background: #e5e6ef;
							}

							&:hover {
								background: none;
								color: @white;

								&:before {
									background: @sitered;
								}
							}
						}

						&:first-child, &:last-child {

							a {

								&:after {
									background: #e5e6ef;
								}

								&:hover {

									&:after {
										background: @sitered;
									}
								}
							}
						}

						&.uk-active {

							a {
								background: none;
								color: @white;

								&:before {
									background: @sitered;
								}
							}

							&:first-child, &:last-child {

								a {

									&:after {
										background: @sitered;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Purple

	&.style--purple {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: none;

							&:before {
								background: #EBE7EE;
							}

							&:hover {
								background: none;
								color: @white;

								&:before {
									background: @sitepurple;
								}
							}
						}

						&:first-child, &:last-child {

							a {

								&:after {
									background: #EBE7EE;
								}

								&:hover {

									&:after {
										background: @sitepurple;
									}
								}
							}
						}

						&.uk-active {

							a {
								background: none;
								color: @white;

								&:before {
									background: @sitepurple;
								}
							}

							&:first-child, &:last-child {

								a {

									&:after {
										background: @sitepurple;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Blue

	&.style--blue {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: none;
							
							&:before {
								background: #D5E3E9;
							}

							&:hover {
								background: none;
								color: @white;

								&:before {
									background: @siteblue;
								}
							}
						}

						&:first-child, &:last-child {

							a {

								&:after {
									background: #D5E3E9;
								}

								&:hover {

									&:after {
										background: @siteblue;
									}
								}
							}
						}

						&.uk-active {

							a {
								background: none;
								color: @white;

								&:before {
									background: @siteblue;
								}
							}

							&:first-child, &:last-child {

								a {

									&:after {
										background: @siteblue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {
	padding: 35px 0;

	.block--intro {
		margin-bottom: 30px;
		padding-left: 35px;
		padding-right: 35px;

		p {
			.font-size(22);
		}
	}

	.block--filters {
		padding: 20px 35px;

		.filter {
			max-width: 375px;

			label {
				.font-size(22);
				margin: 0 0 10px;
			}

			.uk-select {
				.font-size(22);
			}
		}

		.block--controls {

			.uk-button {
				padding: 0;
				text-align: center;
				min-width: 176px;
				margin-right: 20px;
			}
		}
	}

	.block--results-sort-by {
		padding: 25px 35px 0;

		.block--results {

			p {
				.font-size(22);
			}
		}

		.block--sort-by {

			label {
				.font-size(22);
			}

			.uk-select {
				.font-size(22);
				min-width: 240px;
			}
		}
	}

	.block--grants-results {
		padding: 30px 35px 0;

		.grid--results--headings, .grid--results--body {
			position: relative;
			margin-bottom: 12px !important;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 15px;
				width: calc(100% - 15px);
				height: 1px;
				display: block;
				background: @textdark;
			}
		}

		.block--heading {
			padding-bottom: 8px;

			h4 {
				.font-size(16);
				color: @textdark;
				margin: 0;
				font-weight: 500;
				line-height: 1.25em;
			}

			&.block--heading--priority-area, &.block--heading--programme {
				width: 12%;
			}

			&.block--heading--award-date {
				width: 10%;
			}

			&.block--heading--amount-awarded {
				width: 10%;
			}

			&.block--heading--description {
				width: 31%;
			}
		}

		.block--body {
			padding-bottom: 25px;

			span {
				.font-size(16);
				color: @textdark;
				margin: 0;
				font-weight: 300;

				em {

					&.uk-text-small {
						.font-size(12);
					}
				}

				&.website {
					.font-size(12);
					word-wrap: break-word;

					a {
						color: @textlight;
					}
				}
			}

			&.block--body--priority-area, &.block--body--programme {
				width: 12%;
			}

			&.block--body--award-date {
				width: 10%;
			}

			&.block--body--amount-awarded {
				width: 10%;
			}

			&.block--body--description {
				width: 31%;
			}
		}
	}

	.block--pagination {
		padding: 20px 35px;
	}
}

// Staff/Trustee Modal

.modal--staff {

	.modal--heading {

		h3, h4 {
			.font-size(26);
		}
	}
}

/* Footer */

.footer {

	.footer-menu-list--copyright {
		-webkit-column-count: 1;
		column-count: 1;
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================