
// 1280px
@media only screen and (min-width: 1280px) {

	/* Section: Priority Areas (Grants) */

	.section--priority-areas {

		.grid--priority-areas--grants {

			.block--grant {

				.inner--grant {

					h1, h2, h3, h4, h5, h6 {
						.font-size(34);
					}
				}
			}
		}
	}
}

// 1320px
@media only screen and (min-width: 1320px) {

	/* Section: Priority Areas (Grants) */

	.section--priority-areas {

		.grid--priority-areas--grants {

			.block--grant {

				.inner--grant {

					h1, h2, h3, h4, h5, h6 {
						.font-size(36);
					}
				}
			}
		}
	}
}

// 1400px
@media only screen and (min-width: 1400px) {

	/* Section: Priority Areas (Grants) */

	.section--priority-areas {

		.grid--priority-areas--grants {

			.block--grant {

				.inner--grant {

					h1, h2, h3, h4, h5, h6 {
						.font-size(38);
					}
				}
			}
		}
	}
}