// ==========================================================

// OWN DESIGN / THE SWEB SITE FRAMEWORK URL: http://www.theswebsite.co.uk/ & http://www.own-design.com/
// Version: 1.0
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* Page Base =================================================== */

// 1. ROOT 					==============================

* {
	//outline:none !important;
	//-webkit-appearance:none !important;
	//-moz-appearance:none !important;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

@-webkit-viewport { 
	width: device-width;
}

@-moz-viewport { 
	width: device-width;
}

@-ms-viewport { 
	width: device-width;
}

@-o-viewport { 
	width: device-width;
}

@viewport { 
	width: device-width; 
}

html {
	background: @bodycolor; 
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body { 
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: @basefont;
	.font-size(16);
	line-height: @baselineheight;
	color: @textcolor;
	overflow-x: hidden;
	overflow-y: hidden;
}

::-moz-selection {
    color: @white;
    background: darken(@sitegreen, 3%);
}
::selection {
    color: @white;
    background: darken(@sitegreen, 3%);
}

.uk-progress {
    background-color: @white;
    border: none; /* Needed for Firefox */
    color: @white; /* For IE10 */
    -webkit-appearance: none; /* Needed for WebKit/Blink */
}
.uk-progress::-moz-progress-bar { 
    background-color: @white;
}
.uk-progress::-webkit-progress-value {
    background-color: @white;
}
.uk-progress::-webkit-progress-bar {
    background-color: @white;
}

// 2. TYPOGRAPHY 			==============================

/*****Colour Fade Elements*****/
a, input, textarea, button, span, i, ul, li {
	text-decoration: none;
	-moz-transition-property: color, background-color, opacity, border-color;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity, border-color;
	-webkit-transition-duration: 0.3s;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.3s;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
	font-family: @baseheadingfont;
	line-height: 1.35em;
	margin: 0 0 25px;
	font-weight: 300;

	strong, b {
		font-family: @baseheadingfont;
		font-weight: 700;
	}

	em, i {
		font-family: @baseheadingfont;
		font-style: italic;
	}
}

h1 {
	.font-size(24);
}

h2 {
	.font-size(20);
}

h3 {
	.font-size(18);
}

h4 {
	.font-size(16);
}

h5 {
	.font-size(14);
}

h6 {
	.font-size(14);
}

p, blockquote {
	.font-size(16);
	line-height: 1.25;
	margin: 0 0 20px;
	font-weight: 300;

	em {
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: 700;
}

ul, ol {
	margin: 0 0 20px 25px;
	padding: 0;
	list-style-position: outside;

	li {
		.font-size(16);
		line-height: 1.25;
		margin: 0;
		padding: 0;
		font-weight: 300;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

a, .uk-link {
	color: @textdark;
	text-decoration: none;

	&:hover {
		color: lighten(@textdark, 5%);
		text-decoration: underline;
	}
}

em, i {
	color: inherit;
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

/* Container */

.uk-container {
	max-width: 1290px;
	padding-left: 20px;
	padding-right: 20px;
}

.uk-button {
	margin: 0;
	.font-size(18);
	color: @textdark;
	text-align: center;
	line-height: 45px;
	padding: 0 10px 0 13px;
	background: @white;
	font-family: @font-regular;
	.box-sizing();
	position: relative;
	display: inline-block;
	.rounded(5px);
	border: 1px solid @textdark;

	&:hover {
		color: @white;
		background: @textdark;
		border: 1px solid @textdark;
	}

	&:disabled {
		cursor: not-allowed;
	}

	svg {
		margin-left: 5px;
	}

	&.uk-button-dark-grey {
		color: @white;
		border: 1px solid @sitedarkgrey;
		background: @sitedarkgrey;

		&:hover {
			color: @sitedarkgrey;
			border: 1px solid @sitedarkgrey;
			background: transparent;
		}
	}

	&.uk-button-white {
		border: 1px solid @white;

		&:hover {
			border: 1px solid @textdark;
		}
	}

	&.uk-button-green {
		border: 1px solid @sitegreen;
		background: @sitegreen;
		color: @white;

		&:hover {
			border: 1px solid @sitegreen;
			background: @white;
			color: @sitegreen;
		}
	}

	&.uk-button-red {
		border: 1px solid @sitered;
		background: @sitered;
		color: @white;

		&:hover {
			border: 1px solid @sitered;
			background: @white;
			color: @sitered;
		}
	}

	&.uk-button-purple {
		border: 1px solid @sitepurple;
		background: @sitepurple;
		color: @white;

		&:hover {
			border: 1px solid @sitepurple;
			background: @white;
			color: @sitepurple;
		}
	}

	&.uk-button-blue {
		border: 1px solid @siteblue;
		background: @siteblue;
		color: @white;

		&:hover {
			border: 1px solid @siteblue;
			background: @white;
			color: @siteblue;
		}
	}

	&.uk-button-apply {
		.font-size(28);
		padding: 0 19px 0 26px;
		line-height: 72px;

		svg {
			width: 28px;
		}
	}
}

/* Form Fields */

form {
	.transition(opacity 0.3s);

	.form-el {
		position: relative;
		margin-bottom: 25px;

		&:hover {

			.corner {
				width: 100%;
				height: 100%;
			}
		}

		.uk-input, 
		.uk-select, 
		.uk-textarea {
			height: 62px;
			background-color: @sitelightgrey;
			color: @sitedarkgrey;
			padding: 25px;
			font-family: @font-regular;

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color:@textdark;
				.opacity(0.75);
			}

			&:required:focus {
				.box-shadow(none);
			}

			&:required:invalid {
				.box-shadow(none);
			}

			&:required:focus:invalid {
				.box-shadow(none);
			}

			&:required:valid {
				background: @white;
				color: @sitegreen;
				border: 1px solid @sitegreen;

				&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
					color: @white;
					.opacity(0.75);
				}
			}

			&:required:focus:valid {
				color: @sitegreen;
			}

			&.error {
				.box-shadow(none);
				background: @sitealert !important;
				color: @white !important;
				border: 1px solid @sitealert !important;

				&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
					color: @white;
					.opacity(0.75);
				}
			}
		}

		.uk-textarea {
			height: 100px;
			min-height: 100px;
			max-height: 100px;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			.transition(all 0.35s);

			&:focus {
				height: 250px;
				min-height: 250px;
				max-height: 250px;
			}
		}

		label {
			color: @sitedarkgrey;
			font-family: @font-regular;
			.font-size(12);
			line-height: 1.25;
		}

		.uk-checkbox {
			border: 1px solid @sitedarkgrey;
			background-color: transparent;
			width: 17px;
			height: 17px;
			float: left;
			vertical-align: top;
			margin-top: 1px;
		}

		&.has-error {

			
		}

		&.has-success {

			
		}
	}

	.field {
		position: relative;
	}

	.help-block {
 		animation-name: fadeIn;
 		text-align: center;
		.font-size(11);
		position: absolute;
		left: 0;
		bottom: -30px;

		&.form-error {
			color: @sitealert;
		}
	}

	&.disabled {
		.opacity(.3);
	}
}

.uk-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid @white;
	margin-right: 10px;
	background-color: @white;
	display: inline-block;

	&:checked {
		background-color: @sitegreen;
		border: 1px solid @sitegreen;
		color: @white;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
	}

	&:required:invalid {
		.box-shadow(none);
	}

	&:required:focus:invalid {
		.box-shadow(none);
		border: 2px solid @sitealert;
	}
}

.form-message {
	display: none;
	padding: 10px;
	margin-top: 15px;

	p {
		.font-size(15);
		color: @white;
		margin: 0 !important;
		line-height: 1.35em;
	}

	&.success {
		color: @white;

		p {
			color: @white;
		}
	}

	&.errors {
		background: transparent;
		color: @white;
		font-style: italic;

		p {
			color: @white;
			font-style: italic;
		}
	}
}

.form-terms {

	label {
		.font-size(12);
		max-width: 525px;
		display: block;
	}

	a {
		color: @sitealert;
		text-decoration: none;

		&:hover, &:focus {
			color: @sitegreen;
			text-decoration: none;
		}
	}
}

// Dropdown Arrow

.dropdown--arrow() {

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 12px;
		.translate(0, -50%);
	    display: inline-block;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 14px 8px 0 8px;
	    border-color: @textlight transparent transparent transparent;
	    pointer-events: none;
	}
}

/*Break long email address*/

.email-address {
	-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

// Lightbox

.uk-lightbox {
	background: rgba(30,30,30,0.9);
}

// Background Styles

.bg--grey {
	background: @sitelightgrey !important;
}

.bg--darkGrey {
	background: @sitedarkgrey !important;
}

.bg--white {
	background: @white !important;
}

.bg--purple {
	background: rgba(169, 136, 181, 0.15);
}

.style--purple {
	background: rgba(169, 136, 181, 0.15);
}

// Model


// Link

// Lines

@lineease : cubic-bezier(0.215, 0.61, 0.355, 1);
@lineduration : 1s;

.effect--lines {

	span {
		display: block;
		float: left;
		width: 2px;
		height: 100%;
		position: relative;
		margin-right: 4px;
		background: transparent;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 2px;
			height: 0;
			.transition(height @lineduration @lineease);
		}

		&.line--up {

			&::before {
				bottom: -100%;
				.transition(height @lineduration @lineease 1s);
			}

				
		}

		&.line--down {

			&::before {
				top: -75%;
				.transition(height @lineduration @lineease 0s);
			}
		}
	}

	.lines {
		.rotate(37.5deg);

		&.active {

			span {

				&::before {
					height: 250%;
				}
			}
		}

		&.lines--default {
			
			span {

				&::before {
					background: @white;
				}
			}
		}

		&.lines--green {
			
			span {

				&::before {
					background: @sitegreen;
				}
			}
		}

		&.lines--red {
			
			span {

				&::before {
					background: @sitered;
				}
			}
		}

		&.lines--purple {
			
			span {

				&::before {
					background: @sitepurple;
				}	
			}
		}

		&.lines--blue {
			
			span {

				&::before {
					background: @siteblue;
				}
			}
		}

		&.lines--grey {
			
			span {

				&::before {
					background: rgba(255,255,255,0.07);
				}
			}
		}

		&.lines--lightgrey {
			
			span {

				&::before {
					background: #e8e8e8;
				}
			}
		}

		&.lines--normalgrey {
			
			span {

				&::before {
					background: #d9d9d9;
				}
			}
		}

		&.lines--white {
			
			span {

				&::before {
					background: @sitelightgrey;
				}
			}
		}
	}
}

// Show/Hide

.hide-element {
	visibility: hidden;
	.opacity(0);
}

.show-element {
	visibility: visible;
	.opacity(1);
}

// Userway

.userway {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	transition: opacity 0.3s;
 	opacity: 1;

	img {
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.1);
		border-radius: 50%;
	}

	&:hover {
		cursor: pointer;
		opacity: 0.85;
	}
}

// 6. LAYOUT 				==============================

.app {
	max-width: 1360px;
	margin: 0 auto;
	background: @white;
}

/* Header */

.header {
	padding: 30px 0;
	margin-bottom: 20px;

	.hamburger {
		display: none;
		margin-top: 13px;
		position: relative;
		height: 22px;
		z-index: 99999;
		cursor: pointer;

		@media screen and (max-width: @breakpoint-medium - 1px) {
			display: block;
		}

		@media screen and (max-width: @breakpoint-phone - 1px) {
			margin-top: 10px;
		}

		span {

			&.opened {
				background-color: #fff;

				&:first-child {
					transform: translateY(14px) rotate(45deg);
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:last-child {
					transform: translateY(-14px) rotate(-45deg);
				}
			}
		}

		span {
			display: block;
			width: 40px;
			height: 2px;
			background-color: @c-gray;
			margin-bottom: 12px;
			transform-origin: 50% 50%;
			transition: transform .3s ease, background .3s ease;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.logo {
		width: 200px;
	}

	.navigation {
		margin-top: 10px;

		@media screen and (max-width: @breakpoint-medium - 1px) {
			position: fixed;
			right: 0;
			margin: 0;
			background: @c-gray;
			height: 100%;
			z-index: 999;
			width: 260px;
			top: -100%;
			transition: top .3s ease;

			&.opened {
				top: 0;
			}
		}

		@media screen and (max-width: @breakpoint-small - 1px) {
			width: 100%;	
		}

		.uk-navbar-nav {

			@media screen and (max-width: @breakpoint-medium - 1px) {
				flex-wrap: wrap;
				padding-top: 125px;
			}

			li {

				@media screen and (max-width: @breakpoint-medium - 1px) {
					width: 100%;
					margin-bottom: 35px;
				}

				&.uk-active {
						a {
							font-weight: 700;
						}
				}

				&:last-child {

					a {
						padding-right: 0;
					}
				}

				a {
					position: relative;
					.font-size(18);
					font-weight: 300;
					color: @c-gray;
					min-height: initial;
					transition: font-weight .3s ease;

					@media screen and (max-width: @breakpoint-medium - 1px) {
						justify-content: left;
						.font-size(24);
						color: #fff;
						padding: 0 25px;
						position: relative;

						&:after {
							content: '';
							display: block;
							position: absolute;
							width: 30px;
							height: 2px;
							background-color: #fff;
							bottom: -13px;
							left: 25px;
						}
					}

					@media screen and (max-width: @breakpoint-small - 1px) {
						padding: 0 35px;

						&:after {
							left: 35px;
						}	
					}
				}
			}
		}
	}
}

/* Mobile Navigation */

#navigation--mobile {

	.uk-offcanvas-bar {
		background: @textlight;
	}

	.navigation--mobile {
		padding: 40px 10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: block;
				.font-size(20);
				font-weight: 300;
				line-height: 1.5;
				letter-spacing: -0.12px;
				margin: 0 0 20px;

				a {
					color: @white;
					display: inline-block;
					position: relative;
					line-height: 1;

					&:before {
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						height: 1px;
						width: 30px;
						background: @white;
						.transition(width 0.3s);
					}

					&:hover, &:focus {
						text-decoration: none;

						&:before {
							width: 100%;
						}
					}
				}

				&.uk-active {

					a {

						&:before {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.zoomin, .zoomout {
	border: none !important;
	background: transparent !important;
	margin: 0 !important;
	padding: 0 !important;
	outline: none;

	&:hover, &:focus {
		border: none !important;
		background: transparent !important;
		margin: 0 !important;
		padding: 0 !important;
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.text-height--mobile {

	button {
		display: inline-block;

		img {
			margin-left: 0;
		}
	}

	img {
		display: inline-block;
		margin-left: 4px;
	}
}

/* Content Blocks */

/* Section: Banner */

.section--banner {
	background: @white;
	max-width: 1360px;
	margin: 0 auto;
	padding: 20px 0 100px;
	position: relative;

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 1290px;
	}

	.block--banner--back-button {
		margin-bottom: 15px;
		position: relative;
		z-index: 2;

		.uk-button--back {
			.font-size(16);
			text-decoration: none;
			color: @textdark;
			position: relative;
			padding-left: 15px;
			display: inline-block;
			border-bottom: 1px solid @textdark;
			line-height: 1.5;

			svg {
				position: absolute;
				left: -5px;
				top: 50%;
				.translate(0,-50%);
			}

			&:hover {
				color: @textlight;
				text-decoration: none;
				border-bottom: 1px solid @textlight;
			}
		}
	}

	.block--banner--heading {
		margin-bottom: 15px;
		max-width: 250px;
		width: 73%;
		position: relative;
		z-index: 2;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
			margin: 0;
			padding: 0;
			line-height: 1.1em;
			text-transform: uppercase;
			font-weight: 300;
		}
	}

	.block--banner--copy {
		margin-bottom: 0;
		max-width: 250px;
		width: 73%;
		position: relative;
		z-index: 2;

		h1, h2, h3, h4, h5, h6 {
			.font-size(20);
			margin: 0 0 15px;
			padding: 0;
			line-height: 1.1em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p {
			.font-size(20);
			margin: 0 0 20px;
			padding: 0;
			line-height: 1.15em;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.block--banner--button {
		max-width: 250px;
		position: relative;
		z-index: 2;
		margin-top: 25px;
	}

	// Lines

	.effect--lines {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;
		z-index: 0;

		.lines {
			position: absolute;
			right: 0;
			top: 10%;
			height: 100%;
			width: 300px;

			&.lines--number--01 {
				right: -230px;
			}

			&.lines--number--02 {
				right: -386px;
			}

			&.lines--number--03 {
				right: -556px;
				display: none;
			}
		}
	}

	// Graphs

	.graph--heading {
		margin: 20px 0;

		h4 {
			.font-size(20);
			font-weight: 500;
			margin: 0;
			line-height: 1.14;
			letter-spacing: -0.14px;
		}
	}

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {
					position: relative;

					.outer-graph {
						background: @sitelightgrey;
						height: 0;
						width: 100%;
						.transition(height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s);
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;
						overflow: hidden;

						.graph {
							height: 100%;
							width: 100%;
							background: repeating-linear-gradient(
								-45deg,
								@sitedarkgrey,
								@sitedarkgrey 1px,
								@sitelightgrey 1px,
								@sitelightgrey 9px
							);
							display: block;

							.total {
								position: absolute;
								top: 10px;
								left: 10px;
								margin: 0;
								color: @textdark;
								.font-size(40);
								font-weight: 700;
								line-height: 1;
							}
						}
					}						
				}

				.graph-info {
					background: @sitelightgrey;
					padding: 10px 10px 20px;

					p {
						.font-size(14);
						color: @textdark;
						line-height: 1.14;
						letter-spacing: -0.42px;
						margin: 0;
						font-weight: 500;
					}
				}
			}

			&.style--green {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #DFEDEA;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitegreen,
									@sitegreen 1px,
									@sitelightgreen 1px,
									@sitelightgreen 9px
								);

								.total {
									color: @sitegreen;
								}
							}
						}						
					}

					.graph-info {
						background: #DFEDEA;
					}
				}
			}

			&.style--red {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #e5e6ef;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitered,
									@sitered 1px,
									@sitelightred 1px,
									@sitelightred 9px
								);

								.total {
									color: @sitered;
								}
							}
						}						
					}

					.graph-info {
						background: #e5e6ef;
					}
				}
			}

			&.style--purple {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #EBE7EE;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitepurple,
									@sitepurple 1px,
									@sitelightpurple 1px,
									@sitelightpurple 9px
								);

								.total {
									color: @sitepurple;
								}
							}
						}						
					}

					.graph-info {
						background: #EBE7EE;
					}
				}
			}

			&.style--blue {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #D5E3E9;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@siteblue,
									@siteblue 1px,
									@sitelightblue 1px,
									@sitelightblue 9px
								);

								.total {
									color: @siteblue;
								}
							}
						}						
					}

					.graph-info {
						background: #D5E3E9;
					}
				}
			}
		}
	}

	// Priority Banner

	&.section--banner--priorty {
		padding-top: 0;

		.uk-container {
			background: @sitelightgrey;
		}

		.block--banner--back-button {
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 20px;
			margin-bottom: 0;
			width: 100%;
			background: @white;
			.box-sizing();
		}

		.block--banner--heading {
			margin-top: 15px;
			margin-bottom: 15px;

			h2 {
				.font-size(28);
				margin: 20px 0 0;
			}
		}

		.block--banner--button {
			margin-top: 25px;
			margin-bottom: 25px;
		}

		&.style--green {

			.block--banner--heading {

				h2 {
					color: @sitegreen;
				}
			}
		}

		&.style--red {

			.block--banner--heading {

				h2 {
					color: @sitered;
				}
			}
		}

		&.style--purple {
			
			.block--banner--heading {

				h2 {
					color: @sitepurple;
				}
			}
		}

		&.style--blue {

			.block--banner--heading {

				h2 {
					color: @siteblue;
				}
			}
		}
	}

	// Apply Banner

	&.section--banner--apply {
		padding: 20px 0;

		.uk-container {
			background: @white;
		}

		.block--banner--back-button {
			padding-bottom: 10px;
		}
	}

	// Graphs Banner

	&.section--banner--graphs {

		.block--banner--heading {
			max-width: 100%;
			width: 100%;
		}

		.block--banner--copy {
			max-width: 100%;
			width: 100%;
		}
	}
}

.section--banner--bg {
	margin-bottom: 10px;

	.uk-container {
		padding: 0;
	}

	.uk-slideshow-items {
		position: relative;

		li {

			h1, h2, h3, h4, h5, h6 {
				.font-size(24);
				color: @white;
				font-weight: 300;
				margin: 0;
				line-height: 1;
				letter-spacing: -1.8px;
				text-transform: uppercase;
				position: absolute;
				top: 20px;
				left: 20px;
				z-index: 2;
			}

			.block--img {
				height: 320px;

				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: linear-gradient(124deg, rgba(56, 115, 149, 0.81) 2%, rgba(44, 99, 132, 0.48) 42%, rgba(255, 255, 255, 0) 118%);
					position: absolute;
					z-index: 1;
				}
			}
		}
	}

	.block--controls {
		margin: 12px 20px 12px 0;

		.block--captions {
			display: inline-block;
			text-align: right;
			padding-right: 15px;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				.block--caption {
					text-align: right;
					visibility: hidden;
					.opacity(0);
					display: none;
					.transition(all 0.3s);
					margin: 0;
					padding: 0;

					p {
						margin: 0;
						.font-size(14);
						line-height: 1.35em;
						color: @sitedarkgrey;
						text-align: right;

						a {
							color: @sitedarkgrey;
							text-decoration: underline;

							&:hover {
								color: @textdark;
								text-decoration: underline;
							}
						}
					}

					&.uk-active {
						visibility: visible;
						.opacity(1);
						display: block;
					}
				}
			}
		}

		.block--pagination {
			display: inline-block;
		}
	}

	.slider--nav {
		margin: 3px 0 0;

		li {
			padding-left: 4px;

			a {
				width: 14px;
				height: 14px;
			}
		}
	}
}

/* Section: Priority Areas (Grants) */

.section--priority-areas {
	background: @sitelightgrey;
	padding: 20px 0;

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block--priority-areas--heading {
		margin-bottom: 25px;

		.inner--priority-areas--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(30);
				font-weight: 300;
				line-height: 1.25em;
				margin: 0;
			}

			p {
				.font-size(20);
				margin: 0 0 15px;
				padding: 0;
				line-height: 1.15em;
				font-weight: 400;

				&:last-child {
					margin-bottom: 0;
				}

				br {
					display: none;
				}
			}
		}
	}

	.block--priority-areas--copy {
		margin-bottom: 25px;
	}

	.grid--priority-areas--grants {

		.block--grant {
			.rounded(5px);

			.inner--grant {
				padding: 12px;
				position: relative;

				h1, h2, h3, h4, h5, h6 {
					color: @white;
					.font-size(20);
					line-height: 1.2em;
					margin: 0;
					max-width: 225px;
					text-transform: uppercase;

					@media only screen and (max-width: 767px) and (min-width: 640px)  {
						.font-size(20);
					}
				}

				p, li {
					color: @white;
					.font-size(20);
					line-height: 1.2em;
					margin: 0 0 25px;

					&:last-child {
						margin-bottom: 0;
					}

					@media only screen and (max-width: 767px) and (min-width: 640px)  {
						.font-size(18);
					}
				}

				.block--subheading {
					margin-top: 20px;

					p, li {
						.font-size(24);
					}
				}

				@media screen and (max-width: @breakpoint-small - 1px) {

					.block--button {

						&.block--button-priority-areas {

							position: absolute;
							right: 12px;
							top: 50%;
							.translate(0, -50%);

							.uk-button {
								border: none;
								background: transparent;
								color: @white;
								padding: 0;
								margin: 0;
								line-height: 1.5em;

								span {
									display: none;
								}

								svg {
									width: 30px !important;
									height: 30px !important;
								}
							}
						}
					}
				}
			}

			&.style--green {
				background: @sitegreen;
			}

			&.style--red {
				background: @sitered;
			}

			&.style--purple {
				background: @sitepurple;
			}

			&.style--blue {
				background: @siteblue;
			}
		}
	}
}

/* Section: Funding Programmes */

.section--funding-programmes {
	background: @sitedarkgrey;
	padding: 20px 0 25px;
	position: relative;
	max-width: 1360px;
	margin: 0 auto;

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block--funding-programmes--heading {

		.inner--funding-programmes--heading {
			max-width: 200px;

			h1, h2, h3, h4, h5, h6 {
				color: @white;
				.font-size(30);
				margin: 0;
				line-height: 1.1em;
				letter-spacing: -0.45px;
				font-weight: 300;
			}
		}
	}

	.block--funding-programmes--subheading {
		margin-top: 25px;

		.inner--funding-programmes--subheading {

			h1, h2, h3, h4, h5, h6, p {
				color: @white;
				.font-size(22);
				margin: 0;
				font-weight: 300;
			}
		}
	}

	@media screen and (max-width: @breakpoint-small - 1px) {

		.grid--funding-programmes {
			position: relative;
		}

		.block--funding-programmes--positional {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.block--button {
			position: absolute;
			right: 20px;
			top: 50%;
			.translate(0,-50%);

			.uk-button {
				border: none;
				background: transparent;
				color: @white;
				padding: 0;
				margin: 0;
				line-height: 1.5em;

				span {
					display: none;
				}

				svg {
					width: 50px !important;
					height: 50px !important;
				}
			}
		}
	}
}

/* Column Text */

.section--column-text {
	padding: 30px 0;
	position: relative;
	max-width: 1360px;
	margin: 0 auto;

	&.style--white {
		background: @white;
	}

	&.style--grey {
		background: @sitelightgrey;
		//margin-top: 30px;
	}

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block--column-text--heading {

		.inner--column-text--heading {

			h1, h2, h3, h4, h5, h6 {
				color: @textdark;
				.font-size(30);
				margin: 0;
				line-height: 1.1em;
				letter-spacing: -0.45px;
				font-weight: 300;
			}
		}
	}

	.block--copy {
		max-width: 380px;

		h1, h2, h3, h4, h5, h6, p, li {
			color: @textdark;
			.font-size(20);
			margin: 0 0 20px;
			line-height: 1.2em;
			letter-spacing: -0.15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.block--copy-cols {

		h1, h2, h3, h4, h5, h6, p, li {
			color: @textdark;
			.font-size(16);
			margin: 0 0 20px;
			line-height: 1.2em;
			letter-spacing: -0.15px;
			font-weight: 300;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.style--white {
			background: @white;
			padding: 18px;
			.rounded(5px);
		}
	}

	.effect--lines {
		position: absolute;
		z-index: 0;
	}

	&.section--column-text--priority {

		.block--column-text--heading {

			.inner--column-text--heading {

				h1, h2, h3, h4, h5, h6 {
					.font-size(20);
				}
			}
		}
	}

	&.section--column-text--reporting {

		.block--copy {
			max-width: none;
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded {
	padding: 35px 0 40px;
	background-color: @white;

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block--heading {
		
		h2 {
			.font-size(36);
			font-weight: 300;
			line-height: 1;
			letter-spacing: -0.9px;
			color: @textdark;
			margin-bottom: 50px;
		}
	}

	.awarded-list {
		margin-bottom: 20px;
	}

	.awarded-slider .awarded-el .diagram .diagram-info-wrapper {
		display: block;
	}

	.awarded-slider {
		.uk-dotnav>*>a {
			background-color: rgba(112, 111, 111, .25);
			width: 14px;
			height: 14px;
		}

		.uk-dotnav>* {
			padding-left: 5px;
		}

		.uk-dotnav>.uk-active>*, 
		.uk-dotnav>*>:focus a, 
		.uk-dotnav>*>:hover a {
			background-color: rgba(112, 111, 111, .75);
		}

		.top-description {
			display: none;
		}

		.diagram-size {
			display: none;
		}

		.grid--block {
			min-height: 0 !important;
		}
	}

	.awarded-slider .uk-slideshow-items {
		min-height: 250px !important;
	}

	.awarded-el {

		.top-description {

			p {
				.font-size(16);
				font-weight: 400;
				line-height: 1.15;
				letter-spacing: -0.42px;
				color: @textdark;
				text-transform: uppercase;
				margin: 0 0 10px;
			}

			h3 {
				.font-size(22);
				font-weight: 400;
				line-height: 1.2;
				letter-spacing: -0.42px;
				color: @textdark;
				margin: 0 0 3px;
			}
		}

		.diagram {
			//background-color: rgba(112, 111, 111, .15);

			.diagram-size--outer {
				position: relative;
				//height: 300px;

				.diagram-size {
					//position: absolute;
					//left: 0;
					//bottom: 0;
					width: 100%;
					height: 0;
					.transition(height 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94));

					.diagram-lines {
						background-image: url('../img/lines-black.svg');
						background-size: 450px 450px;
						background-position: 0 0;
						width: 100%;
						height: 100%;
					}
				}

				&.uk-active {

					.diagram-size {
						
					}
				}
			}

			.diagram-info-wrapper {
				padding: 22px 15px;
				display: none;
			}

			.diagram-info {
				padding-top: 10px;
				//padding-bottom: 30px;
				padding-bottom: 10px;
				border-top: 1px solid @textdark;

				&:first-child {

					.uk-grid {

						div:first-child, div:nth-child(2) {
							
							p {
								//text-transform: uppercase;
								margin-bottom: 15px;
								font-weight: 500;
							}
						}
					}
				}

				&:last-child {
					padding-bottom: 0;
				}

				.uk-width-2-5 {
					text-align: right;
				}

				p {
					.font-size(16);
					font-weight: 300;
					line-height: 1.2;
					color: @textdark;
				}
			}
		}

		&.green {

			.top-description {

				p {
					color: @sitegreen;
				}

				h3 {
					color: @sitegreen;
				}
			}

			.diagram {
				
				.diagram-size {
					background-color: rgba(82, 203, 179, .15);
						
					.diagram-lines {
						background: repeating-linear-gradient(
							-45deg,
							@sitegreen,
							@sitegreen 1px,
							@sitelightgreen 1px,
							@sitelightgreen 9px
						);
					}
				}

				.diagram-info-wrapper {
					background-color: rgba(82, 203, 179, .15);
				}
			}
		}

		&.red {

			.top-description {

				p {
					color: @sitered;
				}

				h3 {
					color: @sitered;
				}
			}

			.diagram {
				
				.diagram-size {
					background-color: rgba(81, 91, 145, .15);
						
					.diagram-lines {
						background: repeating-linear-gradient(
							-45deg,
							@sitered,
							@sitered 1px,
							@sitelightred 1px,
							@sitelightred 9px
						);
					}
				}

				.diagram-info-wrapper {
					background-color: rgba(81, 91, 145, .15);
				}
			}
		}

		&.purple {

			.top-description {

				p {
					color: @sitepurple;
				}

				h3 {
					color: @sitepurple;
				}
			}

			.diagram {

				.diagram-size {
					background-color: rgba(169, 136, 181, .15);

					.diagram-lines {
						background: repeating-linear-gradient(
							-45deg,
							@sitepurple,
							@sitepurple 1px,
							@sitelightpurple 1px,
							@sitelightpurple 9px
						);
					}
				}

				.diagram-info-wrapper {
					background-color: rgba(169, 136, 181, .15);
				}
			}
		}

		&.blue {

			.top-description {

				p {
					color: @siteblue;
				}

				h3 {
					color: @siteblue;
				}
			}

			.diagram {

				.diagram-size {
					background-color: rgba(86, 148, 185, .15);

					.diagram-lines {
						background: repeating-linear-gradient(
							-45deg,
							@siteblue,
							@siteblue 1px,
							@sitelightblue 1px,
							@sitelightblue 9px
						);
					}
				}

				.diagram-info-wrapper {
					background-color: rgba(86, 148, 185, .15);
				}
			}
		}
	}

	// Outro

	.block--outro {
		padding: 30px 0 0;

		.intro--outro {

			p {
				.font-size(18);
				font-weight: 500;
				line-height: 1.14;
				letter-spacing: -0.14px;
			}

			.block--button {
				margin-top: 25px;
			}
		}
	}

	// Awarded Details

	.block--awarded-details {
		margin: 20px 0 0;

		.block--funding-totals, .block--plan-give {

			h4 {
				.font-size(14);
				font-weight: 300;
				line-height: 1.35;
				margin: 0 0 3px;
				letter-spacing: -0.42px;
			}

			p {
				.font-size(30);
				font-weight: 500;
				line-height: 1.25;
				margin: 0;
			}
		}

		.block--funding-totals {

			.inner--funding-totals {
				border-top: 1px solid @textdark;
				border-bottom: 1px solid @textdark;
				padding: 10px 0;
			}
		}

		.block--plan-give {

			.inner--plan-give {
				border-bottom: 1px solid @textdark;
				padding: 10px 0;
			}
		}
	}
}

/* Section: Apply Call to Actions */

.section--apply-cta {
	padding: 25px 0;
	background: @sitelightgrey;

	.uk-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.block--apply-cta--copy {
		max-width: 320px;
		margin: 0 0 30px;

		p, li {
			.font-size(20);
			margin: 0 0 20px;
			line-height: 1.2;
			letter-spacing: -0.1px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.block--apply-cta--grants {

		.uk-button--grant {
			position: relative;
			padding: 13px;
			color: @white;
			background: @sitedarkgrey;
			.rounded(5px);
			.font-size(20);
			text-transform: uppercase;
			line-height: 1.2;
			letter-spacing: -0.2px;
			max-width: 400px;
			margin: 0 auto;
			border: 1px solid @sitedarkgrey;

			span {

				&.label {
					max-width: 222px;
					display: inline-block;
				}

				&.icon {
					position: absolute;
					top: 50%;
					.translate(0,-50%);
					right: 5px;

					svg {
						width: 35px;
						height: 35px;

						polyline {
							stroke-width: 1.5px;
						}
					}
				}
			}

			&.uk-button--grant--green {
				background: @sitegreen;
				border: 1px solid @sitegreen;
			}

			&.uk-button--grant--red {
				background: @sitered;
				border: 1px solid @sitered;
			}

			&.uk-button--grant--purple {
				background: @sitepurple;
				border: 1px solid @sitepurple;
			}

			&.uk-button--grant--blue {
				background: @siteblue;
				border: 1px solid @siteblue;
			}

			&:hover, &:focus {
				background: @sitelightgrey;
				color: @sitedarkgrey;
				border: 1px solid @sitedarkgrey;
				text-decoration: none;

				&.uk-button--grant--green {
					background: @sitelightgrey;
					border: 1px solid @sitegreen;
					color: @sitegreen;
				}

				&.uk-button--grant--red {
					background: @sitelightgrey;
					border: 1px solid @sitered;
					color: @sitered;
				}

				&.uk-button--grant--purple {
					background: @sitelightgrey;
					border: 1px solid @sitepurple;
					color: @sitepurple;
				}

				&.uk-button--grant--blue {
					background: @sitelightgrey;
					border: 1px solid @siteblue;
					color: @siteblue;
				}
			}
		}
	}

	.block--apply-cta--button {
		margin-top: 30px;
	}
}

/* Section: Quote */

.section--quote {
	padding: 30px 0;

	.block--quote {
		max-width: 855px;
		margin: 0 auto;

		blockquote {
			color: @textdark;
			//.font-size(16);
			margin: 0 0 25px;
			line-height: 1.25;
			letter-spacing: -0.22px;
			font-weight: 300;
			font-style: italic;
		}

		p {
			color: @textdark;
			//.font-size(16);
			margin: 0;
			line-height: 1.25;
			letter-spacing: -0.22px;
			font-weight: 700;
		}
	}
}

/* Section: Plain Text & FAQs */

.section--plain-text {

	.block--plain-text {
		border-bottom: 1px solid @textdark;
		padding: 30px 0;

		h1, h2 {
			text-transform: uppercase;
			.font-size(24);
			margin: 0 0 20px;
		}

		h3 {
			.font-size(20);
			margin: 0 0 20px;
		}

		h4 {
			.font-size(16);
			margin: 0;
		}

		h5, h6 {
			.font-size(16);
			margin: 0 0 20px;
		}

		p {
			margin: 0 0 20px;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}

		ul, ol {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	// FAQs

	&.section--faqs {

		.block--plain-text {
			border-bottom: none;
		}

		.block--faqs {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin: 0;
					padding: 15px 0;
					position: relative;
					border-bottom: 1px solid @textdark;

					a.uk-accordion-title {
						display: block;
						padding: 0 30px 0 0;
						position: relative;
						.font-size(16);
						font-weight: 700;
						line-height: 1.2em;

						.faq-arrow--up, .faq-arrow--down {
							position: absolute;
							right: -10px;
							top: 50%;
							.translate(0, -50%);
						}

						.faq-arrow--up {
							display: none;
							visibility: hidden;
							.opacity(0);
						}
					}

					&:first-child {
						border-top: 1px solid @textdark;
					}

					&.uk-open {

						a.uk-accordion-title {

							.faq-arrow--up {
								display: block;
								visibility: visible;
								.opacity(1);
							}

							.faq-arrow--down {
								display: none;
								visibility: hidden;
								.opacity(0);
							}
						}
					}
				}
			}
		}
	}
}

/* Section: Staff & Trustees */

.section--staff {
	background: @sitelightgrey;
	padding: 30px 0;

	.block--heading {
		margin-bottom: 30px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(30);
			line-height: 1;
			letter-spacing: -0.9px;
			margin: 0;
			color: @sitedarkgrey;
		}
	}

	.grid--staff {

		.block--staff {
			border-bottom: 1px solid @textdark;
			padding-bottom: 30px;

			.staff--img {
				margin-bottom: 20px;

				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}

			.staff--headings {

				h3, h4 {
					.font-size(20);
					line-height: 1.3;
					letter-spacing: -0.15px;
					margin: 0;
					color: @textdark;
					font-weight: 700;
				}

				h4 {
					font-weight: 300;
				}
			}

			.staff--read-more {
				margin-top: 20px;

				a {
					.font-size(18);

					&:hover {
						text-decoration: none;
						color: @textdark;
					}
				}
			}
		}
	}
}

/* Section: Intro CTAs */

.section--intro-cta {
	background: @sitelightgrey;
	padding: 30px 0;
	position: relative;
	max-width: 1360px;
	margin: 0 auto;

	.block--heading {

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(30);
				margin: 0;
				line-height: 1.1em;
				letter-spacing: -0.45px;
			}
		}
	}

	.block--intro-cta {

		.block--copy {
			margin-bottom: 25px;
			max-width: 500px;

			h1, h2, h3, h4, h5, h6 {
				.font-size(20);
				margin: 0;
				line-height: 1.25;
				letter-spacing: -0.14px;
				font-weight: 700;
			}

			p {
				.font-size(18);
				margin: 0;
				line-height: 1.25;
				letter-spacing: -0.14px;
				font-weight: 300;
			}
		}
	}

	&.bg--darkGrey {

		.block--heading {

			.inner--heading {

				h1, h2, h3, h4, h5, h6 {
					color: @white;
				}
			}
		}

		.block--intro-cta {

			.block--copy {

				h1, h2, h3, h4, h5, h6 {
					color: @white;
				}

				p {
					color: @white;
				}
			}
		}
	}
}

/* Section: What's New */

.section--whats-new {
	background: @white;
	padding: 30px 0;
	position: relative;
	max-width: 1360px;
	margin: 0 auto;

	.block--heading {
		margin-bottom: 40px;

		.inner--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(30);
				margin: 0;
				line-height: 1.1em;
				letter-spacing: -0.45px;
			}
		}
	}

	.block-article {
		margin-bottom: 25px;
		border-top: 2px solid #707070;
		padding-top: 10px;
		display: inline-block;

		img {
			margin-bottom: 20px;
		}

		h3 {
			.font-size(28);
			margin-bottom: 5px;
			line-height: 1.2;
		}

		p {
			.font-size(16);
			margin-bottom: 15px;

			a {
				color: @sitegreen;
			}

			&.date {
				.font-size(14);
				color: #919192;
			}

			&.link {
				margin-bottom: 0;
			}
		}

		&.no-border {
			border-top: none;
			padding-top: 0;
		}
	}

	.paginate {
		text-align: right;
		position: relative;
		margin-top: 20px;
		border-top: 1px solid #707070;
		padding-top: 15px;

		.prev {
			position: absolute;
			left: 0;
			top: 0;
			.font-size(16);
			color: @sitegreen;
		}

		.next {
			.font-size(16);
			color: @sitegreen;
		}
	}
}

.temp-whats-new-detail {

	.section--whats-new {

		.block--heading {
			margin-bottom: 20px;

			p {
				.font-size(16);
				margin-bottom: 15px;

				a {
					color: @sitegreen;
				}

				&.date {
					.font-size(14);
					color: #919192;
					margin-bottom: 5px;
				}

				&.link {

					a {
						color: @textdark;
						text-decoration: underline;

						&:hover {
							color: @sitegreen;
						}
					}
				}
			}
		}

		.block-intro { 
			margin-bottom: 20px;

			p {
				.font-size(28);
			}
		} 

		.block-img {
			margin-bottom: 20px;
		}
	}

	.backing-lines {
		display: none;
	}
}

/* Section: Application Deadline */

.section--application-deadline {
	background: @sitelightgrey;
	padding: 30px 0;

	.block--copy {
		max-width: 500px;
		margin: 0 auto;

		h1, h2 {
			line-height: 1.14;
			letter-spacing: -0.14px;
			.font-size(20);
			font-weight: 300;
			margin-bottom: 15px;
		}

		h3 {
			line-height: 1.05;
			letter-spacing: -0.19px;
			.font-size(30);
			font-weight: 600;
			margin-bottom: 20px;
		}

		h4, h5, h6, p {
			line-height: 1.42;
			margin-bottom: 20px;
			.font-size(18);
			font-weight: 300;
		}
	}

	.block--button {
		padding-top: 10px;
	}

	&.style--green {
		background: #E0EEEC;
	}

	&.style--red {
		background: #e5e6ef;
	}

	&.style--purple {
		background: #EDE8EF;
	}

	&.style--blue {
		background: #E0EAEE;
	}
}

/* Section: Statistics */

.section--statistics {

	.block--heading {
		padding: 30px 0;
		background: @white;

		h1, h2, h3, h4, h5, h6 {
			color: @textdark;
			.font-size(30);
			margin: 0;
			line-height: 1.1em;
			letter-spacing: -0.45px;
			font-weight: 300;
		}
	}

	// Charts

	.block--stats {
		background: @sitelightgrey;
		padding: 30px 0;

		.block--stat {

			.inner--stat {

				.stat {
					position: relative;
					background: @siteblue;
					.rounded(50%);
					width: 210px;
					height: 210px;
					margin: 0 auto;

					&:before {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
							background: repeating-linear-gradient(
							-45deg,
							#5D91A8,
							#5D91A8 1px,
							@siteblue 1px,
							@siteblue 9px
						);
						.rounded(50%);
					}

					.stat--amount {
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						.translate(0, -50%);
						color: @white;
						.font-size(38);
						font-weight: 500;
						text-align: center;
					}

					&.stat-small {
						width: 180px;
						height: 180px;

						.stat--amount {
							.font-size(34);
						}
					}

					&.stat-medium {
						width: 210px;
						height: 210px;

						.stat--amount {
							.font-size(38);
						}
					}

					&.stat-large {
						width: 280px;
						height: 280px;

						.stat--amount {
							.font-size(50);
						}
					}
				}

				.stat--label {
					text-align: center;
					margin-top: 20px;

					p {
						.font-size(20);
						font-weight: 500;
						margin: 0;
						line-height: 1.29;
						letter-spacing: -0.42px;
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	background: @sitelightgrey;
	padding: 30px 0;
	position: relative;

	.uk-container {
		max-width: 380px;
	}

	.block--heading {
		margin-bottom: 30px;

		h1, h2, h3, h4, h5, h6 {
			color: @textdark;
			.font-size(30);
			margin: 0;
			line-height: 1.1em;
			letter-spacing: -0.45px;
			font-weight: 300;
		}
	}

	.grid--values {

		.grid--block {

			.block--value {
				background: @sitedarkgrey;

				.inner--value {
					padding: 15px;
					background: @sitedarkgrey;

					h3 {
						.font-size(22);
						color: @white;
						margin: 0 0 15px;
						font-weight: 600;
						line-height: 1.13;
						letter-spacing: -0.15px;
					}

					p {
						.font-size(18);
						color: @white;
						margin: 0;
						font-weight: 300;
						line-height: 1.14;
						letter-spacing: -0.22px;
					}
				}
			}

			&.grid--block--green {

				.block--value {
					background: @sitegreen;

					.inner--value {
						background: @sitegreen;
					}
				}
			}

			&.grid--block--red {

				.block--value {
					background: @sitered;

					.inner--value {
						background: @sitered;
					}
				}
			}

			&.grid--block--purple {
				
				.block--value {
					background: @sitepurple;

					.inner--value {
						background: @sitepurple;
					}
				}
			}

			&.grid--block--blue {
				
				.block--value {
					background: @siteblue;

					.inner--value {
						background: @siteblue;
					}
				}
			}
		}
	}
}

/* Block: Deadlines */

.block--deadlines {
	background: #d2e2eb;
	padding: 20px;
	.rounded(5px);

	.block--deadlines--heading {

		h3 {
			.font-size(24);
			margin: 0 0 10px;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: #5694b9;
			font-weight: 300;
		}
	}

	.block--deadline {

		h4 {
			.font-size(24);
			margin: 0 0 10px;
			line-height: 1;
			letter-spacing: -0.15px;
			color: #5694b9;
			font-weight: 700;
		}

		p {
			.font-size(18);
			margin: 0;
			line-height: 1.1;
			letter-spacing: -0.11px;
			color: #5694b9;
			font-weight: 300;
		}
	}
}

.block--next-app {
	background: #588dac;
	.rounded(5px);
	padding: 20px;

	.inner--next-app {

		h3 {
			.font-size(24);
			margin: 0 0 10px;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @white;
			font-weight: 300;
		}

		p {
			.font-size(28);
			margin: 0;
			line-height: 1.05;
			letter-spacing: -0.19px;
			color: @white;
			font-weight: 600;
		}
	}
}

/* Section: Apply Steps Navigation */

.section--grant-steps {

	.block--grant-switcher--nav {
		padding: 0 0 20px;

		.inner--grant-switcher--nav {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					padding: 0;
					margin: 0;

					a {
						display: block;
						padding: 25px;
						background: @sitelightgrey;
						.font-size(20);
						font-weight: 300;
						line-height: 1.25em;
						text-align: center;
						color: @textdark;
						text-decoration: none;

						.nav--number {
							font-weight: 700;
							.font-size(20);
							display: inline-block;

							span {

							}
						}

						.nav--label {
							display: inline-block;
						}

						&:hover {
							background: @sitedarkgrey;
							color: @white;
							text-decoration: none;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}

					&.uk-active {

						a {
							background: @sitedarkgrey;
							color: @white;
						}
					}
				}
			}
		}
	}

	.section--column-text {

		.block--copy-cols {

			h3 {
				.font-size(24);
			}
		}

		&.block--step-2--intro {
			margin-bottom: 35px;
		}

		&.block--step-4--intro {
			margin-bottom: 35px;
		}

		&.block--step-3--grant-amounts {

			.block--copy-cols {
				border-top: 1px solid @textdark;
				padding-top: 30px;
			}
		}
	}

	// Deadlines

	.block--step-4--deadlines {

		
	}

	// Graphs

	.block--graphs {

		.block--graph {

			.inner-graph {

				.graph-chart {
					position: relative;

					.outer-graph {
						background: @sitelightgrey;
						height: 0;
						width: 100%;
						.transition(height 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94));
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;

						.graph {
							height: 100%;
							width: 100%;
							background: repeating-linear-gradient(
								-45deg,
								@sitedarkgrey,
								@sitedarkgrey 1px,
								@sitelightgrey 1px,
								@sitelightgrey 9px
							);
							display: block;
						}
					}						
				}

				.graph-info {
					background: @sitelightgrey;
					padding: 20px 10px;

					p {
						.font-size(14);
						color: @textdark;
						line-height: 1.14;
						letter-spacing: -0.42px;
						margin: 0 0 10px;
						font-weight: 300;

						&.total {
							.font-size(38);
							font-weight: 500;
							margin: 0;
						}
					}
				}
			}
		}
	}

	// Charts

	.block--charts {

		.block--chart {

			.inner--chart {

				.chart {
					position: relative;
					background: @sitelightgrey;
					.rounded(50%);
					width: 210px;
					height: 210px;
					margin: 0 auto;

					&:before {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: repeating-linear-gradient(
							-45deg,
							@sitelightgrey,
							@sitelightgrey 1px,
							@sitedarkgrey 1px,
							@sitedarkgrey 9px
						);
						.rounded(50%);
					}

					.chart--amount {
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						.translate(0, -50%);
						color: @white;
						.font-size(38);
						font-weight: 500;
						text-align: center;
					}

					&.chart-small {
						width: 140px;
						height: 140px;

						.chart--amount {
							.font-size(25);
						}
					}

					&.chart-medium {
						width: 210px;
						height: 210px;

						.chart--amount {
							.font-size(38);
						}
					}

					&.chart-large {
						width: 280px;
						height: 280px;

						.chart--amount {
							.font-size(50);
						}
					}
				}

				.chart--label {
					text-align: center;
					margin-top: 20px;

					p {
						.font-size(20);
						font-weight: 500;
						margin: 0;
						line-height: 1.29;
						letter-spacing: -0.42px;
					}
				}
			}
		}
	}

	// Green

	&.style--green {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: #DFEDEA;
							color: @sitegreen;

							&:hover {
								background: @sitegreen;
								color: @white;
							}
						}

						&.uk-active {

							a {
								background: @sitegreen;
								color: @white;
							}
						}
					}
				}
			}
		}

		.section--column-text {

			.block--column-text--heading {

				.inner--column-text--heading {

					h1, h2, h3, h4, h5, h6 {
						color: @sitegreen;
					}
				}
			}
		}

		.block--step-4--deadlines {

			.block--deadlines {
				background: #DFEDEA;

				.block--deadlines--heading {

					h3 {
						color: @sitegreen;
					}
				}

				.block--deadline {

					h4 {
						color: @sitegreen;
					}

					p {
						color: @sitegreen;
					}
				}
			}
		}

		.block--graphs {

			.block--graph {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #DFEDEA;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitegreen,
									@sitegreen 1px,
									@sitelightgreen 1px,
									@sitelightgreen 9px
								);
							}
						}						
					}

					.graph-info {
						background: #DFEDEA;
					}
				}
			}
		}

		.block--charts {

			.block--chart {

				.inner--chart {

					.chart {
						background: #6FAEA4;

						&:before {
							background: repeating-linear-gradient(
								-45deg,
								#6FAEA4,
								#6FAEA4 1px,
								#328C7D 1px,
								#328C7D 9px
							);
						}
					}
				}
			}
		}
	}

	&.style--red {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: #e5e6ef;
							color: @sitered;

							&:hover {
								background: @sitered;
								color: @white;
							}
						}

						&.uk-active {

							a {
								background: @sitered;
								color: @white;
							}
						}
					}
				}
			}
		}

		.section--column-text {

			.block--column-text--heading {

				.inner--column-text--heading {

					h1, h2, h3, h4, h5, h6 {
						color: @sitered;
					}
				}
			}
		}

		.block--step-4--deadlines {

			.block--deadlines {
				background: #e5e6ef;

				.block--deadlines--heading {

					h3 {
						color: @sitered;
					}
				}

				.block--deadline {

					h4 {
						color: @sitered;
					}

					p {
						color: @sitered;
					}
				}
			}
		}

		.block--graphs {

			.block--graph {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #e5e6ef;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitered,
									@sitered 1px,
									@sitelightred 1px,
									@sitelightred 9px
								);
							}
						}						
					}

					.graph-info {
						background: #e5e6ef;
					}
				}
			}
		}

		.block--charts {

			.block--chart {

				.inner--chart {

					.chart {
						background: #c59084;

						&:before {
							background: repeating-linear-gradient(
								-45deg,
								#c59084,
								#c59084 1px,
								#ac614f 1px,
								#ac614f 9px
							);
						}
					}
				}
			}
		}
	}

	&.style--purple {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: #EBE7EE;
							color: @sitepurple;

							&:hover {
								background: @sitepurple;
								color: @white;
							}
						}

						&.uk-active {

							a {
								background: @sitepurple;
								color: @white;
							}
						}
					}
				}
			}
		}

		.section--column-text {

			.block--column-text--heading {

				.inner--column-text--heading {

					h1, h2, h3, h4, h5, h6 {
						color: @sitepurple;
					}
				}
			}
		}

		.block--step-4--deadlines {

			.block--deadlines {
				background: #EBE7EE;

				.block--deadlines--heading {

					h3 {
						color: @sitepurple;
					}
				}

				.block--deadline {

					h4 {
						color: @sitepurple;
					}

					p {
						color: @sitepurple;
					}
				}
			}
		}

		.block--graphs {

			.block--graph {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #EBE7EE;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@sitepurple,
									@sitepurple 1px,
									@sitelightpurple 1px,
									@sitelightpurple 9px
								);
							}
						}						
					}

					.graph-info {
						background: #EBE7EE;
					}
				}
			}
		}

		.block--charts {

			.block--chart {

				.inner--chart {

					.chart {
						background: #A48CAF;

						&:before {
							background: repeating-linear-gradient(
								-45deg,
								#A48CAF,
								#A48CAF 1px,
								#886996 1px,
								#886996 9px
							);
						}
					}
				}
			}
		}
	}

	&.style--blue {

		.block--grant-switcher--nav {

			.inner--grant-switcher--nav {

				ul {

					li {

						a {
							background: #D5E3E9;
							color: @siteblue;

							&:hover {
								background: @siteblue;
								color: @white;
							}
						}

						&.uk-active {

							a {
								background: @siteblue;
								color: @white;
							}
						}
					}
				}
			}
		}

		.section--column-text {

			.block--column-text--heading {

				.inner--column-text--heading {

					h1, h2, h3, h4, h5, h6 {
						color: @siteblue;
					}
				}
			}
		}

		.block--step-4--deadlines {

			.block--deadlines {
				background: #D5E3E9;

				.block--deadlines--heading {

					h3 {
						color: @siteblue;
					}
				}

				.block--deadline {

					h4 {
						color: @siteblue;
					}

					p {
						color: @siteblue;
					}
				}
			}
		}

		.block--graphs {

			.block--graph {

				.inner-graph {

					.graph-chart {

						.outer-graph {
							background: #D5E3E9;

							.graph {
								background: repeating-linear-gradient(
									-45deg,
									@siteblue,
									@siteblue 1px,
									@sitelightblue 1px,
									@sitelightblue 9px
								);
							}
						}						
					}

					.graph-info {
						background: #D5E3E9;
					}
				}
			}
		}

		.block--charts {

			.block--chart {

				.inner--chart {

					.chart {
						background: #6E9DB1;

						&:before {
							background: repeating-linear-gradient(
								-45deg,
								#6E9DB1,
								#6E9DB1 1px,
								#327491 1px,
								#327491 9px
							);
						}
					}
				}
			}
		}
	}
}

/* Section: Grants Awarded */

.section--grants-awarded-list {
	padding: 30px 0;

	.uk-container {
		padding-left: 0;
		padding-right: 0;
	}

	.block--intro {
		margin-bottom: 25px;
		padding-left: 20px;
		padding-right: 20px;

		p {

		}
	}

	.block--filters {
		padding: 25px 20px;
		background: @sitedarkgrey;

		.filter {

			label {
				color: @white;
				font-weight: 700;
				.font-size(18);
				margin: 0 0 5px;
				display: block;
			}

			.uk-select {
				background: @white;
				.rounded(5px);
				color: @textlight;
				.font-size(18);
				padding-right: 38px;
				height: 50px;
			}

			.select--outer {
				position: relative;
				.dropdown--arrow();
			}
		}

		.block--controls {
			margin-top: 10px;

			.uk-button {
				background: @white;
				color: @textlight;
				line-height: 32px;
				.rounded(30px);
				.font-size(18);
				border: 1px solid @white;
				min-width: 160px;
				margin-right: 15px;

				&:hover {
					border: 1px solid @white;
					background: @sitedarkgrey;
					color: @white;
				}
			}
		}
	}

	.block--results-sort-by {
		padding: 25px 20px 0;

		.block--results {

			p {
				.font-size(18);
				color: @textlight;
				margin: 0;
			}
		}

		.block--sort-by {

			label {
				.font-size(18);
				color: @textlight;
				margin: 0 10px 0 0;
				display: inline-block;
				font-weight: 300;
			}

			.uk-select {
				display: inline-block;
				background: @white;
				.rounded(5px);
				color: @textlight;
				.font-size(18);
				height: 28px;
				border: 1px solid @textlight;
				width: auto;
				min-width: 200px;
			}

			.select--outer {
				display: inline-block;
				position: relative;
				.dropdown--arrow();
			}
		}
	}

	.block--grants-results-m {
		padding: 25px 0;

		.block--result-m {
			padding: 10px 20px;
			position: relative;

			h4 {
				.font-size(18);
				color: @textdark;
				margin: 0;
				position: relative;
				z-index: 2;

				a {
					color: @textdark;

					&:hover {
						color: @textlight;
						text-decoration: none;
					}
				}
			}

			.inner--result-m {
				//position: relative;
				padding-top: 20px;
				padding-bottom: 5px;
				width: 100%;
				.box-sizing();

				p {
					position: relative;
					z-index: 2;

					strong {
						font-weight: 500;
					}

					&::last-child {
						margin-bottom: 0;
					}
				}

				.close {
					position: absolute;
					bottom: 16px;
					right: 20px;
					z-index: 2;
				}

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: calc(100% - 1px);
					top: 0;
					left: 50%;
					.translate(-50%, 0);
					display: block;
					background: @sitelightgrey;
					z-index: 1;
				}
			}

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				.translate(-50%, 0);
				width: calc(100% - 40px);
				height: 1px;
				display: block;
				background: #ddd;
			}
		}
	}

	.block--pagination {
		padding-left: 20px;
		padding-right: 20px;

		.uk-pagination {

			li {

				a {

				}

				&.uk-active {
					font-weight: 500;
				}
			}
		}
	}
}

// Staff/Trustee Modal

.modal--staff {

	.modal--img {
		margin-bottom: 20px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.modal--heading {

		h3, h4 {
			.font-size(20);
			line-height: 1.14;
			letter-spacing: -0.14px;
			margin: 0;
			color: @textdark;
			font-weight: 700;
		}

		h4 {
			font-weight: 300;
		}
	}

	.modal--copy {
		margin-top: 20px;

		p {
			color: @textdark;
		}
	}
}

/* Section: Hero Banner (Roman) */

.hero-slider {
	margin-top: 50px;
	margin-bottom: 40px;

	@media screen and (max-width: @breakpoint-phone ) {
		margin: 20px 0 20px;
	}

	.title {

		h1 {
			.font-size(100);
			font-weight: 300;
			letter-spacing: -3px;
			color: #707070;
			text-transform: uppercase;
			line-height: 1;

			@media screen and (max-width: @breakpoint-large) {
				.font-size(75);
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(58);
			}
		}
	}

	.slider {

		.uk-overlay-primary {
			background-color: rgba(255,255,255,.85);
			padding: 6px 10px 4px;

			p {
				.font-size(20);
				font-weight: 300;
				line-height: 1.2;
				text-align: left;
				color: #707070;

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(12);
				}

				a {
					color: #707070;
				}
			}
		}

		.overlay-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(82, 203, 179, .2);
		}

		.uk-slideshow-nav {
			position: absolute;
			bottom: 34px;
			margin: 0;
			justify-content: flex-end;
			width: 100%;
			padding: 12px;
			box-sizing: border-box;

			@media screen and (max-width: @breakpoint-phone ) {
				bottom: 25px;
			}
		}

		.uk-dotnav>*>a {
			background-color: rgba(255,255,255, .85);
			width: 14px;
			height: 14px;
		}

		.uk-dotnav>.uk-active>*, 
		.uk-dotnav>*>:focus a, 
		.uk-dotnav>*>:hover a {
			background-color: rgba(255,255,255, 1);
		}
	}

}

/* Footer */

.footer {
	background-color: @sitelightgrey;
	padding: 20px 0 30px;

	.footer-menu {

		@media screen and (max-width: @breakpoint-small - 1px) {
			//flex-wrap: wrap;	
		}
	}

	.footer-menu-list {
		//margin-right: 70px;

		&.footer-menu-list--nav {

			@media screen and (max-width: @breakpoint-small - 1px) {
				border-bottom: 1px solid #707070;
			}
		}

		@media screen and (max-width: @breakpoint-small - 1px) {
			width: 100%;
		}

		@media screen and (max-width: @breakpoint-medium - 1px) {
			//margin-right: 35px;	
		}

		@media screen and (max-width: @breakpoint-small - 1px) {
			//margin-right: 0;	
			//margin-bottom: 25px;
		}

		&:first-child {
			//min-width: 130px;

			@media screen and (max-width: @breakpoint-small - 1px) {
				//width: 100%;
				//border-bottom: 1px solid #707070;

				ul {
					margin-bottom: 10px;
				}

				li {

					&:first-child {
						a {
							padding-left: 0;
						}
					}
					a {
						padding: 0 10px;
					}
				}
			}	
		}

		&:last-child {
			//min-width: 265px;
		}

		&:nth-child(2) {
			//min-width: 220px; 
		}

		ul {
			list-style: none;
			margin-left: 0;
			padding: 0;
			margin-bottom: 23px;

			@media screen and (max-width: @breakpoint-small - 1px) {
				margin-bottom: 15px;	
			}

			li {
				@media screen and (max-width: @breakpoint-small - 1px) {
					display: inline-block;	
				}
			}
		}
		
		ul,
		ul li,
		a, p {
			.font-size(18);
			font-weight: 300;
			line-height: 1.28;
			color: #707070;

			@media screen and (max-width: @breakpoint-small - 1px) {
				.font-size(16);
			}
		}

		a {
			color: #707070;

			&:hover {
				color: @textdark;
				text-decoration: none;
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. ANIMATION 			==============================

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}