/* Variables */

// Fonts
@muli: 'Muli'; //300, 400, 700

// Colors
@c-gray: #706f6f;
@c-light: #f7f7f7;

section > .uk-container,
header > .uk-container,
footer > .uk-container {
	max-width: 1290px;
}

/* Header */

.text-two-blocks {
	margin: 40px 0 80px;

	@media screen and (max-width: @breakpoint-phone ) {
		margin: 20px 0 40px;
	}

	.text-block {
		max-width: 530px;

		p {
			font-family: @muli;
			.font-size(30);
			font-weight: 300;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @c-gray;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(26);
			}

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(24);
			}
		}
	}

	.text-block-small {
		max-width: 420px; 

		p {
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			margin-bottom: 35px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);
			}

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(16);
			}
		}
	}

	.info-link {

		a {
			display: inline-block;
			padding: 9px 11px;
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			border-radius: 5px;
			border: solid 1px #707070;
			background-color: #fff;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);
			}

			&:after {
				content: url(../img/arrow_right.svg);
				width: 8px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

.info-section {
	margin: 75px 0 90px;
	overflow: hidden;

	@media screen and (max-width: @breakpoint-phone ) {
		margin: 35px 0 40px;
	}

	.info-block {

		.text-block {

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;
				max-width: 640px;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(24);
				}
			}

			a {
				display: inline-block;
				padding: 9px 11px;
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;
				border-radius: 5px;
				border: solid 1px #707070;
				background-color: #fff;

				&:after {
					content: url(../img/arrow_right.svg);
					width: 8px;
					display: inline-block;
					margin-left: 15px;
				}
			}
		}

		.image-block {
			@media screen and (max-width: @breakpoint-phone ) {
				display: none;
			}

			img {
				margin-top: 10px;
				margin-right: -75px;
				max-width: calc(~"100% + 75px");

				@media screen and (max-width: @breakpoint-large) {
					margin-right: -40px;
					width: 460px;
					max-width: initial;
					float: right;
					z-index: -1;
					position: relative;
				}

				@media screen and (max-width: @breakpoint-medium ) {
					float: left;
					margin-right: 0;
					margin-left: -40px;
				}
			}
		}
	}
}


/* Apply page */

.hero-apply {
	padding: 40px 0 175px;
	background: rgba(86, 148, 185, .12) url('../img/1366_Apply_Banner_01.svg');
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: @breakpoint-medium ) {
		padding-bottom: 75px;
	}

	@media screen and (max-width: @breakpoint-small ) {
		padding-top: 20px;
		padding-bottom: 0;
		margin-top: 100px;
	}

	.title {
		margin-top: -100px;

		h1 {
			font-family: @muli;
			.font-size(100);
			font-weight: 300;
			letter-spacing: -3px;
			color: @c-gray;
			text-transform: uppercase;
			line-height: 1;

			@media screen and (max-width: @breakpoint-large ) {
				.font-size(75);
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(58);
			}
		}
	}

	.text-block {
		max-width: 640px;
		background-color: #fff;
		padding: 20px 35px 35px;
		margin-left: -35px;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			max-width: 590px;	
		}

		@media screen and (max-width: @breakpoint-small ) {
			background-color: transparent;
		}

		h2 {
			font-family: @muli;
			.font-size(30);
			font-weight: 300;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @c-gray;
			max-width: 530px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(26);	
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(24);
			}
		}

		p {
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			max-width: 530px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(16);
			}
		}
	}
}

.application-deadlines {
	padding: 80px 0 100px;

	@media screen and (max-width: @breakpoint-small ) {
		padding: 30px 0 40px;	
	}

	.info-block {

		.heading {
			max-width: 600px;
			margin-bottom: 50px;

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large ) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(24);
				}
			}
		}

		.text-block {
			max-width: 640px;

			@media screen and (max-width: @breakpoint-medium ) {
				margin-bottom: 40px;	
			}

			p {
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}
			}
		}
	}

	.main-deadline-block,
	.deadline-block {
		padding: 20px 22px 25px;
		border-radius: 5px;
		max-width: 390px;
		margin-left: auto;
		margin-right: 0;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-left: 0;
			margin-right: auto;
			max-width: 575px;
		}

		h3,
		ul p {
			margin: 0;
		}

	 	& > p {
	 		margin-bottom: 20px;
	 		font-family: @muli;
	 		.font-size(30);
	 		font-weight: 300;
	 		line-height: 1.13;
	 		letter-spacing: -0.15px;

	 		@media screen and (max-width: @breakpoint-large ) {
	 			.font-size(28);
	 		}

	 		@media screen and (max-width: @breakpoint-small ) {
	 			.font-size(24);
	 		}
	 	}
	}

	.main-deadline-block {
		background-color: @siteblue;
		margin-bottom: 40px;

		h3 {
			font-family: @muli;
			.font-size(38);
			font-weight: 700;
			line-height: 1.05;
			letter-spacing: -0.19px;

			@media screen and (max-width: @breakpoint-large ) {
				.font-size(28);
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(24);
			}
		}

		h3,p {
			color: #fff;
		}
	}

	.deadline-block {
		background-color: rgba(86, 148, 185, .2);

		& > p {
			color: @siteblue;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
				
				h3,
				p {
					color: @siteblue;
					font-family: @muli;
					line-height: 1.27;
				}

				h3 {
					.font-size(30);
					font-weight: 700;
					letter-spacing: -0.15px;

					@media screen and (max-width: @breakpoint-large ) {
						.font-size(28);
					}

					@media screen and (max-width: @breakpoint-small ) {
						.font-size(24);
					}
				}

				p {
					.font-size(22);
					font-weight: 300;
					letter-spacing: -0.22px;

					@media screen and (max-width: @breakpoint-small ) {
						.font-size(16);
					}
				}
			}
		}
	}
}

.making-an-application {
	padding: 50px 0 90px;
	background: @c-light url('../img/1366_Apply_Green_triangle.svg');
	background-position: 100% 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-bottom: 90px;

	@media screen and (max-width: @breakpoint-small ) {
		padding: 40px 0 40px;
		margin-bottom: 40px;
		background: @c-light;
	}

	.info-block {

		.heading {
			max-width: 640px;
			margin-bottom: 50px;

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large ) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(24);	
				}
			}
		}

		.text-block {
			max-width: 635px;

			p {
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}
			}
		}
	}
	.main-block {
		margin-top: 100px;
		padding: 20px 22px 25px;
		border-radius: 5px;
		max-width: 390px;
		margin-left: auto;
		margin-right: 0;
		background-color: #fff;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-top: 30px;
			margin-left: 0;
			margin-right: auto;	
		}

		p {
			color: @c-gray;
			font-family: @muli;
			line-height: 1.27;
			.font-size(22);
			font-weight: 300;
			letter-spacing: -0.22px;
			max-width: 320px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}
		}

		a {
			display: inline-block;
			padding: 9px 11px;
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: #fff;
			border-radius: 5px;
			border: solid 1px #707070;
			background-color: #707070;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}

			&:after {
				content: url(../img/arrow_right_white.svg);
				width: 8px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.color-blocks {
		margin-top: 70px;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-top: 40px;	
		}

		.color-block {
			padding: 20px 22px 25px;
			border-radius: 5px;
			max-width: 390px;
			margin-left: auto;
			margin-right: 0;
			background-color: #fff;
			box-sizing: border-box;

			@media screen and (max-width: @breakpoint-medium ) {
				margin-left: 0;
				margin-right: auto;	
			}

			@media screen and (max-width: @breakpoint-small ) {
				padding: 20px 15px 25px;	
			}

			&.cyan {
				background-color: @sitegreen;
			}

			&.purp {
				background-color: @sitepurple;
			}

			&.blue {
				background-color: @siteblue;
			}

			p {
				color: #fff;
				font-family: @muli;
				.font-size(28);
				font-weight: 300;
				line-height: 1.07;
				letter-spacing: -0.42px;
				max-width: 320px;
				text-transform: uppercase;

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(20);
				}
			}

			a {
				display: inline-block;
				margin-right: 20px;
				padding: 9px 11px;
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;
				border-radius: 5px;
				border: solid 1px #fff;
				background-color: #fff;

				@media screen and (max-width: @breakpoint-large ) {
					margin-bottom: 15px;
				}

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					margin-right: 10px;	
				}

				&:last-child {
					margin-right: 0;

					@media screen and (max-width: @breakpoint-large ) {
						margin-bottom: 0;
					}
				}

				&:after {
					content: url(../img/arrow_right.svg);
					width: 8px;
					display: inline-block;
					margin-left: 15px;
				}
			}
		}
	}
}