/* Variables */

// Fonts
@muli: 'Muli'; //300, 400, 700

// Colors
@c-gray: #706f6f;
@c-light: #f7f7f7;
@c-cyan: #52cbb3;
@c-purp: #a988b5;
@c-blue: #5694b9;

section > .uk-container,
header > .uk-container,
footer > .uk-container {
	max-width: 1290px;
}

/* Header */

.text-two-blocks {
	margin: 40px 0 80px;

	@media screen and (max-width: @breakpoint-phone ) {
		margin: 20px 0 40px;
	}

	.text-block {
		max-width: 530px;

		p {
			font-family: @muli;
			.font-size(30);
			font-weight: 300;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @c-gray;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(26);
			}

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(24);
			}
		}
	}

	.text-block-small {
		max-width: 420px; 

		p {
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			margin-bottom: 35px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);
			}

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(16);
			}
		}
	}

	.info-link {

		a {
			display: inline-block;
			padding: 9px 11px;
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			border-radius: 5px;
			border: solid 1px #707070;
			background-color: #fff;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);
			}

			&:after {
				content: url(../img/arrow_right.svg);
				width: 8px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

.grants-awarded-section {
	padding: 50px 0 80px;
	background-color: @c-light;

	@media screen and (max-width: @breakpoint-phone ) {
		padding: 35px 0 40px;
	}

	.title {
		
		h2 {
			font-family: @muli;
			.font-size(60);
			font-weight: 300;
			line-height: 1;
			letter-spacing: -0.9px;
			color: @c-gray;
			margin-bottom: 50px;

			@media screen and (max-width: @breakpoint-large) {
				.font-size(55);
			}

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(36);
			}
		}
	}

	.awarded-list {
		margin-bottom: 60px;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-bottom: 30px;	
		}
	}

	.awarded-slider {
		display: none;
		@media screen and (max-width: @breakpoint-medium ) {
			display: block;
		}
	}

	.awarded-slider .awarded-el .diagram .diagram-info-wrapper {
		display: block;
	}

	.awarded-slider {
		.uk-dotnav>*>a {
			background-color: rgba(112, 111, 111, .25);
			width: 14px;
			height: 14px;
		}

		.uk-dotnav>* {
			padding-left: 5px;
		}

		.uk-dotnav>.uk-active>*, 
		.uk-dotnav>*>:focus a, 
		.uk-dotnav>*>:hover a {
			background-color: rgba(112, 111, 111, .75);
		}
	}

	.awarded-slider .uk-slideshow-items {
		min-height: 250px !important;
	}

	.awarded-el {

		&.cyan {

			.top-description {

				p {
					color: @c-cyan;
				}

				h3 {
					color: @c-cyan;
				}
			}

			.diagram {
				background-color: rgba(82, 203, 179, .15);

				.diagram-size {
					height: 328px;
					background-image: url('../img/lines-cyan.svg');
				}
			}
		}

		&.purp {

			.top-description {

				p {
					color: @c-purp;
				}

				h3 {
					color: @c-purp;
				}
			}

			.diagram {
				background-color: rgba(169, 136, 181, .15);

				.diagram-size {
					height: 132px;
					background-image: url('../img/lines-purp.svg');
				}
			}
		}

		&.blue {

			.top-description {

				p {
					color: @c-blue;
				}

				h3 {
					color: @c-blue;
				}
			}

			.diagram {
				background-color: rgba(86, 148, 185, .15);

				.diagram-size {
					height: 270px;
					background-image: url('../img/lines-blue.svg');
				}
			}
		}

		.top-description {

			p {
				font-family: @muli;
				.font-size(28);
				font-weight: 400;
				line-height: 1.07;
				letter-spacing: -0.42px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-large) {
					.font-size(26);
				}

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(22);	
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(16);
				}
			}

			h3 {
				font-family: @muli;
				.font-size(71);
				font-weight: 400;
				line-height: 0.48;
				letter-spacing: -0.42px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-large) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(48);	
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(22);
				}
			}
		}

		.diagram {
			background-color: rgba(112, 111, 111, .15);
			
			.diagram-size {
				height: 300px;
				background-image: url('../img/lines-black.svg');
				background-size: 450px 450px;
				background-position: 0 0;
			}

			.diagram-info-wrapper {
				padding: 22px 15px;
				@media screen and (max-width: @breakpoint-medium ) {
					display: none;	
				}
			}

			.diagram-info {
				padding-top: 5px;
				padding-bottom: 30px;
				border-top: 1px solid @c-gray;

				&:first-child {

					.uk-grid {

						div:first-child {
							
							 p {
							 	text-transform: uppercase;
							 }
						}
					}
				}

				&:last-child {

					padding-bottom: 0;
				}

				.uk-width-2-5 {
					text-align: right;
				}

				p {
					font-family: @muli;
					.font-size(20);
					font-weight: 300;
					line-height: 1.2;
					color: @c-gray;

					@media screen and (max-width: @breakpoint-large) {
						.font-size(16);
					}
				}
			}
		}
	}

	.awarded-details {
		margin-top: 60px;

		@media screen and (max-width: @breakpoint-phone ) {
			margin-top: 40px;
		}
		
		p {
			font-family: @muli;
			.font-size(30);
			font-weight: 300;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @c-gray;
			max-width: 620px;
			margin-bottom: 30px;

			@media screen and (max-width: @breakpoint-phone ) {
				.font-size(24);
			}
		}

		a {
			display: inline-block;
			padding: 9px 11px;
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: #fff;
			border-radius: 5px;
			border: solid 1px #707070;
			background-color: #707070;

			&:after {
				content: url(../img/arrow_right_white.svg);
				width: 8px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

.info-section {
	margin: 75px 0 90px;
	overflow: hidden;

	@media screen and (max-width: @breakpoint-phone ) {
		margin: 35px 0 40px;
	}

	.info-block {

		.text-block {

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;
				max-width: 640px;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-phone ) {
					.font-size(24);
				}
			}

			a {
				display: inline-block;
				padding: 9px 11px;
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;
				border-radius: 5px;
				border: solid 1px #707070;
				background-color: #fff;

				&:after {
					content: url(../img/arrow_right.svg);
					width: 8px;
					display: inline-block;
					margin-left: 15px;
				}
			}
		}

		.image-block {
			@media screen and (max-width: @breakpoint-phone ) {
				display: none;
			}

			img {
				margin-top: 10px;
				margin-right: -75px;
				max-width: calc(~"100% + 75px");

				@media screen and (max-width: @breakpoint-large) {
					margin-right: -40px;
					width: 460px;
					max-width: initial;
					float: right;
					z-index: -1;
					position: relative;
				}

				@media screen and (max-width: @breakpoint-medium ) {
					float: left;
					margin-right: 0;
					margin-left: -40px;
				}
			}
		}
	}
}

.footer {
	background-color: @c-light;
	padding: 19px 0 30px;

	.footer-menu {
		@media screen and (max-width: @breakpoint-small ) {
			flex-wrap: wrap;	
		}
	}

	.footer-menu-list {
		margin-right: 70px;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-right: 35px;	
		}

		@media screen and (max-width: @breakpoint-small ) {
			margin-right: 0;	
			margin-bottom: 25px;
		}

		&:first-child {
			min-width: 130px;

			@media screen and (max-width: @breakpoint-small ) {
				width: 100%;
				border-bottom: 1px solid @c-gray;

				ul {
					margin-bottom: 10px;
				}

				li {

					&:first-child {
						a {
							padding-left: 0;
						}
					}
					a {
						padding: 0 10px;
					}
				}
			}	
		}

		&:last-child {
			min-width: 265px;
		}

		&:nth-child(2) {
			min-width: 220px; 
		}


		ul {
			list-style: none;
			margin-left: 0;
			padding: 0;
			margin-bottom: 23px;

			@media screen and (max-width: @breakpoint-small ) {
				margin-bottom: 15px;	
			}

			li {
				@media screen and (max-width: @breakpoint-small ) {
					display: inline-block;	
				}
			}
		}
		
		ul,
		ul li,
		a, p {
			font-family: @muli;
			.font-size(18);
			font-weight: 300;
			line-height: 1.28;
			color: @c-gray;

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(16);
			}
		}
	}
}

/* Apply page */

.hero-apply {
	padding: 40px 0 175px;
	background: rgba(86, 148, 185, .12) url('../img/1366_Apply_Banner_01.svg');
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: @breakpoint-medium ) {
		padding-bottom: 75px;
	}

	@media screen and (max-width: @breakpoint-small ) {
		padding-top: 20px;
		padding-bottom: 0;
		margin-top: 100px;
	}

	.title {
		margin-top: -100px;

		h1 {
			font-family: @muli;
			.font-size(100);
			font-weight: 300;
			letter-spacing: -3px;
			color: @c-gray;
			text-transform: uppercase;
			line-height: 1;

			@media screen and (max-width: @breakpoint-large ) {
				.font-size(75);
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(58);
			}
		}
	}

	.text-block {
		max-width: 640px;
		background-color: #fff;
		padding: 20px 35px 35px;
		margin-left: -35px;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			max-width: 590px;	
		}

		@media screen and (max-width: @breakpoint-small ) {
			background-color: transparent;
		}

		h2 {
			font-family: @muli;
			.font-size(30);
			font-weight: 300;
			line-height: 1.13;
			letter-spacing: -0.15px;
			color: @c-gray;
			max-width: 530px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(26);	
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(24);
			}
		}

		p {
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: @c-gray;
			max-width: 530px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(16);
			}
		}
	}
}

.application-deadlines {
	padding: 80px 0 100px;

	@media screen and (max-width: @breakpoint-small ) {
		padding: 30px 0 40px;	
	}

	.info-block {

		.heading {
			max-width: 600px;
			margin-bottom: 50px;

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large ) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(24);
				}
			}
		}

		.text-block {
			max-width: 640px;

			@media screen and (max-width: @breakpoint-medium ) {
				margin-bottom: 40px;	
			}

			p {
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}
			}
		}
	}

	.main-deadline-block,
	.deadline-block {
		padding: 20px 22px 25px;
		border-radius: 5px;
		max-width: 390px;
		margin-left: auto;
		margin-right: 0;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-left: 0;
			margin-right: auto;
			max-width: 575px;
		}

		h3,
		ul p {
			margin: 0;
		}

	 	& > p {
	 		margin-bottom: 20px;
	 		font-family: @muli;
	 		.font-size(30);
	 		font-weight: 300;
	 		line-height: 1.13;
	 		letter-spacing: -0.15px;

	 		@media screen and (max-width: @breakpoint-large ) {
	 			.font-size(28);
	 		}

	 		@media screen and (max-width: @breakpoint-small ) {
	 			.font-size(24);
	 		}
	 	}
	}

	.main-deadline-block {
		background-color: @c-blue;
		margin-bottom: 40px;

		h3 {
			font-family: @muli;
			.font-size(38);
			font-weight: 700;
			line-height: 1.05;
			letter-spacing: -0.19px;

			@media screen and (max-width: @breakpoint-large ) {
				.font-size(28);
			}

			@media screen and (max-width: @breakpoint-small ) {
				.font-size(24);
			}
		}

		h3,p {
			color: #fff;
		}
	}

	.deadline-block {
		background-color: rgba(86, 148, 185, .2);

		& > p {
			color: @c-blue;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
				
				h3,
				p {
					color: @c-blue;
					font-family: @muli;
					line-height: 1.27;
				}

				h3 {
					.font-size(30);
					font-weight: 700;
					letter-spacing: -0.15px;

					@media screen and (max-width: @breakpoint-large ) {
						.font-size(28);
					}

					@media screen and (max-width: @breakpoint-small ) {
						.font-size(24);
					}
				}

				p {
					.font-size(22);
					font-weight: 300;
					letter-spacing: -0.22px;

					@media screen and (max-width: @breakpoint-small ) {
						.font-size(16);
					}
				}
			}
		}
	}
}

.making-an-application {
	padding: 50px 0 90px;
	background: @c-light url('../img/1366_Apply_Green_triangle.svg');
	background-position: 100% 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-bottom: 90px;

	@media screen and (max-width: @breakpoint-small ) {
		padding: 40px 0 40px;
		margin-bottom: 40px;
		background: @c-light;
	}

	.info-block {

		.heading {
			max-width: 640px;
			margin-bottom: 50px;

			h2 {
				font-family: @muli;
				.font-size(60);
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.9px;
				color: @c-gray;
				margin-bottom: 35px;

				@media screen and (max-width: @breakpoint-large ) {
					.font-size(55);
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(36);
				}
			}

			p {
				font-family: @muli;
				.font-size(30);
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -0.15px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(26);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(24);	
				}
			}
		}

		.text-block {
			max-width: 635px;

			p {
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}
			}
		}
	}
	.main-block {
		margin-top: 100px;
		padding: 20px 22px 25px;
		border-radius: 5px;
		max-width: 390px;
		margin-left: auto;
		margin-right: 0;
		background-color: #fff;
		box-sizing: border-box;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-top: 30px;
			margin-left: 0;
			margin-right: auto;	
		}

		p {
			color: @c-gray;
			font-family: @muli;
			line-height: 1.27;
			.font-size(22);
			font-weight: 300;
			letter-spacing: -0.22px;
			max-width: 320px;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}
		}

		a {
			display: inline-block;
			padding: 9px 11px;
			font-family: @muli;
			.font-size(22);
			font-weight: 300;
			line-height: 1.14;
			letter-spacing: -0.22px;
			color: #fff;
			border-radius: 5px;
			border: solid 1px #707070;
			background-color: #707070;

			@media screen and (max-width: @breakpoint-medium ) {
				.font-size(20);	
			}

			&:after {
				content: url(../img/arrow_right_white.svg);
				width: 8px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.color-blocks {
		margin-top: 70px;

		@media screen and (max-width: @breakpoint-medium ) {
			margin-top: 40px;	
		}

		.color-block {
			padding: 20px 22px 25px;
			border-radius: 5px;
			max-width: 390px;
			margin-left: auto;
			margin-right: 0;
			background-color: #fff;
			box-sizing: border-box;

			@media screen and (max-width: @breakpoint-medium ) {
				margin-left: 0;
				margin-right: auto;	
			}

			@media screen and (max-width: @breakpoint-small ) {
				padding: 20px 15px 25px;	
			}

			&.cyan {
				background-color: @c-cyan;
			}

			&.purp {
				background-color: @c-purp;
			}

			&.blue {
				background-color: @c-blue;
			}

			p {
				color: #fff;
				font-family: @muli;
				.font-size(28);
				font-weight: 300;
				line-height: 1.07;
				letter-spacing: -0.42px;
				max-width: 320px;
				text-transform: uppercase;

				@media screen and (max-width: @breakpoint-small ) {
					.font-size(20);
				}
			}

			a {
				display: inline-block;
				margin-right: 20px;
				padding: 9px 11px;
				font-family: @muli;
				.font-size(22);
				font-weight: 300;
				line-height: 1.14;
				letter-spacing: -0.22px;
				color: @c-gray;
				border-radius: 5px;
				border: solid 1px #fff;
				background-color: #fff;

				@media screen and (max-width: @breakpoint-large ) {
					margin-bottom: 15px;
				}

				@media screen and (max-width: @breakpoint-medium ) {
					.font-size(20);	
				}

				@media screen and (max-width: @breakpoint-small ) {
					margin-right: 10px;	
				}

				&:last-child {
					margin-right: 0;

					@media screen and (max-width: @breakpoint-large ) {
						margin-bottom: 0;
					}
				}

				&:after {
					content: url(../img/arrow_right.svg);
					width: 8px;
					display: inline-block;
					margin-left: 15px;
				}
			}
		}
	}
}