//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoint Override
//

@breakpoint-phone:    480px;  // Small Phone
@breakpoint-small:    640px;  // Phone landscape
@breakpoint-medium:   960px;  // Tablet Landscape
@breakpoint-large:    1200px; // Desktop
@breakpoint-xlarge:   1600px; // Large Screens

@breakpoint-phablet:  @breakpoint-small;

/* Variables =================================================== */

// 1. ROOT          ==============================

//@bodycolor : #e2e2e2;
@bodycolor : @white;
@textcolor : @textdark;

// 2. TYPOGRAPHY      ==============================

@basefont : @font-regular, sans-serif;
@basefontsize : 16;
@baselineheight : 25px;
@baseheadingfont : @font-heading, sans-serif;
@baseheadingfontweight : normal;
@baseheadingfontcolor : inherit;

@altfont : Cambria, Georgia, Times, "Times New Roman";
@altlineheight : 1.35em;

@codefont : Monaco, Courier New, monospace;

@font-regular       : 'Muli';
@font-heading       : @font-regular;

@heading			: @font-regular;

// 3. COLOUR        ==============================

@basecolor          : rgb(45,53,62);    
@compcolor          : spin(@basecolor, 180); 
@bordercolor        : lighten(@basecolor, 60%);

// Links

@linkcolor            : @black;
@linkcolorhover       : @black;
@linkcolorvisited     : @black;
@linkcolorfocus       : @black;

// greyscale

@black          : rgb(0,0,0);
@darkgrey       : lighten(@black, 25%);
@grey           : lighten(@black, 50%);
@lightgrey      : lighten(@black, 75%);
@lightergrey    : lighten(@black, 90%);
@white          : rgb(255,255,255);

// colour palettes

@alertcolor     : rgb(252,248,227);
@errorcolor     : rgb(218,79,73);
@infocolor      : rgb(217,237,247);
@inverscolor    : rgb(65,65,65);
@successcolor   : rgb(91,183,91);
@warningcolor   : rgb(250,167,50);


// site greyscale colours

@sitelightgrey      : #f7f7f7;
@sitedarkgrey       : #5f5f5f;

// site colours 515B91

@sitegreen			: #328c7d;
@sitepurple			: #886996;
@siteblue           : #307390;
@sitered            : #515B91;

@sitelightgreen		: #e5f7f4;
@sitelightpurple	: #f2edf4;
@sitelightblue		: #e6eff5;
@sitelightred		: #e5e6ef;

@sitealert          : #BF3236;

// text colours

@textdark           : #383838;
@textlight			: #707070;


// Fonts:       
//
// ========================================================================

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap');

@icon-font-path:                                "../fonts";