{# 404 Page Template #}

{% extends "_layout-offline" %}

{% set templateName = "temp--default" %}

{% set noFollow = 1 %}

{% set metaTitleOveride = "Our site is currently down for routine maintenance - " ~ siteName %}

{% block content %}

	<section class="section--banner  section--banner--grey">

		<div class="effect--lines" style="padding-bottom: 0;">

			{% set styleGreen = "lines--green" %}
			{% set stylePurple = "lines--purple" %}
			{% set styleBlue = "lines--blue" %}

			{# Green Lines #}

			{% set vars = {'style': styleGreen, 'totalLines': 16, 'loopLines': '01'} %}

			{% include "_inc/_effects/_lines" with vars %}

			{# Purple Lines #}

			{% set vars = {'style': stylePurple, 'totalLines': 16, 'loopLines': '02'} %}

			{% include "_inc/_effects/_lines" with vars %}

			{# Blue Lines #}

			{% set vars = {'style': styleBlue, 'totalLines': 16, 'loopLines': '03'} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

		<div class="uk-container">

			{# Heading #}

			<div class="block--banner--heading hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;" style="min-height: 300px; max-width: 70%;">
			
				<p style="font-size: 28px; margin-top: 200px;">Our site is currently down for routine maintenance. We will be back online Wed 5 April.</p>
			
			</div>
		
			{# Copy

			<div class="block--banner--copy hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				<p>The page you requested <br>could not be found.</p>
			
			</div> #}

		</div>

	</section>

	<div class="uk-padding-large"></div>

{% endblock %}