{% spaceless %}

{# Meta #}

{% set metaTitle = "" %}
{% set metaDescription = "" %}
{% set sharingTitle = "" %}
{% set sharingDescription = "" %}
{% set sharingImgUrl = "" %}

{# Meta Title #}

{% if metaTitleOveride is defined and metaTitleOveride|length %}

    {% set metaTitle = metaTitleOveride %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set metaTitle = entry.seoMetaTitle %}

{% else %}

    {% set metaTitle = defaultMetaData.seoMetaTitle %}

{% endif %}

{# Meta Description #}

{% if metaDescOveride is defined and metaDescOveride|length %}

    {% set metaDescription = metaDescOveride %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set metaDescription = entry.seoMetaDescription %}

{% else %}

    {% set metaDescription = defaultMetaData.seoMetaDescription %}

{% endif %}

{# Sharing Title #}

{% if entry.sharingTitle is defined and entry.sharingTitle|length %}

    {% set sharingTitle = entry.sharingTitle %}

{% elseif metaTitleOveride is defined and metaTitleOveride|length %}

    {% set sharingTitle = metaTitleOveride %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set sharingTitle = entry.seoMetaTitle %}

{% else %}

    {% set sharingTitle = defaultSharingData.sharingTitle %}

{% endif %}

{# Sharing Description #}

{% if entry.sharingDescription is defined and entry.sharingDescription|length %}

    {% set sharingDescription = entry.sharingDescription %}

{% elseif metaDescOveride is defined and metaDescOveride|length %}

    {% set sharingDescription = metaDescOveride %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set sharingDescription = entry.seoMetaDescription %}

{% else %}

    {% set sharingDescription = defaultSharingData.sharingDescription %}

{% endif %}

{# Sharing Image #}

{% if entry.sharingImage is defined and entry.sharingImage|length %}

    {% set ogImage = entry.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% elseif defaultSharingData.sharingImage is defined and defaultSharingData.sharingImage|length %}

    {% set ogImage = defaultSharingData.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% elseif sharingImageOveride is defined and sharingImageOveride|length %}

    {% set sharingImgUrl = sharingImageOveride %}

{% endif %}

{% endspaceless %}
<!doctype html>

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% spaceless %}

{# Google Tag Manager #}

{% if tagManager.tagManagerJavascript|length %}

    {{ tagManager.tagManagerJavascript|raw }}

{% endif %}

{% endspaceless %}
<meta charset="utf-8">
<title>{{ metaTitle }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta name="author" content="{{ siteName }}">
{% spaceless %}

{# No Follow #}

{% if noFollow is defined and noFollow == 1 %}

<meta name="robots" content="noindex, nofollow">

{% endif %}

{% endspaceless %}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="home" href="{{ url() }}">

{# Styles #}
<link rel="stylesheet" href="{{ url('assets/css/screen.min.css?v=2.3') }}">

{# Icons #}
<link rel="apple-touch-icon" sizes="57x57" href="{{ url('assets/img/icons/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url('assets/img/icons/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url('assets/img/icons/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url('assets/img/icons/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url('assets/img/icons/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url('assets/img/icons/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url('assets/img/icons/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url('assets/img/icons/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url('assets/img/icons/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url('assets/img/icons/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url('assets/img/icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url('assets/img/icons/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url('assets/img/icons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url('assets/img/icons/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url('assets/img/icons/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">

{# Open Graphs #}

<meta property="og:title" content="{{ sharingTitle }}">
<meta property="og:description" content="{{ sharingDescription }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
<meta property="og:image" content="{{ sharingImgUrl }}">
<meta property="og:locale" content="en_GB">

{# jQuery & UIKit #}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>

</head>

<body{% if templateName %} class="{{ templateName }}"{% endif %}>

    {# Google Tag Manager #}

    {% if tagManager.tagManagerNoscript|length %}

        {{ tagManager.tagManagerNoscript|raw }}

    {% endif %}

    <div class="app">
    
        {#:::: Header ::::#}

        {% include '_global/_header' %}
        
        {#:::: Main Content Block ::::#}

        {% block content %}

            

        {% endblock %}
        
        {#:::: Footer ::::#}

        {% include '_global/_footer' %}
    
    </div>

    {# Mobile Menu #}

    {% include '_inc/_menus/_mobile' %}

    {#:::: JavaScript ::::#}
    
    <script src="{{ url('assets/js/app.js') }}"></script>

    <script src="https://cdn.userway.org/widget.js" data-account="ppiEl9lTtF"></script>
    <span id="userway" tabindex="0" class="userway"><img src="{{ url('assets/img/userway-icon.svg') }}" alt=""></span>
    
    {# {% js %}
    
            (function(d){
                var s = d.createElement("script");
                /* uncomment the following line to override default position*/
                /* s.setAttribute("data-position", 1);*/
                /* uncomment the following line to override default size (values: small, large)*/
                /* s.setAttribute("data-size", "large");*/
                /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
                /* s.setAttribute("data-language", "null");*/
                /* uncomment the following line to override color set via widget (e.g., #053f67)*/
                /* s.setAttribute("data-color", "#0048FF");*/
                /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
                /* s.setAttribute("data-type", "1");*/
                /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
                /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility";*/
                /* uncomment the following line to override support on mobile devices*/
                /* s.setAttribute("data-mobile", true);*/
                /* uncomment the following line to set custom trigger action for accessibility menu*/
                /* s.setAttribute("data-trigger", "triggerId")*/
                s.setAttribute("data-account", "ppiEl9lTtF");
                s.setAttribute("src", "https://cdn.userway.org/widget.js");
                (d.body || d.head).appendChild(s);
            })(document)
    
        {% endjs %} #}
    

    {#:::: Injected JavaScript ::::#}

    {# <!-- WiredMinds eMetrics tracking with Enterprise Edition V5.4 START -->
        <script type='text/javascript' src='https://count.carrierzone.com/app/count_server/count.js'></script>
        <script type='text/javascript'>
            //<!--
            wm_custnum='06d89b70a87cb29d';
            wm_page_name='{{ entry.slug }}';
            wm_group_name='/services/webpages/a/b/abcharitabletrust.org.uk/public';
            wm_campaign_key='campaign_id';
            wm_track_alt='';
            wiredminds.count();
            // -->
        </script>
        <!-- WiredMinds eMetrics tracking with Enterprise Edition V5.4 END --> #}

    {{ endBody() }}

</body>

</html>