{# Home Template #}

{% extends "_layout" %}

{% set templateName = "temp-home" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{# Main Block Content #}

{% block content %}

    {# <div class="uk-container"> #}

    	{# Banner #}

    	{% if entry.banner|length %}

	        {% for block in entry.banner.all() %}

				{% include '_inc/_blocks/_banner' %}

			{% endfor %}

		{% endif %}

		{# Content Blocks #}

		{% include '_inc/_content-blocks' %}

	{# </div> #}

{% endblock %}