{# Job Detail Template #}

{% extends "_layout" %}

{% set templateName = "temp-job-detail" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set metaTitleOveride = "" %}
{% set metaDescOveride = "" %}

{% block content %}

	<div class="uk-container">

		{# Title & Copy #}

		<div class="">

			<h1>{{ entry.title }}</h1>

			{{ entry.copy }}

		</div>

		{# Details - Type, Salary etc etc #}

		<div class="">

			<p>Details</p>

			<ul>

				{% if entry.location|length %}
    
                    <li><span>Location</span> <br>{{ entry.location }}</li>

                {% endif %}

				{% if not entry.hideSalary %}

                    {% set currency = '£' %}

                    {% if entry.currency|length %}

                        {% set currency = entry.currency %}

                    {% endif %}

                    {% set salaryFrom = null %}

                    {% if entry.salaryFrom|length %}

                        {% set salaryFrom = entry.salaryFrom %}

                    {% endif %}
                    
                    {% set salaryTo = null %}

                    {% if entry.salaryTo|length %}

                        {% set salaryTo = entry.salaryTo %}

                    {% endif %}

                    {% if salaryFrom != null and salaryTo != null %}

                        {% set salary = salaryFrom ~ ' - ' ~ currency ~ salaryTo %}

                        {% if salaryFrom == salaryTo %}

                            {% set salary = salaryFrom %}

                        {% endif %}

                    {% endif %}
                    
                    {% if salaryFrom != null and salaryTo == null %}

                        {% set salary = salaryFrom %}

                    {% endif %}

                    {% if salaryFrom == null and salaryTo != null %}

                        {% set salary = salaryFrom %}

                    {% endif %}

                    {% set salaryType = "" %}

                    {% if entry.salaryType|length %}

                        {% set salaryType = " "~entry.salaryType %}

                    {% endif %}

                    {% set contractType = "" %}

                    {% if entry.contractType|length %}

                        {% set contractType = " "~entry.contractType %}

                    {% endif %}

                    {% set salary = currency ~ salary ~ salaryType ~ contractType %}

                    <li><span>Salary</span>{{ salary }}</li>

                {% endif %}

                {% if entry.salaryBenefits|length %}

                	<li><span>Benefits</span>{{ entry.salaryBenefits }}</li>

                {% endif %}

			</ul>

		</div>

		{# Application Form #}

		<div class="form">

			<div class="form-title">

				<h2>Apply now</h2>

			</div>

			<div class="form-block">

				{% set applyThis = "seb@logicmelon.com" %}

                {% if entry.uniqueEmail|length %}

                    {% set applyThis = entry.uniqueEmail %}

                {% endif %}

				{{ craft.freeform.form("jobApplication",{
					overrideValues: {
				        applyThisEmail: applyThis,
				        reference: entry.reference
				    },
				    dynamicNotification: { 
				    	recipients: [applyThis],
				    	template: "jobApplicationNotification" 
				    },
				    returnUrl: url('job-application-thank-you/job/'~entry.slug)
				}).render() }}

				<form action="" style="display: none;">
				
					<div class="title">

						<p>Your details</p>

					</div>

					<div uk-grid class="uk-grid-medium">

						<div class="uk-width-1-2@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="first-name" placeholder="First Name">

								<span></span>

							</div>

						</div>

						<div class="uk-width-1-2@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="second-name" placeholder="Second Name">

								<span></span>

							</div>

						</div>

						<div class="uk-width-1-2@m">

							<div class="g-form-el">

								<input class="uk-input" type="email" name="email" placeholder="Email Address">

								<span></span>

							</div>

						</div>

						<div class="uk-width-1-2@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="phone" placeholder="Phone Number">

								<span></span>

							</div>

						</div>

					</div>

					<div class="title uk-visible@s">

						<p>Upload your CV</p>

					</div>

					<div uk-grid class="uk-grid-medium">

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<div class="js-upload uk-placeholder uk-text-center">

								    <span uk-icon="icon: cloud-upload"></span>

								    <span class="uk-text-middle">Attach binaries by dropping them here or</span>

								    <div uk-form-custom>

								        <input type="file" multiple>

								        <span class="uk-link">selecting one</span>

								    </div>

								</div>

								<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

							</div>

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<textarea name="cover-letter" id="" cols="30" rows="10" placeholder="Cover Letter"></textarea>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>By choosing to continue you will register your CV with Cambridge Network Limited. We will use your contact information to send you relevant jobs that match your criteria. All CV’s will be viewable across the Cambridge Network Limited.</span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>I acknowledge and give permission for my data to be held by Cambridge Network Limited in accordance with the <a href="#">General Data Protection Regulation</a></span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<button type="submit" class="submit-btn">Apply now</button>

							</div>	

						</div>

					</div>

				</form>

			</div>

		</div>

		{# Callback Form #}

		<div class="form">

			<div class="form-title">

				<h2>Request a callback</h2>

			</div>

			<div class="form-block">

				{{ craft.freeform.form("callback",{
					overrideValues: {
				        applyThisEmail: applyThis,
				        reference: entry.reference
				    },
				    dynamicNotification: { 
				    	recipients: [applyThis],
				    	template: "callbackNotification" 
				    },
				    returnUrl: url('callback-thank-you/job/'~entry.slug)
				}).render() }}

				{# <form action="">
				
					<div class="title">

						<p>Your details</p>

					</div>

					<div uk-grid class="uk-grid-small">

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="full-name" placeholder="Full Name">

							</div>

						</div>

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="email" name="email" placeholder="Email Address">

							</div>

						</div>

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="phone" placeholder="Phone Number">

							</div>

						</div>

					</div>

					<div uk-grid class="uk-grid-medium">

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>By choosing to continue you will register your CV with Cambridge Network Limited. We will use your contact information to send you relevant jobs that match your criteria. All CV’s will be viewable across the Cambridge Network Limited.</span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>I acknowledge and give permission for my data to be held by Cambridge Network Limited in accordance with the <a href="#">General Data Protection Regulation</a></span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<button type="submit" class="submit-btn">Apply now</button>

							</div>	

						</div>

					</div>

				</form> #}

			</div>

		</div>

		{# Register Details Form #}

		<div class="form">

			<div class="form-title">

				<h2>Register your details</h2>

			</div>

			<div class="form-block">

				{% set applyThis = "seb@logicmelon.com" %}

                {% if registerCvApplythis.uniqueEmail|length %}

                    {% set applyThis = registerCvApplythis.uniqueEmail %}

                {% endif %}

				{{ craft.freeform.form("registerYourDetails",{
					overrideValues: {
				        applyThisEmail: applyThis,
				        reference: entry.reference
				    },
				    dynamicNotification: { 
				    	recipients: [applyThis],
				    	template: "registerYourCvNotification" 
				    },
				    returnUrl: url('register-thank-you/job/'~entry.slug)
				}).render() }}

				{# <form action="">
				
					<div class="title">

						<p>Your details</p>

					</div>

					<div uk-grid class="uk-grid-small">

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="full-name" placeholder="Full Name">

							</div>

						</div>

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="email" name="email" placeholder="Email Address">

							</div>

						</div>

						<div class="uk-width-1-3@m">

							<div class="g-form-el">

								<input class="uk-input" type="text" name="phone" placeholder="Phone Number">

							</div>

						</div>

					</div>

					<div class="title uk-visible@s">

						<p>Upload your CV</p>

					</div>

					<div uk-grid class="uk-grid-medium">

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<div class="js-upload uk-placeholder uk-text-center">

								    <span uk-icon="icon: cloud-upload"></span>

								    <span class="uk-text-middle">Attach binaries by dropping them here or</span>

								    <div uk-form-custom>

								        <input type="file" multiple>

								        <span class="uk-link">selecting one</span>

								    </div>

								</div>

								<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

							</div>

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>By choosing to continue you will register your CV with Cambridge Network Limited. We will use your contact information to send you relevant jobs that match your criteria. All CV’s will be viewable across the Cambridge Network Limited.</span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<label><input class="uk-checkbox" type="checkbox"> <span>I acknowledge and give permission for my data to be held by Cambridge Network Limited in accordance with the <a href="#">General Data Protection Regulation</a></span></label>

							</div>	

						</div>

						<div class="uk-width-1-1">

							<div class="g-form-el">

								<button type="submit" class="submit-btn">Apply now</button>

							</div>	

						</div>

					</div>

				</form> #}

			</div>

		</div>

		{# Scroll Arrow #}

		{% include '_inc/_blocks/_scrollArrow' %}

	</div>

	{# Google for Jobs Schema #}

	{% set hiringCompany = siteName %}
    {% set hiringCompanyUrl = url() %}
    {% set gfjLogo = url('assets/img/icons/android-icon-192x192.png') %}
    {% set currency = "&pound;" %}

    <meta itemprop="specialCommitments" content="VeteranCommit">

    <script type="application/ld+json">

        {
            "@context": "http://schema.org",
            "@type": "JobPosting",
            "title": "{{ entry.title }}",
            "datePosted": "{{ entry.postDate|date('Y-m-d') }}",
            "validThrough": "{{ entry.expiryDate|date('Y-m-d') }}",
            "url": "{{ entry.getUrl }}",
            "industry": "{{ entry.industry.one().title }}",
            "employmentType": "{{ entry.typeOfEmployment }}",
            "jobBenefits": "{{ entry.salaryBenefits }}",
            "jobLocation": {
                "@type": "Place",
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "{{ entry.city }}",
                    "addressRegion": "{{ entry.county }}",
                    "addressCountry": "{{ entry.country }}",
                    "postalCode": "{{ entry.postcode }}",
                    "streetAddress": "{{ entry.postcode }}, {{ entry.location }}"
                }
            },
            "baseSalary": {
                "@type": "MonetaryAmount",
                "currency": "GBP",
                "value": {
                    "@type": "QuantitativeValue",
                    "minValue": "{{ entry.salaryFrom }}",
                    "maxValue": "{{ entry.salaryTo }}",
                    "unitText": "{{ entry.salaryType }}",
                    "value": "{{ entry.salaryFrom }} - {{ entry.salaryTo }}"
                }
            },
            "description": "{{ entry.copy|escape }}",
            "hiringOrganization": {
                "@type": "Organization",
                "name": "{{ hiringCompany }}",
                "sameAs": "{{ hiringCompanyUrl }}",
                "url": "{{ hiringCompanyUrl }}",
                "logo": "{{ gfjLogo }}"
            }

        }

    </script>

{% endblock %}