{# Job List Element #}

<div class="">

    <div class="title">

        <h3>{{ job.title }}</h3>

    </div>

    <div class="details">

        <p>Details</p>

        <ul>

            {% if job.location|length %}
                
                <li><span>Location</span> {{ job.location }}</li>

            {% endif %}
            
            {% if not job.hideSalary %}

                {% set currency = '£' %}

                {% if job.currency|length %}

                    {% set currency = job.currency %}

                {% endif %}

                {% set salaryFrom = null %}

                {% if job.salaryFrom|length %}

                    {% set salaryFrom = job.salaryFrom %}

                {% endif %}
                
                {% set salaryTo = null %}

                {% if job.salaryTo|length %}

                    {% set salaryTo = job.salaryTo %}

                {% endif %}

                {% if salaryFrom != null and salaryTo != null %}

                    {% set salary = salaryFrom ~ ' - ' ~ currency ~ salaryTo %}

                    {% if salaryFrom == salaryTo %}

                        {% set salary = salaryFrom %}

                    {% endif %}

                {% endif %}
                
                {% if salaryFrom != null and salaryTo == null %}

                    {% set salary = salaryFrom %}

                {% endif %}

                {% if salaryFrom == null and salaryTo != null %}

                    {% set salary = salaryFrom %}

                {% endif %}

                {% set salaryType = "" %}

                {% if job.salaryType|length %}

                    {% set salaryType = " "~job.salaryType %}

                {% endif %}

                {% set contractType = "" %}

                {% if job.contractType|length %}

                    {% set contractType = " "~job.contractType %}

                {% endif %}

                {% set salary = currency ~ salary ~ salaryType ~ contractType %}

                <li><span>Salary</span> {{ salary }}</li>

            {% endif %}

        </ul>

    </div>

    {% if job.copy|length %}

        <div class="description">

            <p>{{ job.copy|chop(limit=55, unit='w') }}...</p>

        </div>

    {% endif %}

    <div class="read-more">

        <a href="{{ job.getUrl() }}">Read more</a>

    </div>

</div>