{# Job List Pagination #}

{% if info.totalPages > 1 %}

    <div class="pagination">

        <ul class="uk-pagination uk-flex-center" uk-margin>

            {% if info.prevUrl %}

                <li><a href="{{ info.prevUrl }}{% if craft.app.request.queryStringWithoutPath|e('html') %}?{{ craft.app.request.queryStringWithoutPath|e('html') }}{% endif %}" class="pag-nav"><span uk-pagination-previous></span></a></li>

            {% endif %}

            {% for page, url in info.getPrevUrls(5) %}

                <li><a href="{{ url }}{% if craft.app.request.queryStringWithoutPath|e('html') %}?{{ craft.app.request.queryStringWithoutPath|e('html') }}{% endif %}">{{ page }}</a></li>

            {% endfor %}

            <li class="uk-disabled"><span>{{ info.currentPage }}</span></li>

            {% for page, url in info.getNextUrls(5) %}

                <li><a href="{{ url }}{% if craft.app.request.queryStringWithoutPath|e('html') %}?{{ craft.app.request.queryStringWithoutPath|e('html') }}{% endif %}">{{ page }}</a></li>

            {% endfor %}

            {% if info.nextUrl %}

                <li><a href="{{ info.nextUrl }}{% if craft.app.request.queryStringWithoutPath|e('html') %}?{{ craft.app.request.queryStringWithoutPath|e('html') }}{% endif %}" class="pag-nav"><span uk-pagination-next></span></a></li>

            {% endif %}

        </ul>

    </div>

{% endif %}