{# Block - Apply Call To Action #}

<section class="section--apply-cta font--increase">

	<div class="uk-container">
	
		{# Copy #}

		{% if block.copy|length %}

			<div class="block--apply-cta--copy" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				{{ block.copy }}
			
			</div>

		{% endif %}

		{# Grants CTA #}

		{% if block.grants|length %}

			{% set grants = block.grants.all() %}

			<div class="grid--apply-cta--grants uk-grid-small" uk-height-match="target: .uk-button--grant" uk-grid>
			
				{% for grant in grants %}

					<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m hide-element grid--block" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">
					
						<div class="block--apply-cta--grants">
						
							<a href="{{ grant.getUrl() }}" class="uk-button--grant uk-button--grant--{{ grant.styling }} uk-flex uk-flex-middle">

								<span class="label {{ cycle(['alpha', 'beta', 'gamma'], loop.index0) }}">{{ grant.title }}</span>

								<span class="icon" uk-icon="icon: chevron-right"></span>

							</a>
						
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>

		{% endif %}

		{# Apply Button #}

		{% if block.button|length %}

			{% set attributes = {
				class: 'uk-button uk-button-dark-grey',
				"uk-icon": 'icon: chevron-right'
            } %}

			<div class="block--apply-cta--button hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 750;">
			
				{{ block.button.link(attributes) }}
			
			</div>

		{% endif %}
	
	</div>

</section>