{# Block - Banner #}

<section class="section--banner font--increase{% if block.backgroundColour|length %} section--banner--{{ block.backgroundColour }}{% endif %}{% if block.clipLines is defined and block.clipLines == 1 %} section--banner--clip-lines{% endif %}">

	{# Lines #}

	<div class="effect--lines">

		{% set styleGreen = "lines--green" %}
		{% set stylePurple = "lines--purple" %}
		{% set styleBlue = "lines--blue" %}

		{% if block.lines is defined and block.lines == "grey" %}

			{% set styleGreen = "lines--normalgrey" %}
			{% set stylePurple = "lines--normalgrey" %}
			{% set styleBlue = "lines--normalgrey" %}

		{% endif %}

		{# Green Lines #}

		{% set vars = {'style': styleGreen, 'totalLines': 16, 'loopLines': '01'} %}

		{% include "_inc/_effects/_lines" with vars %}

		{# Purple Lines #}

		{% set vars = {'style': stylePurple, 'totalLines': 16, 'loopLines': '02'} %}

		{% include "_inc/_effects/_lines" with vars %}

		{# Blue Lines #}

		{% set vars = {'style': styleBlue, 'totalLines': 16, 'loopLines': '03'} %}

		{% include "_inc/_effects/_lines" with vars %}
	
	</div>

	<div class="uk-container">

		{# Back Button #}

		{% if block.addBackButton|length %}

			<div class="block--banner--back-button hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				{% set attributes = {
					class: 'uk-button--back',
					"uk-icon": 'icon: chevron-left'
                } %}

                {{ block.addBackButton.link(attributes) }}
			
			</div>

		{% endif %}

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--banner--heading hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				<h1>{{ block.heading }}</h1>
			
			</div>

		{% endif %}
	
		{# Copy #}

		{% if block.copy|length %}

			{% set wordcount = wordcount(block.copy) %}

			<div class="block--banner--copy {% if wordcount > 30 %} extend-block{% endif %}" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				{{ block.copy }}
			
			</div>

		{% endif %}

		{# Button #}

		{% if block.button|length %}

			{% set attributes = {
				class: 'uk-button',
				"uk-icon": 'icon: chevron-right'
            } %}

			<div class="block--banner--button" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

                {{ block.button.link(attributes) }}
			
			</div>

		{% endif %}
	
	</div>

</section>