{# Block - Call to Actions #}

<section class="section--priority-areas font--increase">

	<div class="uk-container" uk-height-match="target: .block--intro">
	
		{# Heading #}

		{% if block.heading|length %}

			<div class="block--priority-areas--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				<div class="inner--priority-areas--heading">

					<h2>{{ block.heading }}</h2>

				</div>
			
			</div>

		{% endif %}

		{# Copy #}

		{% if block.copy|length %}

			<div class="block--priority-areas--copy hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				<div class="inner--priority-areas--copy">

					<h2>{{ block.copy }}</h2>

				</div>
			
			</div>

		{% endif %}

		{# Priority Areas: Grants #}

		{% if block.callToActions|length %}

			{% set ctas = block.callToActions.all() %}

			<div class="grid--priority-areas--grants uk-grid-small hide--element uk-grid-match uk-flex-center" uk-grid uk-height-match="target: .block--heading" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

				{% set blockWidth = "uk-width-1-1 uk-width-1-3@s" %}

				{% if ctas|length > 3 %}

					{% set blockWidth = "uk-width-1-1 uk-width-1-2@s uk-width-1-4@m" %}

				{% endif %}
			
				{% for cta in ctas %}

					<div class="grid--block {{ blockWidth }}">
					
						<div class="block--grant style--{{ cta.style }}">
					
							<div class="inner--grant">

								{# Heading #}

								{% if cta.heading|length %}

									<div class="block--heading">
									
										<h3>{{ cta.heading }}</h3>
									
									</div>

								{% endif %}

								<div class="block--intro">

									{# Intro #}	

									{% if cta.intro|length %}

										<div class="block--subheading">
										
											<p>{{ cta.intro }}</p>
										
										</div>

									{% endif %}

									{# Copy #}

									{% if cta.copy|length %}
										
										<p>{{ cta.copy }}</p>

									{% endif %}

								</div>

								{# Buttons #}

								{% if cta.buttons|length %}

									<div class="block--buttons uk-flex uk-flex-left">
									
										{% set buttons = cta.buttons.all() %}

										{% for button in buttons %}

											<div class="block--button">

												{% set attributes = {
													class: 'uk-button uk-button-white uk-margin-right',
													"uk-icon": 'icon: chevron-right'
									            } %}
							
												{{ button.button.link(attributes) }}
											
											</div>
											
										{% endfor %}
									
									</div>	

								{% endif %}	
							
							</div>
					
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>

		{% endif %}
	
	</div>

</section>