{# Block - Column Text #}

<section class="section--column-text style--{{ block.backgroundColour }} font--increase">

	{# Lines #}

	{% if block.addLineAnimation == 1 %}

		<div class="effect--lines uk-visible@s">

			{# Green Lines #}

			{% set vars = {'style': 'lines--lightgrey', 'totalLines': 51} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

	{% endif %}

	<div class="uk-container">

		<div class="grid--column-text" uk-grid>
		
			{# Heading #}

			{% if block.heading|length %}

				<div class="uk-width-1-1">

					<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
					
						<div class="inner--column-text--heading">

							<h2>{{ block.heading }}</h2>

						</div>
					
					</div>

				</div>

			{% endif %}
			
			{# Copy #}

			{% if block.intro|length %}

				<div class="uk-width-1-1 {% if block.columnCopy|length %}uk-width-1-3@m{% else %}uk-width-2-3@m{% endif %} hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					{% if block.intro|length %}

						<div class="block--copy"{% if not block.columnCopy|length %} style="max-width: none;"{% endif %}>
						
							{{ block.intro }}
						
						</div>

					{% endif %}
				
				</div>

			{% endif %}
			
			{# Columns #}

			{% if block.columnCopy|length %}

				{% set parentCols = "uk-width-2-3@m" %}

				{% set cols = "uk-column-1-2@s" %}

				{% if block.columns|length %}

					{% set cols = "uk-column-1-" ~ block.columns ~ "@s" %}

					{% if block.columns == "1" or block.columns == "2" %}

						{% set parentCols = "uk-width-1-2@m" %}

					{% endif %}

				{% endif %}

				<div class="uk-width-1-1 {{ parentCols }} hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					<div class="block--copy-cols {{ cols }}">
					
						{{ block.columnCopy }}
					
					</div>

					{# Button #}

					{% if block.button|length %}

						{% set attributes = {
							class: 'uk-button uk-button-' ~ block.backgroundColour,
							"uk-icon": 'icon: chevron-right uk-margin-top'
			            } %}

						<div class="block--apply-cta--button button hide-element uk-margin-top" uk-scrollspy="cls: show-element animated fadeInUp; delay: 750;">
						
							{{ block.button.link(attributes) }}
						
						</div>

					{% endif %}

				</div>

			{% endif %}

			{# Deadlines #}

			{% if block.deadlines|length %}

				<div class="grid--column-text" uk-grid uk-height-match=".block--match">

					{% set deadlinesBlock = block.deadlines.one() %}

					{# Next Application #}

					{% if deadlinesBlock.nextApplication|length %}

						{% set nextApplications = deadlinesBlock.nextApplication.all() %}

						{% for nextApplication in nextApplications %}

							<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

								<div class="block--next-app block--match">

									<div class="inner--next-app">
									
										{% if nextApplication.heading|length %}

											<h3>{{ nextApplication.heading }}</h3>

										{% endif %}

										{% if nextApplication.applicationDate|length %}

											<p>{{ nextApplication.applicationDate }}</p>

										{% endif %}
									
									</div>

								</div>

							</div>
							
						{% endfor %}

					{% endif %}

					{# Deadlines #}

					{% if deadlinesBlock.deadlines|length %}

						{% set deadlines = deadlinesBlock.deadlines.all() %}

						<div class="uk-width-1-1 uk-width-2-3@m hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

							<div class="block--deadlines block--match">
							
								<div class="grid--deadlines uk-grid-small" uk-grid>
								
									{# Heading #}

									{% if deadlinesBlock.deadlinesHeading|length %}

										<div class="block--deadlines--heading uk-width-1-1">
										
											<h3>{{ deadlinesBlock.deadlinesHeading }}</h3>
										
										</div>

									{% endif %}

									{% for deadline in deadlines %}

										<div class="block--deadline uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
										
											{% if deadline.deadlineDate|length %}

												<h4>{{ deadline.deadlineDate }}</h4>

											{% endif %}

											{% if deadline.label|length %}

												<p>{{ deadline.label }}</p>

											{% endif %}
										
										</div>
										
									{% endfor %}
								
								</div>
							
							</div>

						</div>

					{% endif %}

				</div>

			{% endif %}
		
		</div>
	
	</div>

</section>