{# Block - FAQs #}

<section class="section--faqs section--plain-text font--increase">

	<div class="uk-container">

		<div class="block--plain-text hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
			{# Heading #}
	
			{% if block.heading|length %}

				<div class="block--heading">
				
					<h2>{{ block.heading }}</h2>
				
				</div>

			{% endif %}

			{# Loop #}

			{% if block.faqs|length %}

				<div class="block--faqs">
				
					{% set faqs = block.faqs.all() %}

					<ul uk-accordion="multiple: true;">

						{% for faq in faqs %}

						    <li>
						
						        <a class="uk-accordion-title" href="#">

						        	{{ faq.question }}

						        	<span class="faq-arrow--up" uk-icon="icon: triangle-up; ratio: 2;"></span>
						        	<span class="faq-arrow--down" uk-icon="icon: triangle-down; ratio: 2;"></span>

						        </a>
						
						        <div class="uk-accordion-content">
						
						            {{ faq.answer }}
						
						        </div>
						        
						    </li>

						{% endfor %}

					</ul>
				
				</div>

			{% endif %}
		
		</div>	
	
	</div>

</section>