{# Block - Funding Programmes #}

<section class="section--funding-programmes font--increase">

	{# Lines #}

	<div class="effect--lines uk-visible@s">

		{# Lines #}

		{% set vars = {'style': 'lines--grey', 'totalLines': 51} %}

		{% include "_inc/_effects/_lines" with vars %}
	
	</div>

	<div class="uk-container">

		<div class="grid--funding-programmes" uk-grid>
		
			{# Heading #}

			{% if block.heading|length %}

				<div class="uk-width-1-1">

					<div class="block--funding-programmes--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
					
						<div class="inner--funding-programmes--heading">

							<h2>{{ block.heading }}</h2>

						</div>
					
					</div>

				</div>

			{% endif %}

			{# Subheading #}

			{% if block.subheading|length %}

				<div class="block--funding-programmes--subheading hide--element uk-visible@s" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
				
					<div class="inner--funding-programmes--subheading">

						{{ block.subheading }}

					</div>
				
				</div>

			{% endif %}
			
			{# Copy #}

			{% if block.copy|length or block.button|length %}

				<div class="uk-width-1-2 uk-width-1-4@l hide-element block--funding-programmes--positional" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					{% if block.copy|length %}

						<div class="block--copy uk-visible@s">
						
							{{ block.copy }}
						
						</div>

					{% endif %}

					{% if block.button|length %}

						{# {% set attributes = {
							class: 'uk-button',
							"uk-icon": 'icon: chevron-right'
	                    } %}

	                    {{ block.button.link(attributes) }} #}
						
						<div class="block--button">

							<a href="{{ block.button.url }}" class="uk-button" uk-icon="chevron-right"><span>More information</span></a>
						
						</div>

					{% endif %}
				
				</div>

			{% endif %}
			
			{# Programmes #}

			{% if block.programmes|length %}

				{% set programmes = block.programmes.all() %}

				<div class="uk-width-1-2 uk-width-3-4@l uk-visible@s">

					<div class="grid--programmes" uk-grid>

						{% for programme in programmes %}
							
							<div class="uk-width-1-1 uk-width-1-3@l hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
							
								<div class="block--programme">
								
									{% if programme.heading|length %}

										<div class="programme--heading">
										
											<h3>{{ programme.heading }}</h3>

											{% if programme.subheading|length %}

												<h4>{{ programme.subheading }}</h4>

											{% endif %}
										
										</div>

									{% endif %}

									{% if programme.copy|length %}

										<div class="programme--copy uk-visible@l">
										
											<p>{{ programme.copy }}</p>
										
										</div>

									{% endif %}
								
								</div>
							
							</div>

						{% endfor %}
					
					</div>

				</div>

			{% endif %}
		
		</div>
	
	</div>

</section>