{# Block - Grants Awarded #}

{% set related = null %}

{% set filterPriority = null %}
{% set filterProgramme = null %}
{% set filterYear = null %}
{% set searchDate = null %}
{% set sortBy = 'awardDate desc' %}
{% set filterSortBy = 'title' %}

{% set searchProg = null %}

{% set yearStart = now|date_modify("-3 years")|atom %}
{% set yearEnd = now|atom %}
{# {% set yearStart = "2017-01-01"|atom %} #}
{# {% set yearEnd = "2019-12-31"|atom %} #}

{% set searchDate = ['and', ">= #{yearStart}", "< #{yearEnd}"] %}
{% set searchDateAll = ['and', ">= #{yearStart}", "< #{yearEnd}"] %}

{% if craft.app.request.getParam('priority') is defined and craft.app.request.getParam('priority')|length %}

    {% set entryPriority = craft.entries()
        .slug(craft.app.request.getParam('priority'))
        .one()
    %}

    {% if related == null %}

        {% set related = entryPriority %}

    {% else %}
        
        {% set related = related|merge([entryPriority]) %}

    {% endif %}

    {% set filterPriority = entryPriority.slug %}

{% endif %}

{% if craft.app.request.getParam('programme') is defined and craft.app.request.getParam('programme')|length %}

    {% set searchProg = [craft.app.request.getParam('programme')] %}

    {% set filterProgramme = craft.app.request.getParam('programme') %}

{% endif %}

{% if craft.app.request.getParam('year-awarded') is defined and craft.app.request.getParam('year-awarded')|length %}

    {% set filterYear = craft.app.request.getParam('year-awarded') %}

    {% set year = craft.app.request.getParam('year-awarded') %}

	{% set yearStart = "#{year}-01-01"|atom %}
	{% set yearEnd = "#{year}-12-31"|atom %}

	{% set searchDate = ['and', ">= #{yearStart}", "< #{yearEnd}"] %}

{% endif %}

{% if craft.app.request.getParam('sort-by') is defined and craft.app.request.getParam('sort-by')|length %}

	{% set filterSortBy = craft.app.request.getParam('sort-by') %}

	{% if filterSortBy == 'title' %}

		{% set sortBy = 'recipientOrganisation asc' %}

	{% elseif filterSortBy == 'amount-awarded' %}
		
		{% set sortBy = 'amountAwarded DESC' %}

	{% endif %}

{% endif %}

{% if craft.app.request.queryStringWithoutPath|e('html')|length %}

	{% js %}
		
		UIkit.scroll().scrollTo('#search');

	{% endjs %}

{% endif %}

{% if block.showList == 1 %}

	<form action="{{ craft.app.request.absoluteUrl }}" id="search">

		<section class="section--grants-awarded-list font--increase">
		
			<div class="uk-container">
			
				{# Intro #}

				{% if block.intro|length %}

					<div class="block--intro">
					
						{{ block.intro }}
					
					</div>

				{% endif %}

				{# Grants Awarded List #}

				{% set myGrantsQuery = craft.entries()
				    .section('grantsAwarded')
				    .limit(30)
				    .awardDate(searchDate)
    				.relatedTo(related)
    				.orderBy(sortBy)
    				.grantProgrammeCode(searchProg)
				%}

				{% set myGrantsQueryAll = craft.entries()
				    .section('grantsAwarded')
				    .awardDate(searchDateAll)
				%}

				{% set grantsAll = myGrantsQueryAll.all() %}

				{% paginate myGrantsQuery as pageInfo, grants %}

				{% set prioritiesQuery = craft.entries()
				    .section('grants')
				    .orderBy('postDate')
				%}

				{% set priorities = prioritiesQuery.all() %}

				{# Years #}

				{% set years = [] %}

				{% for grant in grantsAll %}

					{% if grant.awardDate|length %}

						{% set year = grant.awardDate|date('Y') %}

				        {% if year not in years %}

				            {% set years = years|merge([year]) %}

				        {% endif %}

				    {% endif %}
					
				{% endfor %}

				{# Filters #}

				<div class="block--filters">

					<div class="grid--filters uk-grid-small" uk-grid>
					
						{# Filter: Priority #}

						{% if priorities|length %}

							<div class="uk-width-1-1 uk-width-1-3@m">
							
								<div class="filter--priority filter">

									<label for="filter--priority">Priority</label>

									<div class="select--outer">
								
										<select name="priority" id="filter--priority" class="uk-select">

											<option value="">All</option>

											{% for priority in priorities %}

												<option value="{{ priority.slug }}"{% if filterPriority == priority.slug %} selected{% endif %}>{{ priority.title }}</option>
												
											{% endfor %}

										</select>

									</div>
								
								</div>
							
							</div>

						{% endif %}

						{# Filter: Programme #}

						<div class="uk-width-1-1 uk-width-1-3@m">
						
							<div class="filter--programme filter">

								<label for="filter--programme">Programme</label>

								<div class="select--outer">
							
									<select name="programme" id="filter--programme" class="uk-select">

										<option value="">All</option> 

										<option value="Open Programme"{% if filterProgramme == "Open Programme" %} selected{% endif %}>Open Programme</option>

										<option value="Special Initiatives"{% if filterProgramme == "Special Initiatives" %} selected{% endif %}>Special Initiatives</option>

										<option value="Anchor"{% if filterProgramme == "Anchor" %} selected{% endif %}>Anchor</option>

									</select>

								</div>
							
							</div>
							
							</div>
								
						{# Filter: Year awarded #}

						{% if years|length %}

							<div class="uk-width-1-1 uk-width-1-3@m">
							
								<div class="filter--year-awarded filter">

									<label for="filter--year-awarded">Year awarded</label>

									<div class="select--outer">
									
										<select name="year-awarded" id="filter--year-awarded" class="uk-select">

											<option value="">All</option>

											{% for key, year in years|sort|reverse %}

												<option value="{{ year }}"{% if filterYear == year %} selected{% endif %}>{{ year }}</option>
												
											{% endfor %}

										</select>
									
									</div>
							
								</div>
							
							</div>

						{% endif %}
							
						{# Controls #}

						<div class="uk-width-1-1">
						
							<div class="block--controls">
							
								<button type="submit" class="uk-button">Search grants</button>

								<a href="{{ url( craft.app.request.getSegment(1) ~ '/' ~ craft.app.request.getSegment(2)) }}" class="uk-button">Clear</a>
							
							</div>
						
						</div>
					
					</div>
				
				</div>

				{# Results / Sort By #}

				<div class="block--results-sort-by">
				
					<div class="grid--results-sort-by uk-grid-small" uk-grid>

						{# Displaying Results #}
					
						<div class="uk-width-1-1 uk-width-1-2@s">
						
							<div class="block--results">

								{% if pageInfo.total == 0 %}

									<p>There are no results that match your criteria.</p>

								{% else %}
									
									<p>Displaying {{ pageInfo.total }} result{% if pageInfo.total > 1 %}s{% endif %}</p>

								{% endif %}
							
							</div>
						
						</div>

						{# Sort by #}

						{% js %}
						
							$('#filter--sort-by').change(function() {

								$('#search').submit();
								
							});

						{% endjs %}

						<div class="uk-width-1-1 uk-width-1-2@s">
						
							<div class="block--sort-by">
							
								<label for="filter--sort-by">Sort by:</label>

								<div class="select--outer">
								
									<select name="sort-by" id="filter--sort-by" class="uk-select">

										<option value="title"{% if filterSortBy == "title" %} selected{% endif %}>A-Z</option>

										<option value="date"{% if filterSortBy == "date" %} selected{% endif %}>Date</option>

										<option value="amount-awarded"{% if filterSortBy == "amount-awarded" %} selected{% endif %}>Amount Awarded</option>

									</select>
								
								</div>
							
							</div>
						
						</div>
					
					</div>
				
				</div>

				{# Results Desktop #}

				<div class="block--grants-results uk-visible@m">
				
					<div class="grid--results--headings uk-child-width-expand uk-margin-remove-top uk-margin-medium-bottom uk-grid-small" uk-grid>
					
						<div class="block--heading uk-width-1-4 uk-flex uk-flex-bottom">
						
							<h4>Recipient organisation</h4>
						
						</div>

						<div class="block--heading uk-width-1-4 uk-flex uk-flex-bottom block--heading--description">
						
							<h4>Description</h4>
						
						</div>

						<div class="block--heading uk-width-1-5 uk-flex uk-flex-bottom block--heading--programme">
						
							<h4>Programme</h4>
						
						</div>

						<div class="block--heading uk-width-1-5 uk-flex uk-flex-bottom block--heading--priority-area">
						
							<h4>Priority area</h4>
						
						</div>

						<div class="block--heading uk-width-1-6 uk-flex uk-flex-bottom block--heading--award-date">
						
							<h4>Award date</h4>
						
						</div>

						<div class="block--heading uk-width-1-6 uk-flex uk-flex-bottom uk-text-right block--heading--amount-awarded">
						
							<h4>Amount awarded</h4>
						
						</div>
					
					</div>

					{% for grant in grants %}

						{% set grantTitle = "" %}
						{% set priorityArea = "" %}

						{% if grant.grantProgrammeTitle|length %}

							{% set programme = grant.grantProgrammeTitle.one() %}

							{% set grantTitle = programme.shortTitle %}
							{% set priorityArea = programme.title %}

						{% endif %}

						<div class="grid--results--body uk-margin-remove-top uk-margin-medium-bottom uk-grid-small" uk-grid>
					
							<div class="block--body uk-width-1-4">

								<span>{{ grant.recipientOrganisation }}</span><br>

								{% if grant.recipientOrg|length %}

									{% set recipientOrg = grant.recipientOrg.one() %}

									{% if recipientOrg.webAddress|length %}

										<span class="website"><a href="{{ recipientOrg.webAddress }}" target="_blank">{{ recipientOrg.webAddress }}</a></span>

									{% endif %}

								{% endif %}

							</div>

							<div class="block--body block--body--desc uk-width-1-4 block--body--description">

								{% if grant.description|length %}

									{% set description = '<span>' ~ grant.description ~ '</span>' %}

									{% if grant.description|wordcount > 40 %}

										{% set description = '<span uk-tooltip="title: ' ~ grant.description ~ '; pos: right;">' ~ grant.description|chop(limit=40, unit='w') ~ '...<em class="uk-text-small">(hover for more)</em></span>' %}

									{% endif %}

									{{ description|raw }}

								{% endif %}

							</div>

							<div class="block--body uk-width-1-5 block--body--programme">

								<span>{{ grant.grantProgrammeCode }}</span>

							</div>

							<div class="block--body uk-width-1-5 block--body--priority-area">

								<span>{{ priorityArea }}</span>

							</div>

							<div class="block--body uk-width-1-6 block--body--award-date">

								<span>{{ grant.awardDate|date('d-m-Y') }}</span>

							</div>

							<div class="block--body uk-width-1-6 uk-text-right block--body--amount-awarded">

								{% set currency = 'GBP' %}

								{% if grant.currency|length %}

									{% set currency = grant.currency %}

								{% endif %}

								<span>{{ grant.amountAwarded|currency(currency, stripZeros=true) }}</span>

							</div>

						</div>
						
					{% endfor %}
				
				</div>

				{# Mobile Mobile #}

				<div class="block--grants-results-m uk-hidden@m">
				
					{% for grant in grants %}

						{% set grantTitle = "" %}
						{% set priorityArea = "" %}

						{% if grant.grantProgrammeTitle|length %}

							{% set programme = grant.grantProgrammeTitle.one() %}

							{% set grantTitle = programme.shortTitle %}
							{% set priorityArea = programme.title %}

						{% endif %}

						<div class="block--result-m">
						
							<h4><a href="#inner--result-m--{{ loop.index }}" uk-toggle="animation: uk-animation-fade;">{{ grant.recipientOrganisation }}</a></h4>

							<div class="inner--result-m" id="inner--result-m--{{ loop.index }}" hidden>

								<button type="button" class="close" uk-close uk-toggle="target: #inner--result-m--{{ loop.index }}; animation: uk-animation-fade"></button>

								{# {% if grant.description|length %}
								
									{% set description = '<span>' ~ grant.description ~ '</span>' %}

									{% if grant.description|wordcount > 15 %}

										{% set description = '<span uk-tooltip="title: ' ~ grant.description ~ '; pos: bottom;">' ~ grant.description|chop(limit=15, unit='w') ~ '...<em class="uk-text-small">(hover for more)</em></span>' %}

									{% endif %}

									<p><strong>Description:</strong> <br>{{ description|raw }}</p>

								{% endif %} #}

								{% if grant.recipientOrg|length %}

									{% set recipientOrg = grant.recipientOrg.one() %}

									{% if recipientOrg.webAddress|length %}

										<p><a href="{{ recipientOrg.webAddress }}" target="_blank">{{ recipientOrg.webAddress }}</a></p>

									{% endif %}

								{% endif %}

								{% if grant.description|length %}

									<p><strong>Description:</strong> <br>{{ grant.description }}</p>

								{% endif %}
								
								<p><strong>Grant:</strong> <br>{{ grantTitle }}</p>

								<p><strong>Priority area:</strong> <br>{{ priorityArea }}</p>

								<p><strong>Award date: </strong>{{ grant.awardDate|date('d-m-Y') }}</p>

								{% set currency = 'GBP' %}

								{% if grant.currency|length %}

									{% set currency = grant.currency %}

								{% endif %}

								<p><strong>Amount awarded: </strong>{{ grant.amountAwarded|currency(currency, stripZeros=true) }}</p>
							
							</div>
						
						</div>
						
					{% endfor %}
				
				</div>

				{# Pagination #}

				{% if pageInfo.total > 0 %}

					<div class="block--pagination">

						<ul class="uk-pagination uk-flex uk-flex-center" uk-margin>

							{% if pageInfo.prevUrl %}

								<li><a href="{{ pageInfo.prevUrl }}"><span uk-pagination-previous></span></a></li>

							{% endif %}

							{% for page, url in pageInfo.getPrevUrls(3) %}

								{% if loop.first and pageInfo.currentPage > 4 %}

									<li><a href="{{ pageInfo.firstUrl }}">1</a></li>

									<li class="uk-disabled"><span>...</span></li>

								{% endif %}

							    <li><a href="{{ url }}">{{ page }}</a></li>

							{% endfor %}

							<li class="uk-active">{{ pageInfo.currentPage }}</li>

							{% for page, url in pageInfo.getNextUrls(3) %}

							    <li><a href="{{ url }}">{{ page }}</a></li>

							{% endfor %}

							{% if pageInfo.nextUrl %}

								<li><a href="{{ pageInfo.nextUrl }}"><span uk-pagination-next></span></a></li>

							{% endif %}

						</ul>
						
						{# <a href="{{ pageInfo.lastUrl }}">Last Page</a> #}
					
					</div>

				{% endif %}
			
			</div>
		
		</section>

	</form>

{% endif %}