{# Block - Intro CTA #}

<section class="section--intro-cta font--increase{% if block.style|length %} bg--{{ block.style }}{% endif %}">

	{% if block.style|length and block.style == "darkGrey" %}

		{# Lines #}

		<div class="effect--lines uk-visible@s">

			{% set vars = {'style': 'lines--grey', 'totalLines': 51} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

	{% endif %}

	<div class="uk-container">

		<div class="grid--intro-cta uk-flex-center" uk-height-match="target: .block--copy" uk-grid>

			{# Heading #}

			{% if block.heading|length %}

				<div class="block--heading uk-width-1-1 hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
				
					<div class="inner--heading">
					
						<h2>{{ block.heading }}</h2>
					
					</div>
				
				</div>

			{% endif %}

			{# Columns #}

			{% if block.columns|length %}

				{% set columns = block.columns.all() %}
			
				{% for column in columns %}

					<div class="block--intro-cta uk-width-1-1 uk-width-1-2@m hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

						{% if column.copy|length or column.heading|length %}

							<div class="block--copy">

								{# Heading #}

								{% if column.heading|length %}
								
									<h2>{{ column.heading }}</h2>

								{% endif %}

								{# Copy #}
							
								{{ column.copy }}
								
							</div>

						{% endif %}

						{# Button #}

						{% if column.button|length %}

							{% set buttonClass = "uk-button uk-button-dark-grey" %}

							{% if block.style|length and block.style == "darkGrey" %}

								{% set buttonClass = "uk-button uk-button-white" %}

							{% endif %}

							<div class="block--button">
							
								{% set attributes = {
									class: buttonClass,
									"uk-icon": 'icon: chevron-right'
					            } %}
			
								{{ column.button.link(attributes) }}
							
							</div>

						{% endif %}
					
					</div>
					
				{% endfor %}

			{% endif %}
			
		</div>
		
	</div>

</section>