{# Block - Plain Text #}

{% if block.copy|length %}

	<section class="section--plain-text font--increase">

		<div class="uk-container">
		
			<div class="block--plain-text hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				{{ block.copy }}
			
			</div>
		
		</div>

	</section>

{% endif %}