{# Block - Prior Funding #}

<section class="section--grants-awarded font--increase{% if block.style is defined and block.style == 'grey' %} bg--grey{% endif %}">

	<div class="uk-container">

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

				<h2>{{ block.heading }}</h2>

			</div>

		{% endif %}

		{# Grants #}

		{% if block.grants|length %}

			{% set grants = block.grants.all() %}
			{% set fundingBlocks = "" %}

			{% for grant in grants %}

				{% set fundingBlocks %}

					{{ fundingBlocks }}

					{% set grantTitle = "Grant Title" %}
					{% set grantSlug = "grant-slug" %}

					{% set grantTitle = grant.title %}
					{% set grantSlug = grant.slug %}

					{% if grant.grantData|length %}

						{% set grantData = grant.grantData.one() %}

						{% set heightTotal = "300" %}

						{% set dataHeading = "" %}

						{% if grantData.total|length %}

							{% set dataTotal = grantData.total|replace({'£': '', ',': ''}) %}

							{% set dataHeading %}

								<h3>£<span data-count="{{ dataTotal }}" class="stat--amount">0</span></h3>

							{% endset %}

							{# {% set heightTotal = ((dataTotal / 2) / 1000)|number_format(0) %} #}

							{% set heightTotal = ((dataTotal / 2) / 1000) %}

						{% endif %}

						{% css %}

							.section--grants-awarded .awarded-el .diagram #diagram-size--outer-{{ loop.index }}.uk-active .diagram-size {
								height: {{ heightTotal }}px;
							}

							.section--grants-awarded #grid--block--{{ loop.index }} {
								min-height: {{ heightTotal + 120 }}px;
							}

							@media only screen and (min-width: 480px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 130 }}px;
								}

							}

							@media only screen and (min-width: 640px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 140 }}px;
								}

							}

							@media only screen and (min-width: 768px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 150 }}px;
								}

							}

							@media only screen and (min-width: 960px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 380 }}px;
								}

							}

							@media only screen and (min-width: 1200px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 426 }}px;
								}

							}

							@media only screen and (min-width: 1400px) {

								.section--grants-awarded #grid--block--{{ loop.index }} {
									min-height: {{ heightTotal + 436 }}px;
								}

							} 
							
						{% endcss %}

						<div class="grid--block uk-flex uk-flex-bottom" id="grid--block--{{ loop.index }}">

							<div class="awarded-el {{ cycle(['green', 'purple', 'blue', 'red'], loop.index0) }} {{ grantSlug }}">

								<div class="top-description">

									<p>{{ grantTitle }}</p>

									{{ dataHeading }}

								</div>

								<div class="diagram">
									
									<div class="diagram-size--outer" id="diagram-size--outer-{{ loop.index }}" {# style="height: {{ dataTotal }}px;" #} uk-scrollspy="cls: uk-active; delay: 250;">
									
										<div class="diagram-size">

											<div class="diagram-lines"></div>

										</div>
									
									</div>

									<div class="diagram-info-wrapper hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

										<div class="diagram-info">

											<div uk-grid class="uk-grid-collapse">

												{# Open programme #}

												{% if grantData.openProgramme|length %}

													<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>{{ grantData.openProgramme }}</p></div>

												{% endif %}

												{# Grants awarded #}

												{% if grantData.grantsAwarded|length %}

													<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>{{ grantData.grantsAwarded }}</p></div>

												{% endif %}

												{# Eligible applications #}

												{% if grantData.eligibleApplications|length %}

													<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>{{ grantData.eligibleApplications }}</p></div>

												{% endif %}

												{# Total applications #}

												{% if grantData.totalApplications|length %}

													<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>{{ grantData.totalApplications }}</p></div>

												{% endif %}

											</div>

										</div>

										{# Special initiatives #}

										{% if grantData.specialInitiatives|length %}

											<div class="diagram-info">

												<div uk-grid class="uk-grid-collapse">

													<div class="uk-width-3-5"><p><strong>Special initiatives</strong></p></div><div class="uk-width-2-5"><p><strong>{{ grantData.specialInitiatives }}</strong></p></div>

												</div>

											</div>

										{% endif %}

										{# Anchor programme #}

										{% if grantData.anchorProgramme|length %}

											<div class="diagram-info">

												<div uk-grid class="uk-grid-collapse">

													<div class="uk-width-3-5"><p><strong>Anchor programme</strong></p></div><div class="uk-width-2-5"><p><strong>{{ grantData.anchorProgramme }}</strong></p></div>

												</div>

											</div>

										{% endif %}

									</div>	

								</div>

							</div>

						</div>

					{% endif %}

				{% endset %}
				
			{% endfor %}

			<div class="awarded-list" id="awarded-list">

				<div uk-grid class="uk-child-width-1-2 uk-child-width-1-4@s uk-flex-bottom uk-grid-small grid--awarded-list">

					{{ fundingBlocks }}

				</div>

			</div>

			<div class="awarded-slider uk-hidden@m">
			
				<div uk-slideshow>

				    <div class="uk-slideshow-items">

				    	{{ fundingBlocks|replace({'diagram-size--outer' : 'diagram-size--outer uk-visible@m', 'uk-flex uk-flex-bottom' : ''})|raw }}

				    </div>

				    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>

				</div>

			</div>

		{% endif %}

		{# Outro #}

		{% if block.outro|length %}

			{% set outro = block.outro.one() %}

			{% set outroLayout = "uk-flex uk-flex-left" %}
			{% set outroAlign = "uk-text-left" %}

			{% if outro.layout == "center" %}

				{% set outroLayout = "uk-flex uk-flex-center" %}
				{% set outroAlign = "uk-text-center" %}

			{% endif %}

			<div class="block--outro {{ outroLayout }} hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				<div class="intro--outro {{ outroAlign }}">
				
					{{ outro.copy }}

					{% if outro.button|length %}

						{% set attributes = {
							class: 'uk-button uk-button-dark-grey',
							"uk-icon": 'icon: chevron-right'
			            } %}

						<div class="block--button">
						
							{{ outro.button.link(attributes) }}
						
						</div>

					{% endif %}
				
				</div>
			
			</div>

		{% endif %}

		{# Funding Totals #}

		{% if block.fundingTotalHeading|length or block.fundingTotal or block.planHeading|length or block.planTotal|length %}

			<div class="block--awarded-details hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

				<div class="grid--funding-totals uk-grid-collapse" uk-grid>

					{# Funding Total #}

					{% if block.fundingTotalHeading|length or block.fundingTotal %}

						<div class="uk-width-1-1 uk-width-1-2@s block--funding-totals">
						
							<div class="inner--funding-totals">
							
								{% if block.fundingTotalHeading|length %}

									<h4>{{ block.fundingTotalHeading }}</h4>

								{% endif %}

								{% if block.fundingTotal|length %}

									<p>{{ block.fundingTotal }}</p>

								{% endif %}
							
							</div>
						
						</div>

					{% endif %}

					{# Plan to Give #}

					{% if block.planHeading|length or block.planTotal|length %}
					
						<div class="uk-width-1-1 uk-width-1-2@s block--plan-give">
						
							<div class="inner--plan-give">
							
								{% if block.planHeading|length %}

									<h4>{{ block.planHeading }}</h4>

								{% endif %}

								{% if block.planTotal|length %}

									<p>{{ block.planTotal }}</p>

								{% endif %}
							
							</div>
						
						</div>

					{% endif %}
				
				</div>

				{# <p>For details of the grants awarded to each charity, see our grants awarded page</p>
				
				<a href="#">Grants awarded</a> #}

			</div>

		{% endif %}

	</div>

</section>

{# JavaScript #}

{% js %}

    UIkit.util.on('#awarded-list', 'inview', function () {

        $('#awarded-list .stat--amount').each(function() {

            var $this = $(this),
            countTo = $this.attr('data-count');

            $({ countNum: $this.text()}).animate({
                countNum: countTo
            },

                {
                    duration: 1500,
                    easing:'linear',
                    step: function() {
                    $this.text(commaSeparateNumber(Math.floor(this.countNum)));
                },
                    complete: function() {
                    $this.text(commaSeparateNumber(this.countNum));
                }

            });

        });

    });

	function commaSeparateNumber(val) {

		while (/(\d+)(\d{3})/.test(val.toString())) {

			val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');

		}

		return val;

	}

{% endjs %}