{# Block - Priority Area #}

<section class="section--priority-areas font--increase{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">

	<div class="uk-container" uk-height-match="target: .block--intro">
	
		{# Heading #}

		{% if block.heading|length %}

			<div class="block--priority-areas--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				<div class="inner--priority-areas--heading">

					{# <h2>{{ block.heading }}</h2> #}

					{{ block.heading }}

				</div>
			
			</div>

		{% endif %}

		{# Priority Areas: Grants #}

		{% if block.grantsList|length %}

			{# {% set grants = block.grants.all() %} #}

			{% set grants = block.grantsList.all() %}

			<div class="grid--priority-areas--grants uk-grid-small hide--element" uk-grid uk-height-match="target: .block--heading" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">
			
				{% for grantItem in grants %}

					{% set grant = grantItem.grant.one() %}

					<div class="grid--block uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
					
						<div class="block--grant style--{{ grant.styling }}{% if block.normalOrShort is defined %} type--{{ block.normalOrShort }}{% endif %}">
					
							<div class="inner--grant">

								<div class="block--heading">
								
									<h3>{{ grant.title }}</h3>
								
								</div>

								{% if grant.intro|length and block.normalOrShort != "short" %}

									<div class="block--intro uk-visible@s">
									
										{{ grant.intro }}
									
									</div>

								{% endif %}

								<div class="block--button block--button-priority-areas">

									{% set buttonLabel = grantItem.buttonLabel|default("More information") %}

									{% set buttonLink = grant.getUrl() %}

									{% if block.linkToApplyPage == 1 %}

										{% set buttonLink = grant.getUrl() ~ "/apply" %}

									{% endif %}
								
									<a href="{{ buttonLink }}" class="uk-button" uk-icon="chevron-right"><span>{{ buttonLabel }}</span></a>
								
								</div>
							
							</div>
					
						</div>
					
					</div>
					
				{% endfor %}
			
			</div>

		{% endif %}
	
	</div>

</section>