{# Block - Quote #}

<section class="section--quote font--increase">

	<div class="uk-container">

		{# Copy/Quote #}
	
		{% if block.copy|length %}

			<div class="block--quote hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

				<blockquote>&ldquo;{{ block.copy|raw }}&rdquo;</blockquote>

				{% if block.author|length %}

					<p>{{ block.author }}</p>

				{% endif %}
						
			</div>

		{% endif %}
	
	</div>

</section>