{# Block - Reporting #}

{# Block - Column Text #}

<section class="section--column-text style--{{ block.backgroundColour }} section--column-text--reporting font--increase">

	{# Lines #}

	{% if block.addLineAnimation == 1 %}

		<div class="effect--lines uk-visible@s">

			{# Green Lines #}

			{% set vars = {'style': 'lines--lightgrey', 'totalLines': 51} %}

			{% include "_inc/_effects/_lines" with vars %}
		
		</div>

	{% endif %}

	<div class="uk-container">

		<div class="grid--column-text" uk-grid>
		
			{# Heading #}

			{% if block.heading|length %}

				<div class="uk-width-1-1">

					<div class="block--column-text--heading hide--element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
					
						<div class="inner--column-text--heading">

							<h2>{{ block.heading }}</h2>

						</div>
					
					</div>

				</div>

			{% endif %}
			
			{# Copy #}

			{% if block.subheading|length %}

				<div class="uk-width-1-1 hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					{% if block.subheading|length %}

						<div class="block--copy">
						
							{{ block.subheading }}
						
						</div>

					{% endif %}
				
				</div>

			{% endif %}
			
			{# Columns #}

			{% if block.columns|length %}

				{% set columns = block.columns.all() %}

				{% for column in columns %}

					<div class="uk-width-1-1 uk-width-1-3@m hide--element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

						<div class="block--copy-cols style--{{ column.background }}">
						
							{{ column.copy }}
						
						</div>

					</div>
					
				{% endfor %}

			{% endif %}
		
		</div>
	
	</div>

</section>