{# Block - Staff & Trustees #}

<section class="section--staff font--increase">

	<div class="uk-container">

		{# Featured #}

		{% if block.featuredStaff|length %}

			{% set person = block.featuredStaff.one() %}

			<div class="grid--staff hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				<div class="grid--block">
				
					<div class="block--staff" uk-grid>
					
						{# Image #}

						{% if person.img|length %}

							<div class="staff--img uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
							
								{% set asset = person.img.one() %}
								
								<img src="{{ asset.getUrl() }}" alt="{{ person.title }}">
								
							</div>

						{% endif %}

						<div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m">

							{# Headings #}

							<div class="staff--headings">
							
								<h3>{{ person.title }}</h3>

								{% if person.role|length %}

									<h4>{{ person.role }}</h4>

								{% endif %}

								{% if person.staffCopy|length %}
									<p style="max-width: 600px; margin-top: 20px;">{{ person.staffCopy|chop(50, 'w') }}.</p>
								{% endif %}
							
							</div>

							{# Read More & Copy #}

							{% if person.staffCopy|length %}

								<div class="staff--read-more">
								
									<a href="#modal--staff--{{ person.slug }}" uk-toggle>Read more</a>
								
								</div>

								<div id="modal--staff--{{ person.slug }}" class="modal--staff" uk-modal>

								    <div class="uk-modal-dialog uk-modal-body">

								    	<button class="uk-modal-close-default" type="button" uk-close></button>

								    	{# Image #}

								    	{% if person.img|length %}

								    		<div class="modal--img">
								    		
								    			{% set asset = person.img.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ person.title }}">
								    		
								    		</div>

										{% endif %}

										{# Headings #}

										<div class="modal--heading">

									        <h3>{{ person.title }}</h3>

									        {% if person.role|length %}

												<h4>{{ person.role }}</h4>

											{% endif %}

										</div>

										{# Copy #}

										<div class="modal--copy">
										
											{{ person.staffCopy }}
										
										</div>

								    </div>

								</div>

							{% endif %}

						</div>
					
					</div>
				
				</div>
			
			</div>

			<div class="uk-padding"></div>

		{% endif %}

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}

		{# Copy #}

		{% if block.copy|length %}

			<div class="block--heading hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				{{ block.copy }}
			
			</div>

		{% endif %}

		{# Staff/Trustees List #}

		{% if block.staffTrustees|length %}

			{% set people = block.staffTrustees.all() %}

			<div class="grid--staff" uk-grid>

				{% for person in people %}

					<div class="grid--block uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					
						<div class="block--staff hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
						
							{# Image #}

							{% if person.img|length %}

								<div class="staff--img">
								
									{% set asset = person.img.one() %}
									
									<img src="{{ asset.getUrl() }}" alt="{{ person.title }}">
									
								</div>

							{% endif %}

							{# Headings #}

							<div class="staff--headings">
							
								<h3>{{ person.title }}</h3>

								{% if person.role|length %}

									<h4>{{ person.role }}</h4>

								{% endif %}
							
							</div>

							{# Read More & Copy #}

							{% if person.staffCopy|length %}

								<div class="staff--read-more">
								
									<a href="#modal--staff--{{ person.slug }}" {# uk-icon="icon: chevron-down;"  #}uk-toggle>Read more</a>
								
								</div>

								<div id="modal--staff--{{ person.slug }}" class="modal--staff" uk-modal>

								    <div class="uk-modal-dialog uk-modal-body">

								    	<button class="uk-modal-close-default" type="button" uk-close></button>

								    	{# Image #}

								    	{% if person.img|length %}

								    		<div class="modal--img">
								    		
								    			{% set asset = person.img.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ person.title }}">
								    		
								    		</div>

										{% endif %}

										{# Headings #}

										<div class="modal--heading">

									        <h3>{{ person.title }}</h3>

									        {% if person.role|length %}

												<h4>{{ person.role }}</h4>

											{% endif %}

										</div>

										{# Copy #}

										<div class="modal--copy">
										
											{{ person.staffCopy }}
										
										</div>

								    </div>

								</div>

							{% endif %}	
						
						</div>
					
					</div>
					
				{% endfor %}

			</div>

		{% endif %}

	</div>

</section>