{# Block - Statistics #}

<section class="section--statistics font--increase">

	<div class="uk-container">

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}

	</div>

	{# Stats #}

	{% if block.stats|length %}

		{% set stats = block.stats.all() %}

		<div class="block--stats">

			<div class="uk-container">

				<div class="grid--stats uk-grid-collapse" uk-grid uk-height-match=".outer--stat">

					{% for stat in stats %}

						{% set statClass = "uk-width-1-1 uk-width-1-4@m" %}

						{% if stat.size is defined and stat.size == "large" %}

							{% set statClass = "uk-width-1-1 uk-width-1-2@m" %}

						{% endif %}

						{% if stat.stat|length %}

							<div class="block--stat {{ statClass }}">

								<div class="inner--stat">

									<div class="outer--stat outer--stat-{{ stat.size }} uk-flex uk-flex-middle">
										
										<div class="stat stat-{{ stat.size }} hide-element" uk-scrollspy="cls: show-element animated zoomIn; delay: 250;">
										
											<div class="stat--amount">
											
												<span class="stat--val">{{ stat.stat }}</span>

												{% if stat.size == "large" and stat.label|length %}

													<span class="stat--label uk-visible@m">{{ stat.label }}</span>

												{% endif %}
											
											</div>
										
										</div>
									
									</div>

									{% if stat.label|length %}

										<div class="stat--label {% if stat.size == "large" %} uk-hidden@m{% endif %} hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
										
											<p>{{ stat.label }}</p>
										
										</div>

									{% endif %}

								</div>

							</div>

						{% endif %}
				
					{% endfor %}
				
				</div>

			</div>

		</div>

	{% endif %}

</section>