{# Block - Values #}

<section class="section--values font--increase">

	<div class="uk-container" uk-height-match=".inner--value">
	
		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading hide-element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				<h2>{{ block.heading }}</h2>
			
			</div>

		{% endif %}

		{# Values #}

		{% if block.values|length %}

			{% set values = block.values.all() %}
			{% set zindex = 100 %}

			<div class="grid--values uk-grid-small" uk-grid uk-height-match=".block--value">
			
				{% for value in values %}
					
					<div class="grid--block uk-width-1-1 uk-width-1-2@s uk-width-1-4@m grid--block--{{ value.style }}">
					
						<div class="block--value hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;" style="z-index: {{ zindex }};">
						
							<div class="inner--value">

								{# Heading #}

								{% if value.heading|length %}

									<h3>{{ value.heading }}</h3>

								{% endif %}
							
								{# Copy #}

								{% if value.copy|length %}

									<p>{{ value.copy }}</p>

								{% endif %}
							
							</div>
						
						</div>
					
					</div>

					{% set zindex = zindex - 1 %}

				{% endfor %}
			
			</div>

		{% endif %}
	
	</div>

	<div class="values--spacer uk-visible@l"></div>

</section>