{# Block: Whats New List #}

<section class="section--whats-new font--increase">

	<div class="uk-container">

		{# Heading #}

		{% if block.heading|length %}

			<div class="block--heading uk-width-1-1 hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
			
				<div class="inner--heading font--increase">
				
					<h2 class="uk-text-uppercase">{{ block.heading }}</h2>
				
				</div>
			
			</div>

		{% endif %}

		{# What's New List #}

		{% set queryArticles = craft.entries()
			.section('whatsNew')
			.orderBy('postDate desc')
			.limit(9)
		%}

		{% paginate queryArticles as pageInfo, articles %}

		{% if articles|length %}

			<div class="block-articles">
			
				{% for article in articles %}

					<div class="block-article{% if loop.last %} last{% endif %} hide-element{% if article.img|length %} no-border{% endif %} font--increase" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">
					
						{% if article.img|length %}

							{% set asset = article.img.one() %}
							
							<a href="{{ article.getUrl() }}"><img src="{{ asset.getUrl() }}" alt="{{ asset.title }}"></a>

						{% endif %}
					
						<h3>{{ article.title }}</h3>

						<p class="date">{{ article.postDate|date('d / M / Y') }}</p>

						{% if article.intro|length %}
							{{ article.intro }}
						{% endif %}
						
						<p class="link"><a href="{{ article.getUrl() }}">Read more &gt;</a></p>
					
					</div>
					
				{% endfor %}
			
			</div>

			<div class="paginate hide-element font--increase" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

				{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="prev">&lt; Previous</a>{% endif %}
				{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="next">Next &gt;</a>{% endif %}
			
			</div>	

		{% endif %}

	</div>

</section>