<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Charitable Trust - Apply</title>
		<link rel="stylesheet" href="assets/css/screen.min.css">
	</head>
	<body>

	<header class="header">
		<div class="uk-container">
			<div class="header-elements uk-flex uk-flex-between">
				<div class="logo">
					<a href="/"><img src="/assets/img/logo.png" alt=""></a>
				</div>
				<div class="navigation">
					<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
		         <div class="uk-navbar-right">
		             <ul class="uk-navbar-nav">
		             	<li><a href="#">About us</a></li>
		             	<li><a href="#">Our priorities</a></li>
		             	<li><a href="#">How we fund</a></li>
		                <li><a href="/grantees">Grantees</a></li>
		                <li class="uk-active"><a href="/apply">Apply</a></li>
		             </ul>
		         </div>
		    	 		</nav>
				</div>
				<div class="hamburger" uk-toggle="target: .navigation, .hamburger; cls: opened">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</header>

		<section class="hero-apply">
			<div class="uk-container">
				<div class="title" style="margin-top: 0;">
					<h1>Apply</h1>
				</div>
				<div class="text-block">
					<h2>This section explains how to make an application to our open programme (other funding programmes are by invitation only).</h2>
					<p>Open programme grants are usually between <b>£10,000 to £20,000</b> and awarded annually. (ABCT  recently started to award multiyear grants through this programme at the discretion of the Trustees.)</p>
				</div>
			</div>
		</section>

		<section class="application-deadlines">
			<div class="uk-container">
				<div uk-grid class="uk-child-width-1-2@m uk-grid-small">
					<div>
						<div class="info-block">
							<div class="heading">
								<h2>Application deadlines</h2>
								<p>ABCT Trustees meet four times a year to decide upon grant applications. The application deadlines for Trustee meetings in 2019/20 can be found on this page.</p>
							</div>
							<div class="text-block">
								<p><b>Selecting which deadline to apply for</b><br>
								For A B Charitable Trust to be able to carry out due diligence and assessment of the financial health of applicants, we look to fund organisations who can provide signed accounts with a reporting date within 12 months of our application deadline.</p> 
								<p>We recognise that as many charities have a 31 March year end, this condition may be difficult to meet for the April and July deadlines, when we will consider charities with out of date accounts – although any grant would be provisional subject to receipt of the latest signed accounts. For the October and January deadlines, ABCT will not accept applications with out of date accounts, advising such charities to apply again when their latest accounts are ready.</p>
							</div>
						</div>
					</div>
					<div>
						<div class="main-deadline-block">
							<p>The next application deadline is:</p>
							<h3>26th January 2020</h3>
						</div>
						<div class="deadline-block">
							<p>Application deadlines for 2019/20</p>
							<ul>
								<li>
									<h3>28th July 2019</h3>
									<p>Decisions in October 2019</p>
								</li>
								<li>
									<h3>27th October 2019</h3>
									<p>Decisions in January 2020</p>
								</li>
								<li>
									<h3>26th January 2020</h3>
									<p>Decisions in April 2020</p>
								</li>
								<li>
									<h3>26th April 2020</h3>
									<p>Decisions in July 2020</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="making-an-application">
			<div class="uk-container">
				<div uk-grid class="uk-grid-small">
					<div class="uk-width-3-5@m">
						<div class="info-block">
							<div class="heading">
								<h2>Making an application</h2>
								<p>Applications are made online. The application form is available here, but we advise that you review the information below first to ensure your application is eligible.</p>
							</div>
							<div class="text-block">
								<p><b>The application process</b><br>
								We currently fund charities working in three priority areas. Please select which priority you would like to apply under, you will then be taken through a four step process to help you determine your eligibility, find out what ABCT are looking to fund and what is involved in making an application. </p>
								<p>If you are unsure which priority area is right for you, please select the ‘more information’ button under each priority.</p>
							</div>
						</div>
					</div>
					<div class="uk-width-2-5@m">
						<div class="main-block">
							<p>If you have a query about your application, please check our FAQ page before contacting us in case your query can be answered there.</p>
							<a href="#">FAQ's</a>
						</div>
					</div>
				</div>
				<div class="color-blocks">
					<div uk-grid class="uk-child-width-1-3@s" uk-height-match="target: > div > .color-block > p">
						<div>
							<div class="color-block cyan">
								<p>Migrants, refugees and asylum seekers</p>
								<a href="#">More information</a><a href="#">Apply</a>
							</div>
						</div>
						<div>
							<div class="color-block purp">
								<p>Criminal justice and penal reform</p>
								<a href="#">More information</a><a href="#">Apply</a>
							</div>
						</div>
						<div>
							<div class="color-block blue">
								<p>Access to justice</p>
								<a href="#">More information</a><a href="#">Apply</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="uk-container">
				<div class="footer-menu uk-flex">
					<div class="footer-menu-list">
						<ul>
							<li><a href="#">Help & Advice</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="footer-menu-list">
						<p>
							The A B Charitable Trust
							c/o Woodsford 3rd Floor
							8 Bloomsbury St 
							London WC1B 3SR
						</p>
					</div>
					<div class="footer-menu-list">
						<ul>
							<li><span>T. </span><a href="tel:020 7243 9486">020 7243 9486</a></li>
							<li><span>E. </span><a href="mailto:">mail@abcharitabletrust.org.uk</a></li>
						</ul>
						<p>Registered charity number 100147</p>
					</div>
				</div>
			</div>
		</footer>

		
		<!-- scripts -->
		<script src="/assets/js/vendor/jquery/jquery-3.3.1.min.js"></script>
		<script src="/assets/js/vendor/uikit/uikit.min.js"></script>
		<script src="/assets/js/vendor/uikit/uikit-icons.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>