{# Default Page Template #}

{% extends "_layout" %}

{% set templateName = "temp-default" %}

{# {% if craft.app.request.getSegment(2) is defined and craft.app.request.getSegment(2) == 'job' and craft.app.request.getSegment(3)|length %}

    {% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %} #}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# <div class="uk-container"> #}

    {# Banner #}

    {% if entry.banner|length %}

        {% for block in entry.banner.all() %}

            {% switch block.type %}

                {# Standard With Lines #}

                {% case "standardWithLines" %}

                    {% include '_inc/_banner/_banner' %}

                {# Background Image #}

                {% case "backgroundImage" %}

                    {% include '_inc/_banner/_backgroundImage' %}

                {% default %}

                    {% include '_inc/_banner/_banner' %}

            {% endswitch %}

        {% endfor %}

    {% endif %}

	{# Content Blocks #}

	{% include '_inc/_content-blocks' %}

    {# </div> #}

{% endblock %}