<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Charitable Trust - Guarantees</title>
		<link rel="stylesheet" href="assets/css/screen.min.css">
	</head>
	<body>

		<header class="header">
			<div class="uk-container">
				<div class="header-elements uk-flex uk-flex-between">
					<div class="logo">
						<a href="/"><img src="/assets/img/logo.png" alt=""></a>
					</div>
					<div class="navigation">
						<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                		<li><a href="#">About us</a></li>
                		<li><a href="#">Our priorities</a></li>
                		<li><a href="#">How we fund</a></li>
                    <li class="uk-active"><a href="/grantees">Grantees</a></li>
                    <li><a href="/apply">Apply</a></li>
                </ul>
            </div>
       	 		</nav>
					</div>
					<div class="hamburger" uk-toggle="target: .navigation, .hamburger; cls: opened">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</header>

		<section class="hero-slider">
			<div class="uk-container">
				<div class="title">
					<h1>Grantees</h1>
				</div>
				<div class="slider">
					<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">

					    <ul class="uk-slideshow-items">
					        <li>
					            <img src="/assets/img/background.jpg" height="1070" width="1291" alt="" uk-cover>
					            <div class="overlay-bg"></div>
					            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
					                <p class="uk-margin-remove"><a href="#">Caption and grantee link to go here</a></p>
					            </div>
					        </li>
					        <li>
					            <img src="/assets/img/background.jpg" alt="" uk-cover>
					            <div class="overlay-bg"></div>
					            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
					                <p class="uk-margin-remove"><a href="#">Caption and grantee link to go here</a></p>
					            </div>
					        </li>
					    </ul>

					    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

					</div>

				</div>
			</div>
		</section>

		<section class="text-two-blocks">
			<div class="uk-container">
				<div uk-grid class="uk-grid-large uk-child-width-1-2@s">
					<div>
						<div class="text-block">
							<p>
								Supporting charities is a proxy for the A B Charitable Trust in realising its purpose – since it is through their work that disenfranchised and forgotten groups can improve their lives. 
							</p>
						</div>
					</div>
					<div>
						<div class="text-block-small">
							<p>
								You will find information here on grants made to partner grantees in recent years, as well as information for current grant holders.
							</p>
						</div>
						<div class="info-link">
							<a href="#">Information for Grantholders</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="grants-awarded-section">
			<div class="uk-container">
				<div class="title">
					<h2>Grants awarded in 2018/19</h2>
				</div>
				<div class="awarded-list">
					<div uk-grid class="uk-child-width-1-3 uk-flex-bottom">
						<div>
							<div class="awarded-el cyan">
								<div class="top-description">
									<p>Migrants, refugees and asylum seekers</p>
									<h3>£746,225</h3>
								</div>
								<div class="diagram">
									<div class="diagram-size"></div>
									<div class="diagram-info-wrapper">
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
												<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
												<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
												<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						<div>
							<div class="awarded-el purp">
								<div class="top-description">
									<p>Migrants, refugees and asylum seekers</p>
									<h3>£746,225</h3>
								</div>
								<div class="diagram">
									<div class="diagram-size"></div>
									<div class="diagram-info-wrapper">
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
												<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
												<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
												<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						<div>
							<div class="awarded-el blue">
								<div class="top-description">
									<p>Migrants, refugees and asylum seekers</p>
									<h3>£746,225</h3>
								</div>
								<div class="diagram">
									<div class="diagram-size"></div>
									<div class="diagram-info-wrapper">
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
												<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
												<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
												<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
											</div>
										</div>
										<div class="diagram-info">
											<div uk-grid class="uk-grid-collapse">
												<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="awarded-slider">
					<div uk-slideshow>
					    <ul class="uk-slideshow-items">
					        <li>
					          <div class="awarded-el cyan">
					          	<div class="diagram">
					          		<div class="diagram-info-wrapper">
					          			<div class="diagram-info">
					          				<div uk-grid class="uk-grid-collapse">
					          					<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
					          					<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
					          					<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
					          					<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
					          				</div>
					          			</div>
					          			<div class="diagram-info">
					          				<div uk-grid class="uk-grid-collapse">
					          					<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
					          				</div>
					          			</div>
					          			<div class="diagram-info">
					          				<div uk-grid class="uk-grid-collapse">
					          					<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
					          				</div>
					          			</div>
					          		</div>	
					          	</div>
					          </div>
					        </li>
					        <li>
					        	<div class="awarded-el purp">
					        		<div class="diagram">
					        			<div class="diagram-info-wrapper">
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
					        						<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
					        						<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
					        						<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
					        					</div>
					        				</div>
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
					        					</div>
					        				</div>
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
					        					</div>
					        				</div>
					        			</div>	
					        		</div>
					        	</div>
					        </li>
					        <li>
					        	<div class="awarded-el blue">
					        		<div class="diagram">
					        			<div class="diagram-info-wrapper">
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Open programme</p></div><div class="uk-width-2-5"><p>£696,225</p></div>
					        						<div class="uk-width-3-5"><p>Grants awarded</p></div><div class="uk-width-2-5"><p>50</p></div>
					        						<div class="uk-width-3-5"><p>Eligible applications</p></div><div class="uk-width-2-5"><p>80</p></div>
					        						<div class="uk-width-3-5"><p>Total applications</p></div><div class="uk-width-2-5"><p>110</p></div>
					        					</div>
					        				</div>
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Special initiatives</p></div><div class="uk-width-2-5"><p>£50,000</p></div>
					        					</div>
					        				</div>
					        				<div class="diagram-info">
					        					<div uk-grid class="uk-grid-collapse">
					        						<div class="uk-width-3-5"><p>Anchor programme</p></div><div class="uk-width-2-5"><p>£0</p></div>
					        					</div>
					        				</div>
					        			</div>	
					        		</div>
					        	</div>
					        </li>
					    </ul>
					    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
					</div>
				</div>
				<div class="awarded-details">
					<p>For details of the grants awarded to each charity, see our grants awarded page</p>
					<a href="#">Grants awarded</a>
				</div>
			</div>
		</section>

		<section class="info-section">
			<div class="uk-container">
				<div class="info-block">
					<div uk-grid>
						<div class="uk-width-4-5@s uk-width-3-5@m uk-width-1-2@l">
							<div class="text-block">
								<h2>Bonavero Institute</h2>
								<p>In 2015, for its 25th anniversary, the AB Charitable Trust made a gift to establish the Bonavero Institute of Human Rights at Oxford University, dedicated to the study of human rights law.</p>
								<a href="#">More information</a>
							</div>
						</div>
						<div class="uk-width-1-5@suk-width-2-5@m uk-width-1-2@l">
							<div class="image-block">
								<img src="/assets/img/institute-image.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="uk-container">
				<div class="footer-menu uk-flex">
					<div class="footer-menu-list">
						<ul>
							<li><a href="#">Help & Advice</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="footer-menu-list">
						<p>
							The A B Charitable Trust
							c/o Woodsford 3rd Floor
							8 Bloomsbury St 
							London WC1B 3SR
						</p>
					</div>
					<div class="footer-menu-list">
						<ul>
							<li><span>T. </span><a href="tel:020 7243 9486">020 7243 9486</a></li>
							<li><span>E. </span><a href="mailto:">mail@abcharitabletrust.org.uk</a></li>
						</ul>
						<p>Registered charity number 100147</p>
					</div>
				</div>
			</div>
		</footer>

		
		<!-- scripts -->
		<script src="/assets/js/vendor/jquery/jquery-3.3.1.min.js"></script>
		<script src="/assets/js/vendor/uikit/uikit.min.js"></script>
		<script src="/assets/js/vendor/uikit/uikit-icons.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>